/**
 * Animations 
 */
@keyframes rotate {
	0% {
		transform: rotateZ(0);
	}
	25% {
		transform: rotateZ(180deg);
	}
	50% {
		transform: rotateZ(360deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
