/** 
 * Basic elements styles 
 */
html {
	box-sizing: border-box;
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	font-weight: var(--fontWeight);
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body { 
	background: var(--colorBackground);
	color: var(--colorText);
	line-height: var(--lineHeight);
	margin: 0;
}
h1, h2, h3 {
	margin: 1em 0 .5em;
	padding: 0;
	&:first-child, &.isFirst {
		margin-top: .5rem;
	}
}
	h1 {
		font-size: var(--fontSizeH1);
		line-height: 1.2;
	}
	h2 {
		font-size: var(--fontSizeH2);
		line-height: 1.3;
	}
	h3 {
		font-size: var(--fontSizeH3);
		line-height: 1.4;
	}
img {
	max-width: 100%;
	height: auto;
	&[data-lazyload]:not(.loaded) {
		background-color: var(--colorImg, var(--colorLight));
	}
}
p {
	margin: .5em 0;
	padding: 0;
}
small {
	font-size: var(--fontSizeSmall);
}
strong {
	font-weight: var(--fontWeightBold);
}