/**
 * Boxes
 */
.box {
	background-color: var(--colorBackground);
	border-radius: var(--radius);
	border: 1px solid var(--colorBorder);
	box-shadow: var(--shadow);
	margin: calc(4 * var(--paddingButton)) 0;
	> .title {
		border-bottom: 1px solid var(--colorBorder);
		margin: .2rem;
		padding: calc(2 * var(--paddingButton)) calc(3 * var(--paddingButton));
		&.isBrand, &.isError, &.isDelete, &.isSuccess, &.isCreate, &.isUpdated, &.isUpdate, &.isWarning, &.isWarn {
			background-color: color-mix(in srgb, currentColor 5%, transparent);
		}
		h1, h2, h3 {
			margin: 0;
		}
	}
	> .content {
		padding: calc(2 * var(--paddingButton)) calc(3 * var(--paddingButton));
		h1, h2, h3, p {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	> .formActions, > .form .formActions {
		background-color: var(--colorLight);
		border-bottom: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
		border-radius: 0;
		border-top: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
		display: flex;
		padding: calc(2 * var(--paddingButton)) calc(3 * var(--paddingButton));
		&:last-child {
			border-bottom: none;
			border-radius: 0 0 var(--radius) var(--radius);
			margin-bottom: 0;
		}
	}
	> .form {
		.formField {
			padding: 0 calc(3 * var(--paddingButton));
		}
		.formFieldset {
			legend {
				padding-left: calc(3 * var(--paddingButton));
				padding-right: calc(3 * var(--paddingButton));
			}
		}
	}

	&:has(aside) {
		display: grid;
		grid-template-columns: auto minmax(0, 1fr);
		> .title {
			grid-column-end: span 2;
		}
		> aside {
			padding: calc(2 * var(--paddingButton)) var(--paddingButton) calc(2 * var(--paddingButton)) calc(3 * var(--paddingButton));
		}
	}

	/**
	 * Colors
	 */
	&.isTooltip {
		background-color: color-mix(in srgb, var(--colorTooltip) 20%, var(--colorBackground));
		border-color: var(--colorTooltip);
		> .title {
			border-color: var(--colorTooltip);
		}
	}
	&.isBrand, &.isError, &.isDelete, &.isLight, &.isSuccess, &.isCreate, &.isUpdated, &.isUpdate, &.isWarning, &.isWarn {
		color: var(--colorText);
		> .title, > .content {	
			padding: calc(2 * var(--paddingButton)) calc(3 * var(--paddingButton) - 3px);
		}
	}
	&.isError, &.isDelete, &.isSuccess, &.isCreate, &.isUpdated, &.isUpdate, &.isWarning, &.isWarn {
		border-width: 3px;
	}
	&.isBrand { border-color: var(--colorBrand); }
	&.isError, &.isDelete { border-color: var(--colorError); }
	&.isSuccess, &.isCreate { border-color: var(--colorSuccess); }
	&.isUpdated, &.isUpdate { border-color: var(--colorUpdated); }
	&.isWarning, &.isWarn { border-color: var(--colorWarning); }


	@container (max-width: 40rem) {	
		& {
			margin: calc(2 * var(--paddingButton)) 0;
			> .content {
				padding: calc(2 * var(--paddingButton));
			}
		}
		&:has(aside) {
			display: block;
			aside {
				padding: calc(2 * var(--paddingButton)) calc(2 * var(--paddingButton)) 0 calc(2 * var(--paddingButton));
			}
		}
	}
}
