/** 
 * Buttons
 */
.button {
	--opacityBorder: 20%;
	align-items: center;
	appearance: none;
	background-color: color-mix(in srgb, currentColor 5%, var(--colorBackground));
	border-radius: var(--radius);
	border: 1px solid color-mix(in srgb, currentColor var(--opacityBorder), var(--colorBackground));
	box-shadow: var(--shadow);
	color: var(--colorText);
	cursor: pointer;
	display: inline-flex;
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	font-weight: var(--fontWeightMedium);
	justify-content: center;
	line-height: var(--lineHeight);
	outline: 0;
	padding: var(--paddingButton) calc(2 * var(--paddingButton));
	text-decoration: none;
	user-select: none;
	&.isBrand { --opacityBorder: 40%; }
	&.isError, &.isDelete { --opacityBorder: 40%; }
	&.isSuccess, &.isCreate { --opacityBorder: 70%; }
	&.isUpdated, &.isUpdate { --opacityBorder: 40%; }
	&.isWarning, &.isWarn { --opacityBorder: 70%; }
	@media(hover: hover) and (pointer: fine) {
		&:not(.isDisabled, [disabled]) {
			transition: border-color var(--transitionParams);
			&:hover {
				border-color: color-mix(in srgb, currentColor calc(var(--opacityBorder) + 20%), var(--colorBackground));
			}
			&.isHover {
				color: inherit;
				&.isBrand:hover {
					background-color: color-mix(in srgb, currentColor 5%, var(--colorBackground));
					color: var(--colorBrand);
				}
				&.isError:hover, &.isDelete:hover {
					background-color: color-mix(in srgb, currentColor 5%, var(--colorBackground));
					color: var(--colorError);
				}
				&.isSuccess:hover, &.isCreate:hover {
					background-color: color-mix(in srgb, currentColor 5%, var(--colorBackground));
					color: var(--colorSuccess);
				}
				&.isUpdated:hover, &.isUpdate:hover {
					background-color: color-mix(in srgb, currentColor 5%, var(--colorBackground));
					color: var(--colorUpdated);
				}
				&.isWarning:hover, &.isWarn:hover {
					background-color: color-mix(in srgb, currentColor 5%, var(--colorBackground));
					color: var(--colorWarning);
				}
				&.isOutlined:hover {
					background-color: var(--colorBackground);
				}
			}
		}
	}
	&.isOutlined {	
		background-color: var(--colorBackground);
	}
	&.isPrimary {
		background-color: var(--colorLight);
		box-shadow: 0px 1px 2px 0px color-mix(in srgb, var(--colorText) 5%, var(--colorBackground)), 0px 2px 4px 0px color-mix(in srgb, var(--colorText) 5%, var(--colorBackground));
		&.isBrand {
			background-color: var(--colorBrand);
			border-color: var(--colorBrand);
			color: var(--colorTextOnDark);
		}
		&.isError, &.isDelete {
			background-color: var(--colorError);
			border-color: var(--colorError);
			color: var(--colorTextOnDark);
		}
		&.isSuccess, &.isCreate {
			background-color: var(--colorSuccess);
			border-color: var(--colorSuccess);
			color: var(--colorTextOnDark);
		}
		&.isUpdated, &.isUpdate {
			background-color: var(--colorUpdated);
			border-color: var(--colorUpdated);
			color: var(--colorTextOnDark);
		}
		&.isWarning, &.isWarn {
			background-color: var(--colorWarning);
			border-color: var(--colorWarning);
			color: var(--colorTextOnDark);
		}
		&.isOutlined {
			background-color: var(--colorLight);
			border-color: var(--colorLight);
		}
	}
	&.isInvisible {
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;
		font-weight: var(--fontWeight);
	}
	&.isSmall {
		--paddingButton: .3rem;
		font-size: var(--fontSizeSmall);
	}
	&.isLarge {
		--paddingButton: .6rem;
		font-size: var(--fontSizeH3);
	}
	&.isLight:not(.isInvisible) {
		background-color: color-mix(in srgb, var(--colorTextLight) 5%, var(--colorBackground));
		color: var(--colorText);
	}
	&.isDisabled, &[disabled] {
		background-color: color-mix(in srgb, currentColor 5%, var(--colorBackground));
		border-color: color-mix(in srgb, currentColor 10%, var(--colorBackground));
		color: color-mix(in srgb, var(--colorText) 50%, transparent) !important;
		cursor: not-allowed;
		opacity: .5;
		&.isPrimary {
			color: color-mix(in srgb, var(--colorBackground) 50%, transparent) !important;
		}
	}
	i, svg {
		margin: 0 var(--paddingButton);
		&:first-child, &:only-child {
			margin-left: 0;
		}
		&:not(:only-child):last-child {
			margin-right: 0;
		}
		&.isAlone {
			margin: 0;
		}
		&.isRight {
			margin-left: var(--paddingButton);
			margin-right: 0;
		}
	}
	svg {
		height: 1em;
		width: auto;
	}
}


/**
 * Dropdowns 
 */
.dropdown {
	--dropdownMinWidth: 12rem;
	--dropdownMaxWidth: 36rem;
	display: inline-flex;
	position: relative;
	vertical-align: top;
	.dropdownAction {
		&.withChevron:after {
			@extend .dripicons;
			content: "\54";
			margin-left: var(--paddingButton);
			transform: rotate(0deg);
			transition: transform var(--transitionParams);
		}
	}
	.dropdownOverlay {
		background-color: var(--colorBackground);
		display: none;
		height: 100%;
		left: 0;
		opacity: .1;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: calc(var(--zIndex) - 1);
	}
	.dropdownContainer {
		display: none;
		left: 0;
		position: absolute;
		top: 100%;
		z-index: calc(var(--zIndex) + 0);
		.content {	
			background-color: var(--colorBackground);
			border-radius: var(--radius);
			border: 1px solid color-mix(in srgb, var(--colorText) 20%, transparent);
			box-shadow: var(--shadow);
			color: var(--colorText);
			max-height: 50vh;
			overflow-y: auto;
			nav {
				background-color: color-mix(in srgb, var(--colorText) 3%, transparent);
				&:first-child {
					a:first-child {
						border-top: none;
					}
				}
				a {
					border-top: 1px solid color-mix(in srgb, var(--colorText) 20%, transparent);
					color: var(--colorText);
					display: block;
					justify-content: left;
					overflow: hidden;
					padding: calc(1.5 * var(--paddingButton)) calc(2 * var(--paddingButton)); 
					text-decoration: none;
					text-overflow: ellipsis;
					white-space: nowrap;
					&:has(i) {
						align-items: center;
						display: flex;
						justify-content: left;
						i {
							margin: 0 calc(1.5 * var(--paddingButton));
							&:first-child, &:only-child {
								margin-left: 0;
							}
							&:not(:only-child):last-child {
								margin-right: 0;
							}
							&.isRight {
								margin-left: var(--paddingButton);
								margin-right: 0;
							}
						}
						span.text {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}
					&.isActive {
						background-color: color-mix(in srgb, var(--colorFocus) 10%, transparent);
					}
					@media(hover: hover) and (pointer: fine) {
						&:hover {
							background-color: color-mix(in srgb, var(--colorFocus) 10%, transparent);
						}
					}
				}
			}
			p {
				border-top: 1px solid color-mix(in srgb, var(--colorText) 20%, transparent);
				margin: 0;
				padding: var(--paddingButton) calc(2 * var(--paddingButton)); 
				&:first-child {
					border-top: none;
				}
			}
		}
	}
	&.isActive {
		.dropdownAction {
			border-color: color-mix(in srgb, currentColor 40%, transparent);
			z-index: calc(var(--zIndex) + 0);
			&.withChevron:after {
				transform: rotate(180deg);
				transition: transform var(--transitionParams);
			}
		}
		.dropdownOverlay {
			display: block;
		}
		.dropdownContainer {
			display: block;
			padding: .4rem 0;
			max-width: var(--dropdownMaxWidth);
			min-width: var(--dropdownMinWidth);		
		}
	}
	&.isRight {
		.dropdownContainer {
			right: 0;
			left: auto;
		}
	}
	&.isUp {
		.dropdownAction {
			&.withChevron:after {
				content: "\57";
			}
		}
		.dropdownContainer {
			bottom: 100%;
			top: auto;
		}
	}
}

.buttons {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: calc(2 * var(--paddingButton));
	justify-content: flex-start;
	margin: calc(3 * var(--paddingButton)) 0;
	&.isCenter {
		justify-content: center;
	}
	&.isRight {
		justify-content: flex-end;
	}
}