/**
 * Feedbacks messages
 */
.feedback {
	align-items: flex-start;
	background-color: var(--colorBackground);
	border-radius: var(--radius);
	display: flex;
	margin: calc(2 * var(--paddingButton)) 0;
	padding: var(--paddingButton);
	> i {
		flex-grow: 0;
		flex-shrink: 0;
		margin: 0 var(--paddingButton);
		text-align: center;
		& + p {
			margin-top: 0;
		}
	}
	> p {
		margin: 0 var(--paddingButton);
	}
}
