/**
 * Forms and fiels
 */
.form {
	container-type: inline-size;
	&.isCreate, &.isSuccess {
		color: var(--colorText);
		legend {
			background-color: color-mix(in srgb, var(--colorSuccess) 6%, transparent);
			box-shadow: inset 0 -.0625em .125em color-mix(in srgb, var(--colorSuccess) 40%, transparent);
		}
		.formFieldset.isClosed {
			legend {
				background: repeating-linear-gradient(45deg, color-mix(in srgb, var(--colorSuccess) 4%, var(--colorBackground)), color-mix(in srgb, var(--colorSuccess) 4%, var(--colorBackground)) 1rem, var(--colorBackground) 1rem, var(--colorBackground) 2rem);
			}
		}
	}
	&.isDelete, &.isError {
		color: var(--colorText);
		legend {
			background-color: color-mix(in srgb, var(--colorError) 6%, transparent);
			box-shadow: inset 0 -.0625em .125em color-mix(in srgb, var(--colorError) 40%, transparent);
		}
		.formFieldset.isClosed {
			legend {
				background: repeating-linear-gradient(45deg, color-mix(in srgb, var(--colorError) 4%, var(--colorBackground)), color-mix(in srgb, var(--colorError) 4%, var(--colorBackground)) 1rem, var(--colorBackground) 1rem, var(--colorBackground) 2rem);
			}
		}
	}
	&.isUpdate, &.isUpdated {
		color: var(--colorText);
		legend {
			background-color: color-mix(in srgb, var(--colorUpdated) 6%, transparent);
			box-shadow: inset 0 -.0625em .125em color-mix(in srgb, var(--colorUpdated) 40%, transparent);
		}
		.formFieldset.isClosed {
			legend {
				background: repeating-linear-gradient(45deg, color-mix(in srgb, var(--colorUpdated) 4%, var(--colorBackground)), color-mix(in srgb, var(--colorUpdated) 4%, var(--colorBackground)) 1rem, var(--colorBackground) 1rem, var(--colorBackground) 2rem);
			}
		}
	}
	&.isWarn, &.isWarning {
		color: var(--colorText);
		legend {
			background-color: color-mix(in srgb, var(--colorWarning) 6%, transparent);
			box-shadow: inset 0 -.0625em .125em color-mix(in srgb, var(--colorWarning) 40%, transparent);
		}
		.formFieldset.isClosed {
			legend {
				background: repeating-linear-gradient(45deg, color-mix(in srgb, var(--colorWarning) 4%, var(--colorBackground)), color-mix(in srgb, var(--colorWarning) 4%, var(--colorBackground)) 1rem, var(--colorBackground) 1rem, var(--colorBackground) 2rem);
			}
		}
	}
	&:first-child:not(:has(.formFieldset)) {
		.formField.isFirst {
			margin-top: calc(var(--paddingButton) * 4);
			.modal & {
				margin-top: var(--paddingButton);
			}
		}
	}
}
.formFieldset {
	margin: calc(var(--paddingButton) * 2) 0 calc(var(--paddingButton) * 4) 0;
	legend {
		background-color: color-mix(in srgb, var(--colorTooltip) 6%, transparent);
		border-top: 1px solid var(--colorBorder);
		box-shadow: inset 0 -.0625em .125em color-mix(in srgb, var(--colorTooltip) 40%, transparent);
		color: var(--colorText);
		padding: calc(2 * var(--paddingButton)) calc(3 * var(--paddingButton));
		margin: calc(var(--paddingButton) * 6) 0 calc(var(--paddingButton) * 3) 0;
		[data-action="open"] {
			display: none;
		}
	}
	&:first-child, &.isFirst {
		margin-top: 0;
		legend {
			border-radius: var(--radius) var(--radius) 0 0;
			border-top: none;
			margin-top: 0;
		}
	}
	.modal & {
		margin-left: calc(-1 * var(--paddingModal));
		margin-right: calc(-1 * var(--paddingModal));
	}
	.modal .modalTitle + & {
		margin-top: calc(-2 * var(--paddingModal));
		legend {
			border-top: none;
		}
	}
	&.isClosed {
		margin-bottom: 0;
		legend {
			background: repeating-linear-gradient(45deg, color-mix(in srgb, var(--colorTooltip) 6%, var(--colorBackground)), color-mix(in srgb, var(--colorTooltip) 6%, var(--colorBackground)) 1rem, var(--colorBackground) 1rem, var(--colorBackground) 2rem);
			border-bottom: 1px solid var(--colorBorder);
			box-shadow: none;
			margin-bottom: 0;
			padding-bottom: var(--paddingButton);
			padding-top: var(--paddingButton);
			[data-action="open"] {
				display: inline-flex;
				margin-left: calc(2 * var(--paddingButton));
			}
		}
		.formField {
			display: none;
		}
		+ .formActions {
			margin-top: 0;
			&::before {
				display: none;
			}
		}
	}
}
.formField {
	display: flex;
	gap: calc(var(--paddingButton) * 2);
	margin: 0 0 calc(var(--paddingButton) * 2) 0;
	&:has(> .input select:focus), &:has(> .input input:focus), &:has(> .input textarea:focus) {
		.formFieldLabel {
			color: var(--colorFocus);
		}
	}
	.formFieldLabel {
		flex-grow: 0;
		flex-shrink: 0;
		max-width: 100%;
		width: clamp(16rem, 25%, 32rem);
		label {
			display: block;
			font-weight: var(--fontWeightMedium);
			padding: calc(var(--paddingButton) + 1px) 0;
			text-align: right;
		}
	}
	.formFieldValue {
		flex-grow: 0;
		flex-shrink: 0;
		max-width: 100%;
		width: calc(100% - (var(--paddingButton) * 2) - clamp(16rem, 25%, 32rem));
		.group {
			align-items: stretch;
			display: flex;
			max-width: 100%;
			overflow: hidden;
			&:not(:last-child) {
				margin-bottom: var(--paddingButton);
			}
			.input:not(:only-child):not(:last-child) {
				input, .inputElements, label:has(input[type="checkbox"]), label:has(input[type="radio"]), select, textarea, .prefix, .postfix {
					border-bottom-right-radius: 0;
					border-top-right-radius: 0;
				}
			}
			.input:not(:only-child):not(:first-child) {
				input, .inputElements, label:has(input[type="checkbox"]), label:has(input[type="radio"]), select, textarea, .prefix, .postfix {
					border-bottom-left-radius: 0;
					border-top-left-radius: 0;
				}
			}
			.input:has(input[type="radio"]):not(:last-child) {
				margin: 0 -1px 0 0;
			}
			&.isList {
				justify-content: flex-start;
				flex-wrap: wrap;
				.input {
					&:has(input[type="checkbox"]),
					&:has(input[type="radio"]) {
						box-sizing: content-box;
						margin: 0 var(--paddingButton) var(--paddingButton) 0 !important;;
						width: auto;
						label {
							border-radius: var(--radius) !important;
							margin: 0;
						}
					}
					&:has(input[type="radio"]) {
						box-sizing: content-box;
						width: auto;
						label {
							margin: 0;
						}
					}
				}
			}
			&.isSingle {
				flex-direction: column;
				input, .inputElements, label:has(input[type="checkbox"]), label:has(input[type="radio"]), select, textarea, .prefix, .postfix {
					border-radius: var(--radius) !important;
					margin: 0;
				}
				.input:not(last-child) {
					margin-bottom: var(--paddingButton) !important;
				}
			}
			&.isSticky {
				margin-bottom: 0;
				.input {
					input, .inputElements, label:has(input[type="checkbox"]), label:has(input[type="radio"]), select, textarea, .prefix, .postfix {
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
						margin-bottom: -1px;
					}
				}
				+ .group {
					.input {
						input, .inputElements, label:has(input[type="checkbox"]), label:has(input[type="radio"]), select, textarea, .prefix, .postfix {
							border-top-left-radius: 0;
							border-top-right-radius: 0;
						}
					}
				}
			}
			/* Sizes */
			&.isSmall {
				max-width: 20rem;
			}
			&.isMedium {
				max-width: 40rem;
			}
			&.isLarge {
				max-width: 60rem;
			}
		}
	}
	&.isErroneous {
		.formFieldLabel {
			color: var(--colorError);
		}
	}
	&.isFullwidth {
		display: block;
		.formFieldLabel {
			width: 100%;
			label {
				text-align: left;
			}
		}
	}
	@container (max-width: 60rem) {
		& {
			flex-direction: column;
			.formFieldLabel {
				width: 100%;
				label {
					padding-bottom: .1rem;
					text-align: left;
				}
			}
			.formFieldValue {
				width: 100%;
			}
		}
	}
}
.formActions {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: flex-start;
	margin: calc(var(--paddingButton) * 4) 0 calc(var(--paddingButton) * 2) 0;
	position: sticky;
	z-index: calc(var(--zIndex) + 10);
	&:before {
		background: linear-gradient(0deg, var(--colorBackground) 0%, transparent 80%);
		content: ' ';
		display: block;
		height: calc(4 * var(--paddingButton));
		left: 0;
		position: absolute;
		top: calc(-4 * var(--paddingButton) - 1px);
		width: 100%;
	}
	> .button, > .dropdown {
		&:not(:last-child) {
			margin-right: calc(var(--paddingButton) * 2);	
		}
		&.isLeft {
			margin-right: auto;
		}
		&.isRight {
			margin-left: auto;
		}
	}
	&.isCenter {
		justify-content: center;
		> .button, > .dropdown {
			margin-left: calc(var(--paddingButton) * 2);
			margin-right: calc(var(--paddingButton) * 2);
		}
	}
	&.isRight {
		justify-content: flex-end;
		> .button:not(.isLeft), > .dropdown:not(.isLeft) {
			&:not(:first-child) {
				margin-left: calc(var(--paddingButton) * 2);
			}
			margin-right: 0;
		}
	}
	@container (max-width: 40rem) {
		& {
			flex-direction: column;
			align-items: flex-start;
			&.isCenter {
				align-items: center;
			}
			&.isRight {
				align-items: flex-end;
			}
			> .button, > .dropdown {
				margin: var(--paddingButton) 0;
			}
		}
	}
}