/**
 * Color helpers
 */
.isBrand {
	color: var(--colorBrand);
}
.isError, .isDelete {
	color: var(--colorError);
}
.isLight {
	color: var(--colorTextLight);
}
.isSuccess, .isCreate {
	color: var(--colorSuccess);
}
.isUpdated, .isUpdate {
	color: var(--colorUpdated);
}
.isWarning, .isWarn {
	color: var(--colorWarning);
}


/**
 * Size/position helpers
 */
&.isCenter {
	text-align: center;
}
&.isH1 {
	font-size: var(--fontSizeH1);
}
&.isH2 {
	font-size: var(--fontSizeH2);
}
&.isH3 {
	font-size: var(--fontSizeH3);
}
&.isEllipsis {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/**
 * Misc helpers
 */
.isMonospace {
	font-family: var(--fontFamilyMonospace);
}


/**
 * PHPDebugBar
 */
div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-value.phpdebugbar-widgets-request {
	color: var(--colorUpdated);
	&:before {
		content: "\f2d2";
	}
}
