/**
 * Inputs
 */
.input {
	--sizeIcon: 2rem;
	align-items: stretch;
	display: inline-flex;
	justify-content: flex-start;
	max-width: 100%;
	position: relative;
	width: 100%;
	input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="file"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], .inputElements, label:has(input[type="checkbox"]), label:has(input[type="radio"]), select, textarea {
		align-items: center;
		appearance: none;
		background-color: var(--colorBackground);
		border-radius: var(--radius);
		border: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
		box-shadow: var(--shadowIn);
		color: var(--colorText);
		display: inline-flex;
		font-size: var(--fontSize);
		font-weight: var(--fontWeight);
		justify-content: flex-start;
		line-height: var(--lineHeight);
		margin: 0;
		max-width: 100%;
		outline: 0;
		padding: var(--paddingButton) calc(2 * var(--paddingButton));
		vertical-align: top;
		width: 100%;
		&:not(.isMonospace) {
			font-family: var(--fontFamily);
		}
		&.isDisabled, &:disabled, &[disabled] {
			background-color: color-mix(in srgb, currentColor 5%, transparent);
			color: color-mix(in srgb, var(--colorText) 50%, transparent) !important;
			cursor: not-allowed;
		}
		&.isDigits {
			letter-spacing: .5rem;
		}
		&.isRight {
			text-align: right;
		}
	}
	input[type="checkbox"],
	input[type="radio"] {
		left: -9999px;
		position: absolute;
	}	
	input[type="color"] {
		height: calc((var(--lineHeight) * 1rem));
		width: 3rem;
		box-sizing: content-box;
	}
	input[type="number"] {
		padding: var(--paddingButton);
		width: 10rem;
	}
	&:has(input[type="checkbox"]),
	&:has(input[type="radio"]) {
		min-width: 0;
		label {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	label:has(input[type="checkbox"]) {
		position: relative;
		padding-left: calc(var(--paddingButton) + 2rem);
		&::before {
			@extend .dripicons;
			align-items: center;
			background-color: var(--colorLight);
			border-radius: var(--radius) 0 0 var(--radius);
			border-right: 1px solid var(--colorBorder);
			color: transparent;
			content: "\39";
			display: flex;
			height: 100%;
			justify-content: center;
			left: 0;
			position: absolute;
			top: 0;
			width: 2rem;
		}
	}
	label:has(input[type="checkbox"]:checked) {
		&::before {
			background-color: color-mix(in srgb, var(--colorFocus) 5%, transparent);
			color: var(--colorFocus);
			content: "\53";
		}
	}
	label:has(input[type="radio"]) {
		&::after {
			@extend .dripicons;
			align-items: center;
			color: transparent;
			content: "\39";
			display: flex;
			height: 100%;
			justify-content: center;
			padding-left: .5rem;
		}
	}
	label:has(input[type="radio"]:checked) {
		background-color: color-mix(in srgb, var(--colorFocus) 5%, transparent);
		&::after {
			color: var(--colorFocus);
			content: "\53";
		}
	}
	textarea {
		min-height: 5rem;
		max-height: 75vh;
		resize: vertical;
	}
	/* inputElements */
	.inputElements {
		align-items: flex-start;
		flex-direction: column;
		justify-content: stretch;
		padding: 0;
		.inputElementsItems {
			display: flex;
			flex-direction: column;
			gap: var(--paddingButton);
			list-style: none;
			margin: 0;
			padding: calc(2 * var(--paddingButton));
			width: 100%;
			&:not(:has(.inputElementsItem)) {
				display: none;
				& + .inputElementsActions,
				& + .inputElementsFootnote {
					border-top: none;
					border-radius: var(--radius) var(--radius) 0 0;
				}
			}
			.inputElementsItem {
				align-items: stretch;
				border-radius: var(--radius);
				border: 1px solid color-mix(in srgb, currentColor 20%, transparent);
				display: flex;
				justify-content: flex-start;
				min-height: 4rem;
				user-select: none;
				.inputElementsItemIcon {
					align-items: center;
					background-color: var(--colorLight);
					border-radius: var(--radius) 0 0 var(--radius);
					display: flex;
					flex-grow: 0;
					flex-shrink: 0;
					min-height: 4rem;
					justify-content: center;
					opacity: 1;
					overflow: hidden;
					width: 4rem;
					i {
						font-size: 1.2em;
					}
					img {
						display: block;
						height: 100%;
						object-fit: cover;
						width: 100%;
					}
				}
				.inputElementsItemText {
					align-items: flex-start;
					display: flex;
					flex-direction: column;
					justify-content: center;
					max-width: calc(100% - 12rem);
					padding: var(--paddingButton) calc(2 * var(--paddingButton));
					width: 100%;
					> small {
						color: var(--colorTextLight);
						display: block;
						font-size: var(--fontSize);
					}
					strong {
						font-weight: var(--fontWeight);
						&.title {
							font-weight: var(--fontWeightBold);
						}
					}
				}
				.inputElementsItemActions {
					align-items: center;
					display: flex;
					flex-shrink: 0;
					gap: var(--paddingButton);
					margin-left: auto;
					padding: 0 calc(2 * var(--paddingButton));
					white-space: nowrap;
				}
			}
		}
		.inputElementsActions {
			align-items: stretch;
			background-color: color-mix(in srgb, var(--colorLight) 50%, var(--colorBackground));
			border-top: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
			display: flex;
			flex-wrap: wrap;
			gap: calc(2 * var(--paddingButton));
			justify-content: stretch;
			padding: calc(2 * var(--paddingButton));
			width: 100%;
			> .button {
				flex-grow: 0;
				flex-shrink: 0;
				justify-content: flex-start;
				width: calc(50% - var(--paddingButton));
				&:only-child {
					width: 100%;
				}
				i {
					font-size: 1.5rem;
					margin: 0 calc(2 * var(--paddingButton)) 0 var(--paddingButton);
				}
				> span {
					small {
						color: var(--colorTextLight);
						display: block;
						font-weight: var(--fontWeight);
					}
				}
			}
		}
		@container (max-width: 50rem) {
			.inputElementsActions {
				flex-direction: column;
				> .button {
					width: 100%;
				}
			}
		}
		.inputElementsFootnote {
			align-items: center;
			background-color: var(--colorLight);
			border-radius: 0 0 var(--radius) var(--radius);
			border-top: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
			color: var(--colorTextLight);
			display: flex;
			font-size: var(--fontSizeSmall);
			justify-content: center;
			padding: var(--paddingButton) calc(2 * var(--paddingButton));
			text-align: center;
			width: 100%;
		}	
	}
	i + .inputElements {
		.inputElementsActions,
		.inputElementsFootnote {	
			border-left: 1px solid color-mix(in srgb, currentColor 20%, transparent);
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
	}
	/* Icons */
	&:has(select):not(:has(i.isRight))::after {
		@extend .dripicons;
		align-items: center;
		content: "\54";
		display: inline-flex;
		height: 100%;
		justify-content: center;
		margin-left: var(--paddingButton);
		position: absolute;
		right: 0;
		top: 0;
		width: calc(calc(2 * var(--paddingButton)) + var(--sizeIcon));
		z-index: var(--zIndex);
	}
	> i {
		align-items: center;
		display: inline-flex;
		height: 100%;
		justify-content: center;
		left: 0;
		position: absolute;
		top: 0;
		width: calc(calc(2 * var(--paddingButton)) + var(--sizeIcon));
		z-index: calc(var(--zIndex) + 10);
		&.isRight {
			left: auto;
			right: 0;
		}
	}
	&:has(> i:not(.isRight)) {
		input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="file"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], .inputElements, select, textarea {
			padding-left: calc(var(--sizeIcon) + (2 * var(--paddingButton)));
		}
	}
	&:has(> i.isRight), &:has(select) {
		input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="file"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], .inputElements, select, textarea {
			padding-right: calc(var(--sizeIcon) + (2 * var(--paddingButton)));
		}
	}
	/* Postfix+Prefix */
	> .prefix, > .postfix {
		align-items: center;
		background-color: var(--colorLight);
		border: 1px solid color-mix(in srgb, currentColor 20%, transparent);
		color: var(--colorTextLight);
		display: inline-flex;
		font-weight: var(--fontWeightMedium);
		justify-content: center;
		line-height: var(--lineHeight);
		max-width: 30%;
		overflow: hidden;
		padding: var(--paddingButton) calc(2 * var(--paddingButton));
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	> .prefix {
		border-radius: var(--radius) 0 0 var(--radius);
	}
	&:has(> .prefix) {
		input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="file"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], .inputElements, label:has(input[type="checkbox"]), label:has(input[type="radio"]), select, textarea {
			border-bottom-left-radius: 0;
			border-left: none;
			border-top-left-radius: 0;
		}
	}
	> .postfix {
		border-radius: 0 var(--radius) var(--radius) 0;
	}
	&:has(> .postfix) {
		input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="file"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], .inputElements, label:has(input[type="checkbox"]), label:has(input[type="radio"]), select, textarea {
			border-bottom-right-radius: 0;
			border-right: none;
			border-top-right-radius: 0;
		}
	}
	/* Colors */
	&.isBrand {
		input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="file"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], .inputElements, select, textarea {
			border-color: var(--colorBrand);
			color: var(--colorText);
		}
	}
	&.isError, &.isDelete {
		input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="file"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], .inputElements, select, textarea {
			border-color: var(--colorError);
			color: var(--colorText);
		}
	}
	&.isSuccess, &.isCreate {
		input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="file"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], .inputElements, select, textarea {
			border-color: var(--colorSuccess);
			color: var(--colorText);
		}
	}
	&.isUpdated, &.isUpdate {
		input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="file"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], .inputElements, select, textarea {
			border-color: var(--colorUpdated);
			color: var(--colorText);
		}
	}
	&.isWarning, &.isWarn {
		input[type="color"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="file"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], .inputElements, select, textarea {
			border-color: var(--colorWarning);
			color: var(--colorText);
		}
	}
	/* Sizes */
	&.isSmall {
		max-width: 10rem;
	}
	&.isMedium {
		max-width: 20rem;
	}
	&.isLarge {
		max-width: 30rem;
	}
}


/**
 * Input states and properties
 */
.input select:focus, .input select:focus-within, 
.input input:focus, .input input:focus-within, 
.input textarea:focus, .input textarea:focus-within {
	border-color: var(--colorFocus);
	box-shadow: var(--shadowFocus);
	z-index: calc(var(--zIndex) + 0);
}
.select select::-moz-placeholder, .input::-moz-placeholder, .textarea::-moz-placeholder {
	color: var(--colorTextPlaceholder);
}
.select select::-webkit-input-placeholder, .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
	color: var(--colorTextPlaceholder);
}
.select select:-moz-placeholder, .input:-moz-placeholder, .textarea:-moz-placeholder {
	color: var(--colorTextPlaceholder);
}
.select select:-ms-input-placeholder, .input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
	color: var(--colorTextPlaceholder);
}