/* Modals */
.modal {
	align-items: center;
	backdrop-filter: blur(3px);
	background-color: color-mix(in srgb, var(--colorBackgroundModal) 30%, transparent);
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: fixed;
	top: 0;
	transition: background-color var(--transitionParams);	
	width: 100%;
	z-index: calc(var(--zIndex) + 100);
	/* Positions */
	&.isBottom {
		align-items: flex-end;
	}
	&.isLeft {
		justify-content: flex-start;
	}
	&.isRight {
		justify-content: flex-end;
	}
	&.isTop {
		align-items: flex-start;
	}
	/* Sizes */
	&.isSmall {
		> .content {
			max-width: 30rem;
		}
	}
	&.isLarge {
		> .content {
			max-width: 50rem;
		}
	}
	&.isFullscreen {
		> .content {
			max-height: calc(100% - (4 * var(--paddingModal)));
			max-width: calc(100% - (4 * var(--paddingModal)));
		}
	}
	&.isFluid {
		> .content {
			width: auto;
		}
	}
	/* Optional overlay to close */
	.modalOverlay {
		background-color: transparent;
		display: block;
		height: 100%;
		left: 0;
		opacity: .1;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: calc(var(--zIndex) - 1);
	}
	/* Content */
	> .modalLoading, > .content {
		background-color: var(--colorBackground);
		border-radius: var(--radius);
		box-shadow: var(--shadowModal);
		margin: calc(4 * var(--paddingModal));
		max-width: 40rem;
		opacity: 1;
		overflow-x: hidden;
		overflow-y: auto;
		padding: var(--paddingModal);
		position: relative;
		transition: opacity var(--transitionParams) .2s;	
		z-index: calc(var(--zIndex) + 110);
	}
	> .modalLoading {
		display: none;
		width: auto;
		i {
			animation: rotate 1.2s linear infinite both;
			display: block;
		}
	}
	> .content {
		max-height: calc(90% - (4 * var(--paddingModal)));
		max-width: 40rem;
		min-width: 200px;
		width: calc(100% - (4 * var(--paddingModal)));
		.modalTitle {
			align-items: center;
			background-color: var(--colorLight);
			border-bottom: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
			display: flex;
			justify-content: flex-end;
			margin: calc(-1 * var(--paddingModal)) 0 var(--paddingModal) calc(-1 * var(--paddingModal)); 
			max-width: calc(100% + (2 * var(--paddingModal)));
			padding: var(--paddingModal);
			position: sticky;
			top: calc(-1 * var(--paddingModal));
			width: calc(100% + (2 * var(--paddingModal)));
			z-index: calc(var(--zIndex) + 100);
			&.isBrand, &.isError, &.isDelete, &.isSuccess, &.isCreate, &.isUpdated, &.isUpdate, &.isWarning, &.isWarn {
				background-color: color-mix(in srgb, currentColor 5%, transparent);
			}
			h1, h2, h3 {
				font-size: var(--fontSizeH3);
				font-weight: var(--fontWeightMedium);
				margin: 0;
				padding-right: var(--paddingModal);
				width: 100%;
			}
			a.modalClose,
			a.modalExpand {
				align-items: center;	
				border-radius: 2rem;	
				color: var(--colorText);
				display: flex;
				flex-grow: 0;
				flex-shrink: 0;
				height: 2rem;
				justify-content: center;
				margin: calc(-.5 * var(--paddingButton)) 0 calc(-.5 * var(--paddingButton)) var(--paddingButton);
				overflow: hidden;
				text-decoration: none;
				width: 2rem;
				&::before {
					@extend .dripicons;
					content: "\39";
				}
			}
			a.modalClose {
				background-color: var(--colorError);
				color: var(--colorTextOnDark);
				@media(hover: hover) and (pointer: fine) {
					background-color: color-mix(in srgb, currentColor 5%, transparent);
					color: var(--colorText);
					&:hover {
						background-color: var(--colorError);
						color: var(--colorTextOnDark);
					}
				}
				&::before {
					@extend .dripicons;
					content: "\39";
				}
			}
			a.modalExpand {
				background-color: var(--colorSuccess);
				color: var(--colorTextOnDark);
				@media(hover: hover) and (pointer: fine) {
					background-color: color-mix(in srgb, currentColor 5%, transparent);
					color: var(--colorText);
					&:hover {
						background-color: var(--colorSuccess);
						color: var(--colorTextOnDark);
					}
				}
				&::before {
					@extend .dripicons;
					content: "\3e";
				}
			}
		}
		.formActions {
			background-color: var(--colorLight);
			border-top: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
			bottom: calc(-1 * var(--paddingModal));
			display: flex;
			margin: calc(2 * var(--paddingModal)) 0 calc(-1 * var(--paddingModal)) calc(-1 * var(--paddingModal)); 
			max-width: calc(100% + (2 * var(--paddingModal)));
			padding: var(--paddingModal);
			width: calc(100% + (2 * var(--paddingModal)));
		}
	}
	&.isHidden {
		background-color: color-opacity(--colorText, 0);
		height: 0;
		width: 0;
		> .content {
			opacity: 0;
		}
	}
	.iframe & {
		> .content {
			margin: 0;
			height: 100%;
			width: 100%;
		}
	}
	&.isLoading {
		> .modalLoading {
			display: block;
		}
		> .content {
			display: none;
			opacity: 0;
		}
	}
	@media (max-width: 499px) {
		& {
			> .content {
				margin: calc(1 * var(--paddingModal));
				max-width: calc(100% - (1 * var(--paddingModal)));
				width: calc(100% - (1 * var(--paddingModal)));
			}
		}
	}
}
