/**
 * Tags
 */
.tag {
	align-items: center;
	background-color: color-mix(in srgb, currentColor 5%, var(--colorBackground));
	border: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
	border-radius: var(--radius);
	color: var(--colorText);
	display: inline-flex;
	font-size: var(--fontSizeSmall);
	font-weight: var(--fontWeightMedium);
	height: calc(var(--lineHeight) * 1rem);
	justify-content: center;
	line-height: 1.2;
	max-width: 10rem;
	overflow: hidden;
	padding: 0 var(--paddingButton);
	text-overflow: ellipsis;
	white-space: nowrap;
	.isBrand, .isError, .isDelete, .isLight, .isSuccess, .isCreate, .isUpdated, .isUpdate, .isWarning, .isWarn {
		background-color: color-mix(in srgb, currentColor 5%, var(--colorBackground));
	}
	img& {
		background-color: var(--colorBakground);
		border: 0;
		display: inline-block;
		max-height: 1em;
		padding: 0 2px;
	}
}
