/**
 * Tooltips 
 */
[data-tooltip]:not(.isDisabled) {
	overflow: visible !important;
	position: relative;
	&::after {
		background-color: color-mix(in srgb, var(--colorTooltip) 20%, var(--colorBackground));
		border-radius: var(--radius);
		border: 1px solid color-mix(in srgb, currentColor 20%, transparent);
		box-shadow: var(--shadow);
		color: var(--colorTextTooltip);	
		content: attr(data-tooltip);
		display: block;
		font-size: var(--fontSizeSmall);
		font-style: normal;
		font-weight: var(--fontWeight);
		left: 50%;
		max-width: 30rem;
		opacity: 0;
		overflow: hidden;
		overflow: hidden;
		padding: var(--paddingButton) calc(2 * var(--paddingButton));
		pointer-events: none;
		position: absolute;
		text-align: left;
		text-overflow: ellipsis;
		top: calc(100% + var(--paddingButton));
		transform: translate3d(-50%, 0, 0);
		transition: opacity var(--transitionParams);
		user-select: none;
		white-space: nowrap;
		z-index: calc(var(--zIndex) + 10);
	}
	&:hover {
		&::after {
			opacity: 1;
		}
	}
	/** 
	 * Colors 
	 */
	&.isBrand {
		&::after {
			background-color: color-mix(in srgb, var(--colorBrand) 20%, var(--colorBackground));
		}
	}
	&.isError, &.isDelete {
		&::after {
			background-color: color-mix(in srgb, var(--colorError) 20%, var(--colorBackground));
		}
	}
	.isSuccess, .isCreate {
		&::after {
			background-color: color-mix(in srgb, var(--colorSuccess) 20%, var(--colorBackground));
		}
	}
	.isUpdated, .isUpdate {
		&::after {
			background-color: color-mix(in srgb, var(--colorUpdated) 20%, var(--colorBackground));
		}
	}
	.isWarning, .isWarn {
		&::after {
			background-color: color-mix(in srgb, var(--colorWarning) 20%, var(--colorBackground));
		}
	}
	/** 
	 * Sizes 
	 */
	&[data-tooltip-size]::after {
		white-space: normal;
	}
	&[data-tooltip-size="small"]::after {
		width: 10rem;
	}
	&[data-tooltip-size="medium"]::after {
		width: 20rem;
	}
	&[data-tooltip-size="large"]::after {
		width: 30rem;
	}
	/** 
	 * Positions (default is bottom) 
	 */
	&[data-tooltip-position="top"]::after {
		bottom: calc(100% + var(--paddingButton));
		top: auto;
	}
	&[data-tooltip-position="left"]::after {
		bottom: auto;
		left: auto;
		right: calc(100% + .5rem);
		top: 50%;
		transform: translate3d(0, -50%, 0);
	}
	&[data-tooltip-position="right"]::after {
		bottom: auto;
		left: calc(100% + .5rem);
		top: 50%;
		transform: translate3d(0, -50%, 0);
	}
}