:root {
	--colorBackground: #ffffff;
	--colorBackgroundModal: #000000;
	--colorBorder: #d6d9e0;
	--colorBrand: #00afe8;
	--colorError: #ED333B;
	--colorFocus: #00afe8;
	--colorLight: #F6F5F4;
	--colorSuccess: #33D17A;
	--colorText: #313130;
	--colorTextLight: #9A9996;
	--colorTextOnLight: var(--colorText);
	--colorTextOnDark: var(--colorBackground);
	--colorTextPlaceholder: var(--colorTextLight);
	--colorTextTooltip: var(--colorText);
	--colorTooltip: #f1c40f;
	--colorUpdated: #1C71D8;
	--colorWarning: #FFA348;
	--fontFamily: Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
	--fontFamilyMonospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--fontSize: 16px;
	--fontSizeH1: 2rem;
	--fontSizeH2: 1.7rem;
	--fontSizeH3: 1.4rem;
	--fontSizeSmall: .9rem;		
	--fontWeight: 400;
	--fontWeightBold: 700;
	--fontWeightMedium: 500;
	--fontWeightLight: 300;
	--lineHeight: 1.5;
	--lineHeightEm: 1.5em;
	--paddingButton: .4rem;
	--paddingModal: calc(3 * var(--paddingButton));
	--radius: .375rem;
	--shadow: 0px 1px 2px 0px color-mix(in srgb, currentColor 5%, transparent), 0px 2px 4px 0px color-mix(in srgb, currentColor 5%, transparent);
	--shadowIn: inset 0 .0625em .125em color-mix(in srgb, currentColor 5%, transparent);
	--shadowFocus: 0 0 0 0.1875em color-mix(in srgb, var(--colorFocus) 25%, transparent);
	--shadowModal: 0px 1px 2px 0px color-mix(in srgb, var(--colorBackgroundModal) 5%, transparent), 0px 2px 4px 0px color-mix(in srgb, var(--colorBackgroundModal) 5%, transparent);
	--transitionParams: .2s ease-in-out;
	--zIndex: 100;
}