{% extends 'page.twig' %}

{% block pageContent %}

	<div class="fullpage">
		<i class="dripicons-warning"></i>
		<strong>{{ 'PICO.TITLE_401'|i18n }}</strong><br />
		{{ 'PICO.MESSAGE_401'|i18n }}<br />
		<br />
		<a href="{{ ':'|href }}" class="button small">{{ 'PICO.ACTION_HOME'|i18n }}</a>
	</div>

{% endblock %}