{% include '_tracking.twig' %}

<div id="pico-gdpr-box" class="pico-modal hidden">
	<div class="content">
		<h3>{{ 'APP.TITLE_GDPR_CONSENT'|i18n }}</h3>
		<p>
			{{ 'APP.MESSAGE_GDPR_CONSENT'|i18n }}<br>
			<a href="{{ '^gdpr'|href }}" id="pico-gdpr-link">{{ 'APP.ACTION_GDPR_LINK'|i18n }}</a>
		</p>
		<div class="actions">
			<a href="#" id="pico-gdpr-yes" class="button">{{ 'APP.ACTION_GDPR_YES'|i18n }}</a> 	
			<a href="#" id="pico-gdpr-no">{{ 'APP.ACTION_GDPR_NO'|i18n }}</a> 		
		</div>
	</div>
</div>

<script type="text/javascript">

	{% if not _widgets.gdpr and not _pico.gdprConsent %}
		$('#pico-gdpr-box').removeClass('hidden');
	{% endif %}

	$('a[rel=gdprBox]').click(function(e){
		$('#pico-gdpr-box').removeClass('hidden');
		e.preventDefault();
	});

	$('#pico-gdpr-yes').click(function(e){
		var date = new Date();
        date.setTime(date.getTime()+(30*24*60*60*1000)); // 30 days
		document.cookie = 'gdpr=2; expires='+date.toGMTString()+'; path=/;';
		$('#pico-gdpr-box').addClass('hidden');
		$('script[type="text/plain"][data-gdpr]').each(function() {
			$(this).attr('type', 'text/javascript');
			eval($(this).text());
		});
		$('iframe[data-src][data-gdpr]').each(function() {
			$(this).attr('src', $(this).attr('data-src'));
			$(this).removeAttr('data-src');
		});
		e.stopPropagation();
		e.preventDefault();
	});

	$('#pico-gdpr-no').click(function(e){
		var date = new Date();
        date.setTime(date.getTime()+(30*24*60*60*1000)); // 30 days
		document.cookie = 'gdpr=1; expires='+date.toGMTString()+'; path=/;';
		$('#pico-gdpr-box').addClass('hidden');

		$('script[type="text/javascript"][data-gdpr]').each(function() {
			$(this).attr('type', 'text/plain');
			eval($(this).text());
		});
		$('iframe[data-src][data-gdpr]').each(function() {
			$(this).attr('data-src', $(this).attr('src'));
			$(this).removeAttr('src');
		});
		e.stopPropagation();
		e.preventDefault();
	});

</script>

