{% if restrictedControllerSuccess %}
	<div class="feedback isSuccess">
		<i class="dripicons-checkmark"></i>
		<p>
			{{ (restrictedI18nSection|default('PICO')~'.MESSAGE_RESTRICTED_SUCCESS_'~restrictedControllerSuccess)|i18n }}
		</p>
	</div>
	{% if restrictedControllerSuccess=='reset' %}
		<div class="form">
			<div class="formActions">
				<a href="{{ '~'|href }}" class="button isPrimary isBrand">{{ 'PICO.ACTION_RESTRICTED_LOGIN'|i18n }}</a>
			</div>
		</div>
	{% endif %}
{% endif %}
{% if restrictedControllerError %}
	<div class="feedback isError">
		<i class="dripicons-warning"></i>
		<p>{{ (restrictedI18nSection|default('PICO')~'.MESSAGE_RESTRICTED_ERROR_'~restrictedControllerError)|i18n }}</p>
	</div>
{% endif %}
{% if restrictedType %}
	{% include '_restricted.'~restrictedType~'.twig' %}
{% else %}
	{% if restrictedControllerAction=='twofactor' %}
		{% if restrictedControllerQRCode %}
			<p>
				{{ (restrictedI18nSection|default('PICO')~'.MESSAGE_RESTRICTED_TWOFACTOR_FIRST')|i18n }}
			</p>
			<p class="isCenter">
				<img src="{{ restrictedControllerQRCode }}" alt="{{ restrictedControllerSecret }}">
			</p>
		{% else %}
			<div class="feedback">
				<i class="dripicons-lock"></i>
				<p>{{ (restrictedI18nSection|default('PICO')~'.MESSAGE_RESTRICTED_TWOFACTOR')|i18n }}</p>
			</div>
		{% endif %}
	{% elseif restrictedControllerAction=='forgot' and restrictedControllerForm %}
		<p>{{ (restrictedI18nSection|default('PICO')~'.MESSAGE_RESTRICTED_FORGOT')|i18n }}</p>
	{% elseif restrictedControllerAction=='reset' and restrictedControllerForm %}
		<p>{{ (restrictedI18nSection|default('PICO')~'.MESSAGE_RESTRICTED_RESET')|i18n }}</p>
	{% endif %}
	{% if restrictedControllerForm %}
		{{ restrictedControllerForm|raw }}
	{% endif %}
{% endif %}