<div id="restrictedControllerForm">
	<form method="post" action="{{ '#'|href }}">
		<f-f el="input" name="password" type="password" {% if error %}class="error"{% endif %}></f-f>
		<a class="button icon create disabled"><i class="dripicons-lock-open"></i></a>
	</form>	
</div>

{% apply defer('restrictedControllerForm') %}
	{{ jsLoad(['botdetect-clean.min']) }}
	<script type="text/javascript">
		BotDetect.collector.enableTraps();
		document.addEventListener("DOMContentLoaded", function () {
			(async function(){
				const results = await BotDetect.collector.collect();
				if (BotDetect.detector.detect(results)==='human') {
					window.customElements.define('f-f', class extends HTMLElement {});
					const els = document.getElementsByTagName("f-f");
					for (let i=els.length-1;i>=0;i--){
						let attrs = els[i].getAttributeNames().reduce((acc, name) => {
							return {...acc, [name]: els[i].getAttribute(name)};
						}, {});
						let el = document.createElement(attrs["el"]);
						for (let key in attrs){
							if(attrs.hasOwnProperty(key) && key != "el"){
								el.setAttribute(`${key}`, `${attrs[key]}`);
							}
						}
						while (els[i].childNodes.length > 0) {
							el.appendChild(els[i].childNodes[0]);
						}
						els[i].parentNode.insertBefore(el, els[i]);
						els[i].remove();
					}
					$('#restrictedControllerForm a.button').removeClass('disabled');
				}
			})();
		});
		$('#restrictedControllerForm a.button').click(function(e){
			if (!$(this).hasClass('disabled')) {
				$(this).parents('form').submit();
			}
			e.preventDefault();
		});
	</script>
{% endapply %}