<!DOCTYPE html>
<html lang="{{ _pico.lang }}" data-controller="{{ _pico.controller }}" class="{% if _page and (_page.id==(_pages.main|first).id) %}homepage{% endif %}">
<head itemscope itemtype="http://schema.org/WebSite">
	{% block headStart %}{% endblock %}
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	{# Meta tags #}
	{% for metaName, metaContent in metas %}
		{% if metaName=='title' %}
			<title itemprop="name">{{ metaContent }}</title>
		{% elseif metaName=='description' %}
			<meta itemprop="description" name="description" content="{{ metaContent }}" />
		{% elseif metaName=='noindex' and metaContent %}
			<meta name="robots" content="noindex,noarchive">
		{% elseif metaName=='canonical' %}
			<link rel="canonical" href="{{ metaContent }}" />
		{% else %}
			<meta name="{{ metaName }}" content="{{ metaContent }}">
		{% endif %}
	{% endfor %}

	{# Trackers (head) #}
	{% block headTrackers %}
		{% if _trackers %}
			{% for tracker in _trackers %}
				{% if tracker.head %}
					{{ tracker.head|raw }}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endblock %}

	{# Styles #}
	{% if css %}
		{{ cssLoad(css) }}
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{# Plausible #}
	{% if _pico.plausible.server and _pico.plausible.domain and (_pico.controller!='cms') %}
		<script defer data-domain="{{ _pico.plausible.domain }}" src="{{ _pico.plausible.server }}"></script>
	{% endif %}

	{# Favicons #}
	{% include '_skeleton.favicon.twig' %}

	{# DebugBar #}
	{% if _debugbar %}
		<script type="text/javascript">
			if (!localStorage.getItem('phpdebugbar-height')) {
				localStorage.setItem('phpdebugbar-open', '0');
			}
		</script>
		{{ _debugbar.renderHead()|raw }}
	{% endif %}
	
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}

	{# Javascript init #}
	{{ jsLoad(['jquery-3.1.1.min', 'pico']|merge(js|default([]))) }}
	<script type="text/javascript">
		pico.init({
			'basepath':'{{ _pico.basepath }}', 
			'filesize_units':'{{ _pico.filesize_units|default('B KB MB GB TB PB') }}',
			'i18n':'',
			'lang':'{{ _pico.lang }}', 
			'locale':{{ _pico.locale|json_encode|raw }}, 
			'now':{{ _pico.now|default(0) }},
			'sessionId':'{{ _pico.sessionId }}'
		});
	</script>

	{# Sub-views deferred code #}
	{% if deferred() %}
		{{ deferFlush() }}
	{% endif %}

	{# Lazy-load capabilities #}
	<script type="text/javascript">
		function picoLazyLoad() {
			$('img[data-lazyload]:not(.loaded)').each(function(){
				var image = $(this);
				if (!image.is(':hidden')) {
					var wintop = $(window).scrollTop();
					var winbot = wintop + $(window).height();
					var imgtop = image.offset().top;
					var imgbot = imgtop + image.height();
					if ((imgbot >= wintop) && (imgtop <= winbot)) {
						if ($(this).data('lazyload-parent')) {
							$(this).parent().addClass('loaded');
						}
						$(this).attr('src', $(this).data('lazyload')).addClass('loaded');
					}
				}
			});
			$('[data-lazybg]:not(.loaded)').each(function(){
				var element = $(this);
				if (!element.is(':hidden')) {
					var wintop = $(window).scrollTop();
					var winbot = wintop + $(window).height();
					var eltop = element.offset().top;
					var elbot = eltop + element.height();
					if ((elbot >= wintop) && (eltop <= winbot)) {
						if ($(this).data('lazyload-parent')) {
							$(this).parent().addClass('loaded');
						}
						$(this).attr('style', 'background-image:url('+$(this).data('lazybg')+');').addClass('loaded');
					}
				}
			});
		}
		function picoVisibility() {
			$('[data-visibility]:not(.visible)').each(function(){
				var element = $(this);
				if (!element.is(':hidden')) {
					var wintop = $(window).scrollTop();
					var winbot = wintop + $(window).height();
					var triggerOffset = 0;
					var triggerHeight = element.height();
					if (element.data('visibility')=='bottom') {
						triggerOffset = element.height();
						triggerHeight = 0;
					} else if (element.data('visibility')=='middle') {
						triggerOffset = triggerHeight/2;
						triggerHeight = triggerHeight/2;
					} else if (element.data('visibility')=='top') {
						triggerOffset = 0;
					} else {
						triggerOffset = parseInt(element.data('visibility'));
					}
					var imgtop = element.offset().top + triggerOffset;
					var imgbot = imgtop + triggerHeight;
					if ((imgbot >= wintop) && (imgtop <= winbot)) {
						if (element.data('lazyload-parent')) {
							element.parent().addClass('loaded');
						}
						element.addClass('visible');
					}
					this.style.setProperty('--picoOffset', (imgtop / (document.body.offsetHeight - window.innerHeight)));
				}
			});
		}
		function picoScrollEvent() {
			picoLazyLoad();
			picoVisibility();
			if (typeof appVisibility==='function') {
				appVisibility();
			}
			document.body.style.setProperty('--picoScroll', window.pageYOffset / (document.body.offsetHeight - window.innerHeight));
		}
		$(document).ready(function(){
			$(window).on("scroll resize", picoScrollEvent);
			setTimeout(picoScrollEvent, 300);
		});
	</script>

	{# Javascript block #}
	{% block js %}{% endblock %}
	
	{# GDPR #}
	{% if _pico.gdpr and _pico.controller!='cms' %}
		{% include '_gdpr.twig' %}
	{% endif %}

	{# Trackers (body) #}
	{% block bodyTrackers %}
		{% if _trackers %}
			{% for tracker in _trackers %}
				{% if tracker.body %}
					{{ tracker.body|raw }}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endblock %}

	{# DebugBar #}
	{% if _debugbar %}
		{{ _debugbar.render()|raw }}
	{% endif %}

	{% block bodyEnd %}{% endblock %}
</body>
</html>