<div class="form {{ _form.css }}" data-model="{{ _form.model }}">
	<form id="{{ _form.name }}_form" name="{{ _form.name }}" method="{{ _form.method }}" action="{{ _form.action }}">
		
		{% set captchaDisplayed = false %}

		{% if _form.botDetect %}
			<f-f el="input" type="hidden" name="{{ _form.name }}_present" value="{{ token('form') }}"></f-f>
		{% else %}
			<input type="hidden" name="{{ _form.name }}_present" value="{{ token('form') }}" />
		{% endif %}
		
		{% if _form.errors and _form.errorsMessage %}
			<div class="pico-form-message error">
				{% if _form.errorsMessage is same as(true) %}
					{{ 'PICO.MESSAGE_FORM_ERROR'|i18n }}
				{% else %}
					{{ _form.errorsMessage }}
				{% endif %}
			</div>
		{% endif %}

		{% for fieldset, fields in _form.fieldsets %}
			{% if fields|intersect(_form.fields|keys) or _form.fsempty %}
				{% if fieldset != '_' %}
					<div id="{{ _form.name }}_{{ fieldset }}_fieldset" class="formFieldset {% if loop.first %}isFirst{% endif %} {% if fieldset in _form.fsclosed %}isClosed{% endif %}">
						{% if _form.legends or (fieldset in _form.fsclosed) %}
							<legend>
								<span>{{ (_form.name~'.LEGEND_'~fieldset)|i18n|default('&nbsp;') }}</span>
								{% if fieldset in _form.fsclosed %}
									<a href="#" data-action="open" class="button isOutlined">{{ 'CMS.ACTION_READ'|i18n }}</a>
								{% endif %}
							</legend>
						{% endif %}
				{% endif %}

				{% for fn in fields %}
					{% set jsfn = fn|replace({'-':'_'}) %}
					{% if _form.fields[fn] %}
						<div id="{{ _form.name }}_{{ fn }}_container" class="formField {% if loop.first %}isFirst{% endif %} formField{{ _form.fields[fn].type|capitalize }} {% if 'required'|inValues(_form.fields[fn].checks) %}isRequired{% endif %} {% if _form.errors[fn] %}isErroneous isErroneous{{ _form.errors[fn]|capitalize }}{% endif %}">
							{% if not (fn in _form.disabled) %}
								<input type="hidden" name="{{ _form.name }}_{{ fn }}_present" value="1" />
							{% endif %}
							{% if not _form.fields[fn].label_hide %}
								<div class="formFieldLabel">
									<label for="{{ _form.name }}_{{ fn }}">
										{{ _form.fields[fn].text }}
										{% if _form.fields[fn].helper %}
											<i class="dripicons-information" data-tooltip-position="right" {% if _form.fields[fn].helper|length>50 %}data-tooltip-size="medium"{% endif %} data-tooltip="{{ _form.fields[fn].helper|e('html_attr') }}"></i>
										{% endif %}
										{% if _form.errors[fn] %}
											{% set errorHelper = _form.fields[fn].checks_helper[_form.errors[fn]]|default(('PICO.FIELD_ERROR_'~_form.errors[fn])|i18n) %}
											<i class="dripicons-warning" data-tooltip-position="right" {% if errorHelper|length>50 %}data-tooltip-size="medium"{% endif %} data-tooltip="{{ errorHelper|e('html_attr') }}"></i>
										{% endif %}
									</label>
								</div>
							{% endif %}
							<div class="formFieldValue">
								{% set fieldCurrentValue = (_form.values[fn]=='' ? _form.fields[fn].default : _form.values[fn]) %}
								{% if fieldCurrentValue is not empty %}
									<input type="hidden" name="{{ _form.name }}_{{ fn }}_loaded" id="{{ _form.name }}_{{ fn }}_loaded" value="{{ fieldCurrentValue }}" />
								{% endif %}
								{% if ('forms/'~_form.fields[fn].template~'.twig')|viewExists %}
									{% include 'forms/'~_form.fields[fn].template~'.twig' %}
								{% else %}
									{% include 'forms/_default.twig' %}
								{% endif %}
							</div>
						</div>
						{% if _form.fields[fn]['visibility'] %}
							{% apply defer(jsfn~'_visibility') %}
								<script type="text/javascript">
									function {{ jsfn }}_visibility(e) {
										{% if _form.fields[fn]['visibility'][1] is defined %}
											if (pico.inArray(this.value, {{ _form.fields[fn]['visibility'][1]|json_encode|raw }})) {
										{% else %}
											if (this.value.trim() !== "") {
										{% endif %}
											$('#{{ _form.name }}_{{ fn }}_container').css('display', 'flex');
										} else {
											if ($('#{{ _form.name }}_{{ fn }}').is('select')) {
												if (!$('#{{ _form.name }}_{{ fn }}').val()) {
													//$('#{{ _form.name }}_{{ fn }}').val($('#{{ _form.name }}_{{ fn }} option:first').val());
													$('#{{ _form.name }}_{{ fn }}').trigger('change');
												}
											} else {
												//$('#{{ _form.name }}_{{ fn }}').val('');
												$('#{{ _form.name }}_{{ fn }}').trigger('change');
												//$('[name="{{ _form.name }}_{{ fn }}"]').val('');
												$('[name="{{ _form.name }}_{{ fn }}"]').trigger('change');
											}
											$('#{{ _form.name }}_{{ fn }}_container').hide();
										}
									}
									if ($('#{{ _form.name }}_{{ _form.fields[fn]['visibility'][0] }}').length>0) {
										$('#{{ _form.name }}_{{ _form.fields[fn]['visibility'][0] }}').on('change', {{ jsfn }}_visibility).trigger('change');
									} else {
										$('[name="{{ _form.name }}_{{ _form.fields[fn]['visibility'][0] }}"]').on('change', {{ jsfn }}_visibility);
										$('[name="{{ _form.name }}_{{ _form.fields[fn]['visibility'][0] }}"]:checked').trigger('change');
									}
								</script>
							{% endapply %}
						{% endif %}
					{% endif %}
					{% if _form.captcha and fn=='__captcha' and not captchaDisplayed %}
						{% include 'forms/_form.captcha.twig' %}
						{% set captchaDisplayed = true %}
					{% endif %}
				{% endfor %}

				{% if fieldset != '_' %}
					</div>
				{% endif %}
			{% endif %}
		{% endfor %}

		{% if _form.captcha and not captchaDisplayed %}
			{% include 'forms/_form.captcha.twig' %}
			{% set captchaDisplayed = true %}
		{% endif %}

		{% if _form.actions %}
			<div class="formActions isRight">
				{% for an, ad in _form.actions %}
					{% if ad.type=='submit' %}
						<input type="submit" value="{{ ad.text|default('Submit') }}" class="button action-{{ an }} {{ ad.css }}" id="{{ _form.name }}_action-{{ an }}" />
					{% else %}	
						<a href="{{ ad.href|default('#')|href }}" class="button action-{{ an }} {{ ad.css }}" id="{{ _form.name }}_action-{{ an }}">
							{{- (ad.html ? ad.html|raw : ad.text|default('Link')) -}}
						</a>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}

	</form>
</div>

{# JS Bot detection, combinaison of https://github.com/rodenacker/FormSpamPrevention and https://github.com/dobiadi/bot-detect #}
{% apply defer('botdetect') %}
	{% if _form.botDetect %}
		{{ jsLoad(['botdetect-clean.min']) }}
		<script type="text/javascript">
			BotDetect.collector.enableTraps();
			document.addEventListener("DOMContentLoaded", function () {
				(async function(){
					const results = await BotDetect.collector.collect();
					if (BotDetect.detector.detect(results)==='human') {
						window.customElements.define('f-f', class extends HTMLElement {});
						const els = document.getElementsByTagName("f-f");
						for (let i=els.length-1;i>=0;i--){
							let attrs = els[i].getAttributeNames().reduce((acc, name) => {
								return {...acc, [name]: els[i].getAttribute(name)};
							}, {});
							let el = document.createElement(attrs["el"]);
							for (let key in attrs){
								if(attrs.hasOwnProperty(key) && key != "el"){
									el.setAttribute(`${key}`, `${attrs[key]}`);
								}
							}
							while (els[i].childNodes.length > 0) {
								el.appendChild(els[i].childNodes[0]);
							}
							els[i].parentNode.insertBefore(el, els[i]);
							els[i].remove();
						}	
					}
				})();
			});
		</script>
	{% endif %}
{% endapply %}