<div id="{{ _form.name }}__captcha_container" class="formField formFieldCaptcha isRequired {% if _form.errors['_captcha'] %}isErroneous{% endif %}">
	<input type="hidden" name="{{ _form.name }}__captcha_present" value="1" />
	<div class="formFieldLabel">
		<label for="{{ _form.name }}__captcha">
			<strong>{{ 'PICO.TITLE_CAPTCHA'|i18n }}</strong>
			{{ _form.captcha.question }}
			{% if _form.errors['_captcha'] %}
				{% set errorHelper = _form.fields['_captcha'].checks_helper[_form.errors['_captcha']]|default(('PICO.FIELD_ERROR_'~_form.errors['_captcha'])|i18n) %}
				<i class="dripicons-warning" data-tooltip-position="right" {% if errorHelper|length>50 %}data-tooltip-size="medium"{% endif %} data-tooltip="{{ errorHelper|e('html_attr') }}"></i>
			{% endif %}
		</label>
	</div>
	<div class="formFieldValue">
		<div class="input isSmall">
			{% if _form.fields['_captcha'].icon %}
				<i class="{{ _form.fields['_captcha'].icon }} isLight"></i>
			{% endif %}
			{% if _form.botDetect %}
				<f-f el="input" type="text" maxlength="2" id="{{ _form.name }}__captcha" name="{{ _form.name }}__captcha" {% if _form.captcha.placeholder %}placeholder="{{ captcha.placeholder }}"{% endif %}></f-f>
			{% else %}
				<input type="text" maxlength="2" id="{{ _form.name }}__captcha" name="{{ _form.name }}__captcha" {% if _form.captcha.placeholder %}placeholder="{{ captcha.placeholder }}"{% endif %} />
			{% endif %}
			{% if (_form.units and _form.fields['_captcha'].unit) %}
				<div class="postfix">
					{{ ('PICO.LABEL_UNIT_'~_form.fields['_captcha'].unit)|i18n }}
				</div>
			{% endif %}
		</div>
	</div>
</div>