{
	title: "{{ 'CMS.LABEL_WYSIWYG_H1'|i18n }}",
	block: 'h1',
}, 
{
	title: "{{ 'CMS.LABEL_WYSIWYG_H2'|i18n }}",
	block: 'h2',
}, 
{
	title: "{{ 'CMS.LABEL_WYSIWYG_H3'|i18n }}",
	block: 'h3',
}, 
{
	title: "{{ 'CMS.LABEL_WYSIWYG_P'|i18n }}",
	block: 'p',
}, 
{
	title: "{{ 'CMS.LABEL_WYSIWYG_BLOCKQUOTE'|i18n }}",
	block: 'blockquote',
},
{
	title: "{{ 'CMS.LABEL_WYSIWYG_BUTTON'|i18n }}",
	selector: "a",
	classes: "button",
}