<input type="hidden" id="{{ _form.name }}_{{ fn }}" name="{{ _form.name }}_{{ fn }}" value="{{ fieldCurrentValue }}" />
<input type="hidden" id="{{ _form.name }}_{{ fn }}_countrycode" name="{{ _form.name }}_{{ fn }}_countrycode" />
<input type="hidden" id="{{ _form.name }}_{{ fn }}_longitude" name="{{ _form.name }}_{{ fn }}_longitude" />
<input type="hidden" id="{{ _form.name }}_{{ fn }}_latitude" name="{{ _form.name }}_{{ fn }}_latitude" />

{% if _form.fields[fn].careof %}
	<div class="group">
		<div class="input">
			<input type="text" id="{{ _form.name }}_{{ fn }}_careof" name="{{ _form.name }}_{{ fn }}_careof" maxlength="255" placeholder="{{ 'PICO.LABEL_CAREOF'|i18n|e('html_attr') }}" {% if fn in _form.disabled %}disabled{% endif %} />
		</div>
	</div>
{% endif %}
<div class="group isSticky">
	<div class="input">
		<input type="text" id="{{ _form.name }}_{{ fn }}_street" name="{{ _form.name }}_{{ fn }}_street" maxlength="255" placeholder="{{ 'PICO.LABEL_STREET'|i18n|e('html_attr') }}" {% if fn in _form.disabled %}disabled{% endif %} />
	</div>
</div>
<div class="group isSticky">
	<div class="input isSmall">
		<input type="text" id="{{ _form.name }}_{{ fn }}_zipcode" name="{{ _form.name }}_{{ fn }}_zipcode" maxlength="8" class="short" placeholder="{{ 'PICO.LABEL_ZIPCODE'|i18n|e('html_attr') }}" {% if fn in _form.disabled %}disabled{% endif %} />
	</div>
	<div class="input">
		<input type="text" id="{{ _form.name }}_{{ fn }}_city" name="{{ _form.name }}_{{ fn }}_city" maxlength="255" placeholder="{{ 'PICO.LABEL_CITY'|i18n|e('html_attr') }}"  {% if fn in _form.disabled %}disabled{% endif %} />
	</div>
</div>
<div class="group {% if _form.fields[fn].mapbox and not (fn in _form.disabled) %}isSticky{% endif %}">
	<div class="input">
		<input type="text" id="{{ _form.name }}_{{ fn }}_country" name="{{ _form.name }}_{{ fn }}_country" maxlength="255" placeholder="{{ 'PICO.LABEL_COUNTRY'|i18n|e('html_attr') }}" {% if fn in _form.disabled %}disabled{% endif %} />
	</div>
</div>
{% if _form.fields[fn].mapbox and not (fn in _form.disabled) %}
	<div class="group isSingle">
		<div class="input">
			<label {% if not _pico.services.mapbox %}class="isDisabled"{% endif %}>
				<input type="checkbox" id="{{ _form.name }}_{{ fn }}_mapbox" name="{{ _form.name }}_{{ fn }}_mapbox" value="1" {% if not _pico.services.mapbox %}disabled{% endif %} />
				{{ 'PICO.LABEL_ADDRESS_AUTOCOMPLETE'|i18n }}
			</label>
		</div>
	</div>
{% endif %}

{% apply defer('date_'~_form.name~'_'~fn) %}
	<script type="text/javascript">

		{# Fields to JSON #}
		function {{ _form.name }}_{{ jsfn }}_change() {
			let address = {
				careof: {% if _form.fields[fn].careof %}$('#{{ _form.name }}_{{ fn }}_careof').val(){% else %}''{% endif %},
				street: $('#{{ _form.name }}_{{ fn }}_street').val(),
				zipcode: $('#{{ _form.name }}_{{ fn }}_zipcode').val(),
				city: $('#{{ _form.name }}_{{ fn }}_city').val(),
				country: $('#{{ _form.name }}_{{ fn }}_country').val(),
				countrycode: $('#{{ _form.name }}_{{ fn }}_countrycode').val(),
				longitude: $('#{{ _form.name }}_{{ fn }}_longitude').val(),
				latitude: $('#{{ _form.name }}_{{ fn }}_latitude').val(),
				mapbox: $('#{{ _form.name }}_{{ fn }}_mapbox').is(':checked'),
			};
			$('#{{ _form.name }}_{{ fn }}').val(JSON.stringify(address));
		}
		$('input[id^="{{ _form.name }}_{{ fn }}_"]').on('change', {{ _form.name }}_{{ jsfn }}_change);


		{# JSON to fields #}
		{% if fieldCurrentValue %}
			function {{ _form.name }}_{{ jsfn }}_load() {
				let {{ _form.name }}_{{ jsfn }}_data = {{ fieldCurrentValue|raw }};
				{% if _form.fields[fn].careof %}
					$('#{{ _form.name }}_{{ fn }}_careof').val({{ _form.name }}_{{ jsfn }}_data?.careof);
				{% endif %}
				$('#{{ _form.name }}_{{ fn }}_street').val({{ _form.name }}_{{ jsfn }}_data?.street);
				$('#{{ _form.name }}_{{ fn }}_zipcode').val({{ _form.name }}_{{ jsfn }}_data?.zipcode);
				$('#{{ _form.name }}_{{ fn }}_city').val({{ _form.name }}_{{ jsfn }}_data?.city);
				$('#{{ _form.name }}_{{ fn }}_country').val({{ _form.name }}_{{ jsfn }}_data?.country);
				$('#{{ _form.name }}_{{ fn }}_countrycode').val({{ _form.name }}_{{ jsfn }}_data?.countrycode);
				$('#{{ _form.name }}_{{ fn }}_longitude').val({{ _form.name }}_{{ jsfn }}_data?.longitude);
				$('#{{ _form.name }}_{{ fn }}_latitude').val({{ _form.name }}_{{ jsfn }}_data?.latitude);
			}
			{{ _form.name }}_{{ jsfn }}_load();
		{% endif %}

		{# Mapbox aucocomplete #}
		{% if _form.fields[fn].mapbox and _pico.services.mapbox %}
			$('input[id^="{{ _form.name }}_{{ fn }}_"]').on('change', function(e){
				if ($('#{{ _form.name }}_{{ fn }}_mapbox').is(':checked') && !$(this).is('[id$="_careof"]')) {
					let query = $('#{{ _form.name }}_{{ fn }}_street').val();
					if ($(this).is('[id$="_zipcode"]')) {
						query = query + ', ' + $('#{{ _form.name }}_{{ fn }}_zipcode').val();
					}
					if ($(this).is('[id$="_city"]')) {
						query = query +', ' + $('#{{ _form.name }}_{{ fn }}_city').val();
					}
					let country = '';
					if (!$(this).is('[id$="_country"]')) {
						country = $('#{{ _form.name }}_{{ fn }}_countrycode').val();
						{% if _form.fields[fn].default_country %}
							if (country=='') country = "{{ _form.fields[fn].default_country|e('js') }}";
						{% endif %}
					} else {
						query = query + ', ' + $('#{{ _form.name }}_{{ fn }}_country').val();
					}
					if ($(this).is('[id$="_mapbox"]')) {
						$('#{{ _form.name }}_{{ fn }}_mapbox').parents('label').removeClass('error');
					}
					$.ajax({
						data: 'limit=1&language={{ _pico.lang }}&access_token={{ _pico.services.mapbox }}&country='+country+'&q='+query,
						dataType: 'json',
						url: "https://api.mapbox.com/search/geocode/v6/forward",
						success: function(result) {
							let hit = false;
							if (result?.features[0]?.properties?.context) {
								if (result?.features[0]?.properties?.context?.country?.name) {
									$('#{{ _form.name }}_{{ fn }}_country').val(result.features[0].properties.context.country.name);
								}
								if (result?.features[0]?.properties?.context?.country?.country_code) {
									$('#{{ _form.name }}_{{ fn }}_countrycode').val(result.features[0].properties.context.country.country_code);
								}
								if (result?.features[0]?.properties?.context?.address?.name) {
									$('#{{ _form.name }}_{{ fn }}_street').val(result.features[0].properties.context.address.name);
								}
								if (result?.features[0]?.properties?.context?.postcode?.name) {
									$('#{{ _form.name }}_{{ fn }}_zipcode').val(result.features[0].properties.context.postcode.name);
								}
								if (result?.features[0]?.properties?.context?.place?.name) {
									$('#{{ _form.name }}_{{ fn }}_city').val(result.features[0].properties.context.place.name);
								}
								if (result?.features[0]?.properties?.coordinates?.longitude) {
									$('#{{ _form.name }}_{{ fn }}_longitude').val(result.features[0].properties.coordinates.longitude);
								}
								if (result?.features[0]?.properties?.coordinates?.latitude) {
									$('#{{ _form.name }}_{{ fn }}_latitude').val(result.features[0].properties.coordinates.latitude);
								}
								{{ _form.name }}_{{ jsfn }}_change();
							}
						},
						error: function(jqXHR, textStatus, errorThrown) {
							$('#{{ _form.name }}_{{ fn }}_mapbox').parents('label').addClass('error');
							$('#{{ _form.name }}_{{ fn }}_mapbox').prop('checked', false);
						} 
					});
				}
			});
		{% endif %}

	</script>
{% endapply %}