<div class="inputElementsItem" data-index="{{ index }}" data-block="{{ blockType }}">
	<div class="inputElementsItemIcon">
		<i class="dripicons-{{ icon }}"></i>
	</div>
	<div class="inputElementsItemText">
		<div class="templateItem">
			{{ include(template_from_string(templateItem)) }}
		</div>
	</div>
	<div class="inputElementsItemActions">
		<span class="form-action button isHover isUpdate"><i class="dripicons-pencil isAlone"></i></span>
		<span class="delete-action button isHover isDelete"><i class="dripicons-cross isAlone"></i></span>
	</div>
</div>