{% apply defer('tinymce') %}
	{% if not _form.ajax  %}
		<script type="text/javascript" src="{{ ';resources/tinymce_7.4.1/tinymce.min.js'|href }}" referrerpolicy="origin"></script>
	{% endif %}
{% endapply %}

{% if _cms.ai %}
	{% apply defer('aibot') %}
		{% if not _form.ajax %}
			{{ jsLoad(['aibot']) }}
		{% endif %}
	{% endapply %}
{% endif %}

{% set fieldMaxBlocks = _form.fields[fn].max|default(10) %}


<div class="input">

	{% if _form.fields[fn].icon %}
		<i class="{{ _form.fields[fn].icon }} isLight"></i>
	{% endif %}

	<div class="inputElements {% if fn in _form.disabled %}isDisabled{% endif %}" id="{{ _form.name }}_{{ fn }}_input">
		<input type="hidden" id="{{ _form.name }}_{{ fn }}" name="{{ _form.name }}_{{ fn }}" value="{{ fieldCurrentValue }}" /> 

		<div id="{{ _form.name }}_{{ fn }}_items" class="inputElementsItems"></div>

		<div class="inputElementsActions">
			<a href="#" id="{{ _form.name }}_{{ fn }}_add" class="button isLight">
				<i class="dripicons-plus"></i>
				<span>
					{{ (_form.fields[fn].upload_i18n|default('PICO.ACTION_ADD_BLOCK'))|i18n }}
					<small>{{ 'PICO.TITLE_ADD_BLOCK'|i18n }}</small>
				</span>
			</a>
		</div>

		{% if (fn not in _form.disabled) %}
			<div class="inputElementsFootnote">
				{{ 'PICO.LABEL_BLOCKS_MAX_COUNT'|i18n }} {{ fieldMaxBlocks }}
			</div>
		{% endif %}

		{% apply defer('blocks_'~_form.name~'_'~fn) %}	

			<div class="modal isHidden" id="{{ _form.name }}_{{ fn }}_blocksList">
				<div class="modalLoading">
					<i class="dripicons-hourglass"></i>
				</div>
				<div class="content">
					<div class="modalTitle">
						<h3 class="isEllipsis">{{ 'PICO.TITLE_ADD_BLOCK'|i18n }}</h3>
						<a href="#" data-action="modalclose" class="modalClose"></a>
					</div>
					<p>{{ 'PICO.MESSAGE_ADD_BLOCK'|i18n }}</p>
					<div class="form">
						<div class="input">
							<select id="{{ _form.name }}_{{ fn }}_blocksList_items"></select>
						</div>
						<div class="box isTooltip">
							<aside>
								<i id="{{ _form.name }}_{{ fn }}_blocksList_icon"></i>
							</aside>
							<div class="content" id="{{ _form.name }}_{{ fn }}_blocksList_description"></div>
						</div>
						<div class="formActions isRight">
							<a href="#" id="{{ _form.name }}_{{ fn }}_blocksList_close" class="button">
								{{ 'PICO.ACTION_CANCEL'|i18n }}
							</a>
							<a href="#" id="{{ _form.name }}_{{ fn }}_blocksList_select" class="button isCreate isPrimary">
								{{ 'PICO.ACTION_ADD_BLOCK'|i18n }}
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="modal isHidden" id="{{ _form.name }}_{{ fn }}_blockEdit" data-block="">
				<div class="modalLoading">
					<i class="dripicons-hourglass"></i>
				</div>
				<div class="content">
					<div class="modalTitle">
						<h3 class="isEllipsis">{{ 'PICO.TITLE_EDIT_BLOCK'|i18n }}</h3>
					</div>
					<div class="formFieldset">
						<legend>
							<strong id="{{ _form.name }}_{{ fn }}_blockEdit_title"></strong>
							<span id="{{ _form.name }}_{{ fn }}_blockEdit_description"></span>
						</legend>
					</div>
					<div id="{{ _form.name }}_{{ fn }}_blockEdit_form"></div>
				</div>
			</div>

			<script type="text/javascript">

				{# Block list popin logic #}
				$('#{{ _form.name }}_{{ fn }}_add').click(function(e){
					if (!$(this).hasClass('isDisabled')) {
						$('#{{ _form.name }}_{{ fn }}_blocksList').removeClass('isHidden').addClass('isLoading');
						$.ajax({
							data: 'action=list&fieldblocks={{ _form.fields[fn].blocks|join(",") }}',
							dataType: 'json',
							type: "POST",
							url: "{{ '-ajax/blocks'|href }}",
							success: function(result) {
								if (result.list) {
									$('#{{ _form.name }}_{{ fn }}_blocksList_items').html('');
									for (var i=0; i<result.list.length; ++i) {
										$('#{{ _form.name }}_{{ fn }}_blocksList_items').append(
											'<option value="'+result.list[i].type+'" data-icon="'+encodeURIComponent(result.list[i].icon)+'" data-description="'+encodeURIComponent(result.list[i].description)+'">'+result.list[i].title+'</option>'
										);
									}
								}
								$('#{{ _form.name }}_{{ fn }}_blocksList_items').trigger('change');
								$('#{{ _form.name }}_{{ fn }}_blocksList').removeClass('isLoading');
							},
							error: function(result) {
								$('#{{ _form.name }}_{{ fn }}_blocksList').removeClass('isLoading');
								$('#{{ _form.name }}_{{ fn }}_blocksList').addClass('isHidden');
								alert('{{ "PICO.MESSAGE_ERROR_NETWORK"|i18n|e("js") }}');
							}
						});
					}
					e.preventDefault();
				});
				$('#{{ _form.name }}_{{ fn }}_blocksList_items').change(function(e){
					$('#{{ _form.name }}_{{ fn }}_blocksList_icon').removeClass().addClass('dripicons-'+$(this).find(":selected").data('icon'));
					$('#{{ _form.name }}_{{ fn }}_blocksList_description').html(decodeURIComponent($(this).find(":selected").data('description')));
				});
				$('#{{ _form.name }}_{{ fn }}_blocksList_close').click(function(e){
					$('#{{ _form.name }}_{{ fn }}_blocksList').addClass('isHidden');
					e.preventDefault();
				});

				{# Form popin logic #}
				function {{ _form.name }}_{{ jsfn }}_blockForm(blockType, index, first) {
					$('#{{ _form.name }}_{{ fn }}_blockEdit').removeClass('isHidden').addClass('isLoading');
					if (typeof blockType==='undefined') {
						$('#{{ _form.name }}_{{ fn }}_blockEdit').removeClass('isLoading');
						$('#{{ _form.name }}_{{ fn }}_blockEdit').addClass('isHidden');
						alert('ERROR: no blockType defined.');
					}
					if (typeof index==='undefined') {
						index = false;
					}
					if (typeof first==='undefined') {
						first = true;
					}
					var loadData = '';
					if (Number.isInteger(index) && first) {
						loadData = {{ _form.name }}_{{ jsfn }}_getValue(index);
					}
					var formData = $('#{{ _form.name }}_{{ fn }}_blockForm_form').serialize();
					$.ajax({
						data: formData+'&load='+loadData+'&action=form&field={{ _form.name }}_{{ fn }}&block='+blockType,
						dataType: 'json',
						method: 'POST',
						url: "{{ '-ajax/blocks'|href }}",
						success: function(result) {
							$('#{{ _form.name }}_{{ fn }}_blockEdit').attr('class', 'modal');
							if (result.block) {
								$('#{{ _form.name }}_{{ fn }}_blockEdit_title').html(result.block.title+' — ');
								$('#{{ _form.name }}_{{ fn }}_blockEdit_icon').removeClass().addClass('isH2 dripicons-'+result.block.icon);
								$('#{{ _form.name }}_{{ fn }}_blockEdit_description').html(result.block.description);
								if (result.block.modalClass) {
									$('#{{ _form.name }}_{{ fn }}_blockEdit').addClass(result.block.modalClass);
								}
							}
							if (result.value) {
								$('#{{ _form.name }}_{{ fn }}_blockEdit').addClass('isLoading');
								$('#{{ _form.name }}_{{ fn }}_blockEdit_form').html('');
								if (Number.isInteger(index)) {
									{{ _form.name }}_{{ jsfn }}_replaceValue(index, result.value);
								} else {
									{{ _form.name }}_{{ jsfn }}_addValue(result.value);
								}
								$('#{{ _form.name }}_{{ fn }}_blockEdit').removeClass('isLoading').addClass('isHidden');
							} else if (result.form) {
								$('#{{ _form.name }}_{{ fn }}_blockEdit_form').html(result.form);
								$('#{{ _form.name }}_{{ fn }}_blockForm_action-cancel').click(function(e2){
									$('#{{ _form.name }}_{{ fn }}_blockEdit_form').html('');
									$('#{{ _form.name }}_{{ fn }}_blockEdit').removeClass('isLoading').addClass('isHidden');
									e2.preventDefault();
								});
								$('#{{ _form.name }}_{{ fn }}_blockForm_action-save').click(function(e2){
									tinymce.triggerSave(); // Sync all tinyMCE to textareas
									{{ _form.name }}_{{ jsfn }}_blockForm(blockType, index, (result.success ? true : false));
									e2.preventDefault();
								});
							}
						},
						error: function(result) {
							$('#{{ _form.name }}_{{ fn }}_blockEdit').removeClass('isLoading');
							$('#{{ _form.name }}_{{ fn }}_blockEdit').addClass('isHidden');
							alert('{{ "PICO.MESSAGE_ERROR_NETWORK"|i18n|e("js") }}');
						}
					});
				}
				$('#{{ _form.name }}_{{ fn }}_blocksList_select').click(function(e){
					var blockType = $('#{{ _form.name }}_{{ fn }}_blocksList_items').val();
					$('#{{ _form.name }}_{{ fn }}_blockEdit').attr('data-block', $('#{{ _form.name }}_{{ fn }}_blocksList_items').val());
					$('#{{ _form.name }}_{{ fn }}_blocksList_items').html('');
					$('#{{ _form.name }}_{{ fn }}_blocksList').addClass('isHidden');
					{{ _form.name }}_{{ jsfn }}_blockForm(blockType);
					e.preventDefault();
				});

				{# Hidden field manipulation #}
				function {{ _form.name }}_{{ jsfn }}_addValue(value) {
					var current = ''+$('#{{ _form.name }}_{{ fn }}').val();
					if (current.length) {
						current = JSON.parse(decodeURIComponent(current));
					} else {
						current = [];
					}
					current.push(value);
					$('#{{ _form.name }}_{{ fn }}').val(encodeURIComponent(JSON.stringify(current)));
					{{ _form.name }}_{{ jsfn }}_refresh();
				}
				function {{ _form.name }}_{{ jsfn }}_deleteValue(index) {
					var current = ''+$('#{{ _form.name }}_{{ fn }}').val();
					if (current.length) {
						current = JSON.parse(decodeURIComponent(current));
						current.splice(index,1)
						$('#{{ _form.name }}_{{ fn }}').val(encodeURIComponent(JSON.stringify(current)));
						{{ _form.name }}_{{ jsfn }}_refresh();
					}
				}
				function {{ _form.name }}_{{ jsfn }}_getValue(index) {
					var current = ''+$('#{{ _form.name }}_{{ fn }}').val();
					if (current.length) {
						current = JSON.parse(decodeURIComponent(current));
						return encodeURIComponent(JSON.stringify(current[index]));
					}
				}
				function {{ _form.name }}_{{ jsfn }}_replaceValue(index, value) {
					var current = ''+$('#{{ _form.name }}_{{ fn }}').val();
					if (current.length) {
						current = JSON.parse(decodeURIComponent(current));
						current[index] = value;
						$('#{{ _form.name }}_{{ fn }}').val(encodeURIComponent(JSON.stringify(current)));
						{{ _form.name }}_{{ jsfn }}_refresh();
					}
				}
				function {{ _form.name }}_{{ jsfn }}_reorder() {
					var current = ''+$('#{{ _form.name }}_{{ fn }}').val();
					if (current.length) {
						current = JSON.parse(decodeURIComponent(current));
						var reordered = [];
						$('#{{ _form.name }}_{{ fn }}_items .inputElementsItem').each(function(i){
							reordered.push(current[parseInt($(this).data('index'))]);
						});
						for (var i=0; i<reordered.length; ++i) {
							reordered[i]['index'] = i;
						}
						$('#{{ _form.name }}_{{ fn }}').val(encodeURIComponent(JSON.stringify(reordered)));
						{{ _form.name }}_{{ jsfn }}_refresh();
					}
				}

				{# Refresh #}
				function {{ _form.name }}_{{ jsfn }}_refresh() {
					$('#{{ _form.name }}_{{ fn }}_items').height($('#{{ _form.name }}_{{ fn }}_items').outerHeight());
					$('#{{ _form.name }}_{{ fn }}_items').html('');
					var items = ''+$('#{{ _form.name }}_{{ fn }}').val();
					if (items.length) {
						$.ajax({
							data: 'action=refresh&items='+items,
							dataType: 'json',
							type: "POST",
							url: "{{ '-ajax/blocks'|href }}",
							success: function(result) {
								if (result.html) {
									$('#{{ _form.name }}_{{ fn }}_items').html(result.html);
									$('#{{ _form.name }}_{{ fn }}_items .form-action').unbind('click').bind('click', function(e){
										{{ _form.name }}_{{ jsfn }}_blockForm($(this).parents('.inputElementsItem').data('block'), $(this).parents('.inputElementsItem').data('index'));
									});
									$('#{{ _form.name }}_{{ fn }}_items .delete-action').unbind('click').bind('click', function(e){
										{{ _form.name }}_{{ jsfn }}_deleteValue($(this).parents('.inputElementsItem').data('index'));
									});
									{% if (fn not in _form.disabled) %}
										sortable('#{{ _form.name }}_{{ fn }}_items', {
											forcePlaceholderSize: true
										});
										sortable('#{{ _form.name }}_{{ fn }}_items')[0].addEventListener('sortupdate', {{ _form.name }}_{{ jsfn }}_reorder);
									{% endif %}
									if (result.countBlocks && (result.countBlocks>={{ fieldMaxBlocks }})) {
										$('#{{ _form.name }}_{{ fn }}_add').addClass('isDisabled');
									} else {
										$('#{{ _form.name }}_{{ fn }}_add').removeClass('isDisabled');
									}
								}
								$('#{{ _form.name }}_{{ fn }}_items').height('auto');
							},
							error: function(result) {
								alert('{{ "PICO.MESSAGE_ERROR_NETWORK"|i18n|e("js") }}');
							}
						});
					} else {
						$('#{{ _form.name }}_{{ fn }}_items').height('auto');
					}
				}
				{{ _form.name }}_{{ jsfn }}_refresh();

			</script>
		{% endapply %}

	</div> 

</div> 