<div class="input">

	{% if _form.fields[fn].icon %}
		<i class="{{ _form.fields[fn].icon }} isLight"></i>
	{% endif %}

	<div class="inputElements {% if fn in _form.disabled %}isDisabled{% endif %}" id="{{ _form.name }}_{{ fn }}_input">
		<input type="hidden" id="{{ _form.name }}_{{ fn }}" name="{{ _form.name }}_{{ fn }}" value="{{ cdnClearMissing(fieldCurrentValue) }}" /> 

		<ul class="inputElementsItems" id="{{ _form.name }}_{{ fn }}_items">
			{% for item in cdnGallery(fieldCurrentValue) %}
				<li data-item="{{ item.id }}" class="inputElementsItem {% if (fn in _form.disabled) %}noActions{% endif %}">
					<div class="inputElementsItemIcon">
						{% if item.extension in _pico.cdnDriverExtensions %}
							<img src="{{ item.id|cdn('cms') }}" />
						{% elseif item.extension in ['svg'] %}
							<img src="{{ item.id|cdn }}" />
						{% else %}
							<i class="dripicons-document"></i>
						{% endif %}
					</div>
					<div class="inputElementsItemText">
						<strong class="isEllipsis" title="{{ item.name|e('html_attr') }}">{{ item.name }}</strong>
						<small class="isEllipsis">{{ item.size|bytesize }} — {{ item.__timestamp|date('d/m/Y') }}</small>
					</div>
					{% if (fn not in _form.disabled) %}
						<div class="inputElementsItemActions">
							{% if _form.fields[fn].legend|default((_pico.controller=='cms')) %}
								<span class="button isHover isUpdate actionEdit">
									<i class="dripicons-pencil isAlone"></i>
								</span>
							{% endif %}
							<span class="button isHover isDelete actionDelete">
								<i class="dripicons-cross isAlone"></i>
							</span>
						</div>
					{% endif %}
				</li>
			{% endfor %}
		</ul>

		<div class="inputElementsActions">

			{# Uploader #}
			{% if (fn not in _form.disabled) and _form.fields[fn].upload|default(true) %}
				<a href="#" id="{{ _form.name }}_{{ fn }}_add" class="button isLight">
					<i class="dripicons-plus"></i>
					<span>
						{{ (_form.fields[fn].upload_i18n|default('PICO.ACTION_CDN_NEW'))|i18n }}
						<small>{{ 'PICO.LABEL_CDN_NEW'|i18n }}</small>
					</span>
				</a>
				{% apply defer('cdn_'~_form.name~'_'~fn) %}
					<div class="modal isHidden uploader" id="{{ _form.name }}_{{ fn }}_uploader">
						<div class="modalLoading">
							<i class="dripicons-hourglass"></i>
						</div>
						<div class="content">
							<div class="modalTitle">
								<h3 class="isEllipsis">{{ 'PICO.ACTION_CDN_NEW'|i18n }}</h3>
								<a href="#" data-action="modalclose" class="modalClose"></a>
							</div>
							<p class="isCenter">
								<i class="dripicons-cloud-upload isH2"></i>
							</p>
							<div class="form">
								<futureform enctype="multipart/form-data" action="{{ '#'|href }}" method="post" id="{{ _form.name }}_{{ fn }}_form" name="{{ _form.name }}_{{ fn }}_form">
									<input type="hidden" id="{{ _form.name }}_{{ fn }}_token" name="token" value="{{ token('upload') }}" />
									<div class="formField">
										<div class="formFieldLabel">
											<label for="{{ _form.name }}_{{ fn }}_file">
												{{ 'PICO.ACTION_BROWSE'|i18n }}
											</label>
										</div>
										<div class="formFieldInput">
											<div class="input">
												<input type="file" id="{{ _form.name }}_{{ fn }}_file" name="{{ _form.name }}_{{ fn }}_file[]" {% if _form.fields[fn].accept %}accept="{{ _form.fields[fn].accept }}"{% endif %} {% if (_form.fields[fn].multiple is not defined) or _form.fields[fn].multiple %}multiple{% endif %} />
											</div>
										</div>
									</div>
									<div class="formActions isRight">
										<a href="#" id="{{ _form.name }}_{{ fn }}_close" class="button">{{ 'PICO.ACTION_CANCEL'|i18n }}</a>
										<input type="submit" value="{{ 'PICO.ACTION_UPLOAD'|i18n }}" class="button isCreate isPrimary" />
									</div>
								</futureform>
							</div>
						</div>
					</div>
					<script type="text/javascript">
						{# /*
							Need to load the modal with a dummy "futureform" tag then detaching the modal,
							reattaching it to the body and change the tag to "form" otherwise you could load
							a form into another form and that is not allowed.
						*/ #}
						function retagElement(node, name) {
							let renamed = document.createElement(name);
							Array.from(node.attributes).forEach(attr => {
								renamed.setAttribute(attr.name, attr.value);        
							})
							while (node.firstChild) {
								renamed.appendChild(node.firstChild);
							}
							node.parentNode.replaceChild(renamed, node);
							return renamed;
						}
						var uploaderModal = $('#{{ _form.name }}_{{ fn }}_uploader').detach();
						uploaderModal.appendTo('body');
						retagElement($('#{{ _form.name }}_{{ fn }}_uploader futureform').get(0), 'form');

						$('#{{ _form.name }}_{{ fn }}_add').click(function(e){
							$('#{{ _form.name }}_{{ fn }}_uploader').removeClass('isHidden');
							$('#{{ _form.name }}_{{ fn }}_form input[type="file"]').trigger('click');
							document.body.onfocus = function(e){
								$('#{{ _form.name }}_{{ fn }}_uploader').addClass('isHidden');
								document.body.onfocus = null;
							};
							e.preventDefault();
						});
						$('#{{ _form.name }}_{{ fn }}_close').click(function(e){
							$('#{{ _form.name }}_{{ fn }}_uploader').addClass('isHidden');
							e.preventDefault();
						});
						$('#{{ _form.name }}_{{ fn }}_form').submit(function(e) {
							if (!$(this).find('input[type="submit"]').hasClass('isDisabled')) {
								$('#{{ _form.name }}_{{ fn }}_uploader').removeClass('isHidden').addClass('isLoading');
								$.ajax({
									contentType: false,
									data: new FormData(this),
									dataType: 'json',
									processData: false,
									type: "POST",
									url: "{{ ';cdn.php'|href }}",
									success: function(result) {
										$('#{{ _form.name }}_{{ fn }}_uploader').removeClass('isLoading').addClass('isHidden');
										if (result.error) {
											if (result.error_type && (result.error_type=='length')) {
												alert('{{ "PICO.MESSAGE_ERROR_UPLOAD_LENGTH"|i18n|e("js") }}'.replace('%s', result.error_maxuploadsize));
											} else if (result.error_type && (result.error_type=='rights')) {
												alert('{{ "PICO.MESSAGE_ERROR_UPLOAD_RIGHTS"|i18n|e("js") }}');
											} else {
												alert('{{ "PICO.MESSAGE_ERROR_UPLOAD"|i18n|e("js") }}');
											}
											$('#{{ _form.name }}_{{ fn }}_close').trigger('click');
											{{ _form.name }}_{{ jsfn }}_refresh();
										} else {
											$('#{{ _form.name }}_{{ fn }}_form')[0].reset();
											$('#{{ _form.name }}_{{ fn }}_form input[type="file"]').val('').trigger('change');
											$('#{{ _form.name }}_{{ fn }}_form input[type="submit"]').removeClass('primary').addClass('isDisabled');
											$('#{{ _form.name }}_{{ fn }}_close').trigger('click');
											for (var i=0; i<result.items.length; ++i) {
												if ($.isArray({{ _form.name }}_{{ jsfn }}_extensions) && ({{ _form.name }}_{{ jsfn }}_extensions.indexOf(result.items[i].extension)<0)) {
													alert('** '+result.items[i].name+' ** \n'+'{{ "PICO.MESSAGE_ERROR_UPLOAD_EXTENSION"|i18n|e("js") }}'.replace('%s', {{ _form.name }}_{{ jsfn }}_extensions.toString()));
												} else {
													if (!pico.serializedExists('{{ _form.name }}_{{ fn }}', result.items[i].id)) {
														{{ _form.name }}_{{ jsfn }}_insert(result.items[i]);
														$('#{{ _form.name }}_{{ fn }}').trigger('change');
													}
												}
												{{ _form.name }}_{{ jsfn }}_refresh();
											}
										}
									},
									error: function(result) {
										$('#{{ _form.name }}_{{ fn }}_uploader').removeClass('isLoading').addClass('isHidden');
										alert('{{ "PICO.MESSAGE_ERROR_NETWORK"|i18n|e("js") }}');
										$('#{{ _form.name }}_{{ fn }}_close').trigger('click');
									}
								});
							}
							e.preventDefault();
						});
						$('#{{ _form.name }}_{{ fn }}_form input[type="file"]').change(function(e){
							document.body.onfocus = null;
							var text = "{{ 'PICO.ACTION_BROWSE'|i18n }}";
							if (this.files) {
								if (this.files.length>0) {
									if (this.files.length>1) {
										text = '<i class="dripicons-copy"></i> {{ 'PICO.LABEL_FILES_COUNT'|i18n }}'.replace('%s', this.files.length);
									} else {
										text = '<i class="dripicons-document-new"></i> '+e.target.value.split( '\\' ).pop();
									}
									$(this).parent().parent().find('input[type="submit"]').removeClass('isDisabled').addClass('isAdd');
									$(this).parent().parent().submit();
								}
							} else {
								$(this).parent().parent().find('input[type="submit"]').removeClass('isPrimary').addClass('isDisabled');
							}
							$(this).parent().find('label').html(text);
						});
					</script>
				{% endapply %}
			{% endif %}


			{# Browser #}
			{% if (fn not in _form.disabled) and _form.fields[fn].browse|default((_pico.controller=='cms')) %}
				<a href="#" id="{{ _form.name }}_{{ fn }}_browse" class="button isLight">
					<i class="dripicons-cloud"></i>
					<span>
						{{ (_form.fields[fn].browse_i18n|default('PICO.ACTION_CDN_BROWSE'))|i18n }}
						<small>{{ 'PICO.LABEL_CDN_BROWSE'|i18n }}</small>
					</span>
				</a>
				{% apply defer('cdn_'~_form.name~'_'~fn~'_browse') %}
					<div class="modal isTop isHidden" id="{{ _form.name }}_{{ fn }}_browser">
						<div class="content">
							<div class="modalTitle">
								<h3 class="isEllipsis">{{ 'PICO.ACTION_CDN_BROWSE'|i18n }}</h3>
								<a href="#" data-action="modalclose" class="modalClose"></a>
							</div>
							<div class="cdnBrowser">
								<div class="cdnBrowserSearch">
									<div class="input">
										<input type="text" id="{{ _form.name }}_{{ fn }}_browser_query" placeholder="{{ 'CMS.LABEL_SEARCH'|i18n|e('html_attr') }}" autocomplete="off" />
										<a href="#" id="{{ _form.name }}_{{ fn }}_browser_search" class="postfix button"><i class="dripicons-search"></i></a>
									</div>
								</div>
								<div id="{{ _form.name }}_{{ fn }}_browser_results" class="cdnBrowserSearchResults isLoading" data-fn="{{ _form.name }}_{{ fn }}" data-jsfn="{{ _form.name }}_{{ jsfn }}"></div>
							</div>
						</div>
					</div>
					<script type="text/javascript">
						$('#{{ _form.name }}_{{ fn }}_browse').click(function(e){
							$('#{{ _form.name }}_{{ fn }}_browser').removeClass('isHidden');
							$('#{{ _form.name }}_{{ fn }}_browser_query').trigger('keyup');
							e.preventDefault();
						});
						$('#{{ _form.name }}_{{ fn }}_browser_close').click(function(e){
							$('#{{ _form.name }}_{{ fn }}_browser').addClass('isHidden');
							$('#{{ _form.name }}_{{ fn }}_browser_results').html('').addClass('isLoading');
							e.preventDefault();
						});
						var browserDelay = (function(){
							var timer = 0;
							return function(callback, ms){
								clearTimeout(timer);
								timer = setTimeout(callback, ms);
							};
						})();
						$('#{{ _form.name }}_{{ fn }}_browser_search').click(function(e){
							$('#{{ _form.name }}_{{ fn }}_browser_query').focus();
							e.preventDefault();
						});
						$('#{{ _form.name }}_{{ fn }}_browser_query')
							.keyup(function(e){ 
								if (e.which==27) {
									$('#{{ _form.name }}_{{ fn }}_browser_query').val('');
								}
								var browserQuery = $.trim($('#{{ _form.name }}_{{ fn }}_browser_query').val());
								if (e.which==13) {
									$('#{{ _form.name }}_{{ fn }}_browser_query').trigger('blur');
								} else {
									browserDelay(function(){
										$('#{{ _form.name }}_{{ fn }}_browser_results').addClass('isLoading');
										$.ajax({
											data: 'query='+browserQuery+'&extensions='+JSON.stringify({{ _form.name }}_{{ jsfn }}_extensions),
											dataType: 'json',
											method: 'POST',
											url: "{{ ':cms/cdn/ajax/browser'|href }}",
											success: function(result) {
												$('#{{ _form.name }}_{{ fn }}_browser_results').removeClass('isLoading');
												if (result.success) {
													$('#{{ _form.name }}_{{ fn }}_browser_results').html(result.results);
												} else {
													$('#{{ _form.name }}_{{ fn }}_browser_results').html('');
												}
											}
										});
									}, 300);
								}
							});
					</script>
				{% endapply %}
			{% endif %}
		</div>

		{% if (fn not in _form.disabled) and (_form.fields[fn].upload|default(true) or _form.fields[fn].browse|default(true)) %}
			<div class="inputElementsFootnote">
				{{ 'PICO.LABEL_UPLOAD_MAX_SIZE'|i18n }} {{ uploadMaxSize()|bytesize }}
				{% if _form.fields[fn].max %}
					— {{ 'PICO.LABEL_UPLOAD_MAX_COUNT'|i18n }} {{ _form.fields[fn].max }}
				{% endif %}
			</div>
		{% endif %}

		{# Serialized DOM-to-hidden sync + Legend modal + Refresh + Extensions #}
		{% apply defer(form.name~'_'~fn) %}
			<div id="cdn-legend-modal" class="modal isHidden">
				<div class="content">
					<div class="modalTitle">
						<h3 class="isEllipsis"></h3>
						<a href="#" id="cdn-legend-modal-close" class="modalClose"></a>
					</div>
					<div id="cdn-legend-modal-form"></div>
				</div>
			</div>
			<script type="text/javascript">
				
				var {{ _form.name }}_{{ jsfn }}_extensions = false;
				{% for check in _form.fields[fn].checks %}
					{% if check starts with 'extensions(' %}
						{{ _form.name }}_{{ jsfn }}_extensions = '{{ check[11:-1]|replace({"'": '', '"':''}) }}'.split(',');
					{% endif %}
					{% if check=='images' %}
						{{ _form.name }}_{{ jsfn }}_extensions = {{ _pico.cdnDriverExtensions|merge(['svg'])|json_encode|raw }};
					{% endif %}
				{% endfor %}

				$('#cdn-legend-modal').detach().appendTo('body');
				$('#cdn-legend-modal-close').click(function(e){
					$('#cdn-legend-modal h3').html('');
					$('#cdn-legend-modal-form').html('');
					$('#cdn-legend-modal').addClass('isHidden');
					e.preventDefault();
					e.stopPropagation();
				});
				function {{ _form.name }}_{{ jsfn }}_rebuild() {
					pico.serializedFromDom('{{ _form.name }}_{{ fn }}', '{{ _form.name }}_{{ fn }}_items', 'data-item');
				}
				function {{ _form.name }}_{{ jsfn }}_insert(item) {
					var now = new Date();
					var html = '';
					pico.serializedAdd('{{ _form.name }}_{{ fn }}', item.id);
					if ($('#{{ _form.name }}_{{ fn }}_items li[data-item="'+item.id+'"]').length==0) {
						html = '<li data-item="'+item.id+'" class="inputElementsItem">'+
								'<div class="inputElementsItemIcon">';	
						if (pico.inArray(item.extension, {{ _pico.cdnDriverExtensions|json_encode|raw }})) {
							html+= '<img src="'+pico.href(';cdn.php')+'?file='+item.id+'_'+item.key+'_cms.'+item.extension+'" />';
						} else if (pico.inArray(item.extension, ['svg'])) {
							html+= '<img src="'+pico.href(';cdn.php')+'?file='+item.id+'_'+item.key+'.'+item.extension+'" />';
						} else {
							html+= '<i class="dripicons-document"></i>';
						}		
						html+= '</div>'+
								'<div class="inputElementsItemText">'+
									'<strong class="isEllipsis" title="'+escape(item.name)+'">'+item.name+'</strong>'+
									'<small class="isEllipsis">'+pico.bytesize(item.size)+' — '+now.getDate()+'/'+(now.getMonth()+1)+'/'+now.getFullYear()+'</small>'+
								'</div>'+
								'<div class="inputElementsItemActions">'+
									'<span class="button isHover isUpdate actionEdit"><i class="dripicons-pencil isAlone"></i></span>'+
									'<span class="button isHover isDelete actionDelete"><i class="dripicons-cross isAlone"></i></span>'+
								'</div>'+
							'</li>';
						$('#{{ _form.name }}_{{ fn }}_items').append(html);
					}
				}
				function {{ _form.name }}_{{ jsfn }}_refresh() {
					{% if _form.fields[fn].max %}
						if (pico.serializedCount('{{ _form.name }}_{{ fn }}')>{{ _form.fields[fn].max+0 }}) {
							pico.serializedCut('{{ _form.name }}_{{ fn }}', {{ _form.fields[fn].max+0 }});
						}
					{% endif %}
					$('#{{ _form.name }}_{{ fn }}_input .inputElementsItems .inputElementsItem .actionDelete').unbind('click').bind('click', function(e){
						pico.serializedRemove('{{ _form.name }}_{{ fn }}',$(this).parents('.inputElementsItem').data('item'));
						$(this).parents('.inputElementsItem').remove();
						{{ _form.name }}_{{ jsfn }}_refresh();
					});
					$('#{{ _form.name }}_{{ fn }}_input .inputElementsItem .actionEdit').unbind('click').bind('click', function(e){
						var itemId = $(this).parents('.inputElementsItem').data('item');
						var itemName = $(this).parents('.inputElementsItem').find('.inputElementsItemText strong').text();
						$.ajax({
							data: 'item='+itemId,
							dataType: 'json',
							method: 'POST',
							url: "{{ ':cms/cdn/ajax/legend'|href }}",
							success: function(result) {
								if (result.form) {
									$('#cdn-legend-modal h3').html(itemName);
									$('#cdn-legend-modal-form').html(result.form);
									$('#cdn-legend-modal form').bind('submit', function(e2){
										var formData = $(this).serialize();
										$.ajax({
											data: formData+'&item='+itemId,
											dataType: 'json',
											method: 'POST',
											url: "{{ ':cms/cdn/ajax/legend'|href }}",
											success: function(result) {
												$('#cdn-legend-modal h3').html('');
												$('#cdn-legend-modal-form').html('');
												$('#cdn-legend-modal').addClass('isHidden');
											}
										});
										e2.preventDefault();
									});
									$('#cdn-legend-modal').removeClass('isHidden');
									$('#cdn-legend-modal textarea').first().focus();
								} else {
									$('#cdn-legend-modal h3').html('');
									$('#cdn-legend-modal-form').html('');
									$('#cdn-legend-modal').addClass('isHidden');
								}
							},
							error: function(jqXHR, textStatus, errorThrown) {
								alert(textStatus+' ('+errorThrown+')');
							}
						});
						e.preventDefault();
						e.stopPropagation();
					});
					{% if (fn not in _form.disabled) %}
						sortable('#{{ _form.name }}_{{ fn }}_items', {
							forcePlaceholderSize: true
						});
						sortable('#{{ _form.name }}_{{ fn }}_items')[0].addEventListener('sortstop', {{ _form.name }}_{{ jsfn }}_rebuild);
					{% endif %}
				}
				{{ _form.name }}_{{ jsfn }}_refresh();
			</script>
		{% endapply %}

	</div>

	{% if (_form.units and _form.fields[fn].unit) %}
		<div class="postfix">
			{{ ('PICO.LABEL_UNIT_'~_form.fields[fn].unit)|i18n }}
		</div>
	{% endif %}
	
</div>