{% if _form.fields[fn].select %}

	<div class="input">
		{% if _form.fields[fn].icon %}
			<div class="prefix">
				<i class="{{ _form.fields[fn].icon }} isLight"></i>
			</div>
		{% endif %}
		<select id="{{ _form.name }}_{{ fn }}" name="{{ _form.name }}_{{ fn }}[]" multiple {% if _form.fields[fn].placeholder %}data-placeholder="{{ _form.fields[fn].placeholder }}"{% endif %} {% if _form.fields[fn].autofocus %}autofocus{% endif %} {% if fn in _form.disabled %}disabled{% endif %}>
			{% for value, text in (_form.fields[fn].options_reverse ? _form.fields[fn].options|reverse(true) : _form.fields[fn].options) %}
				<option value="{{ value }}" {% if value|inValues(fieldCurrentValue) %}selected{% endif %}>{{ text }}{% if (_form.units and _form.fields[fn].unit) %} {{ ('PICO.LABEL_UNIT_'~_form.fields[fn].unit)|i18n }}{% endif %}</option>
			{% endfor %}
		</select>
	</div>
	{% apply defer('chosen') %}
		{{ cssLoad(['chosen']) }}
		{{ jsLoad(['chosen.jquery.min']) }}
	{% endapply %}
	{% apply defer('chosen_'~_form.name~'_'~fn) %}
		<script type="text/javascript">
			$('#{{ _form.name }}_{{ fn }}').chosen({
				disable_search_threshold: 2,
				no_results_text: ' ⁈',
				placeholder_text_multiple: ' ',
				placeholder_text_single: ' ',
				width: "100%",
			});
			// Fixing minimum height if in modal
			if ($('#{{ _form.name }}_{{ fn }}').parents('.pico-modal').length>0) {
				(function() {
					const form = $('#{{ _form.name }}_{{ fn }}').parents('form');
					const needed = 200;
					const space = Math.abs($('#{{ _form.name }}_{{ fn }}_chosen').offset().top - form.find('.pico-form-actions').offset().top);
					if (space < needed) {
						$('#{{ _form.name }}_{{ fn }}').parents('.pico-form-field').css('min-height', needed - space);
					}
				})();
			}
			// Triggering change on hidden input to help when original input change isn't properly triggered by chosen
			$('#{{ _form.name }}_{{ fn }}').chosen().change(function(e){
				$('#{{ _form.name }}_{{ fn }}_present').trigger('change');
			});
		</script>
	{% endapply %}

{% else %}

	{% if _form.fields[fn].options %}
		<div class="group {% if _form.fields[fn].oneperline %}isSingle{% else %}isList{% endif %}">
			{% for value, text in (_form.fields[fn].options_reverse ? _form.fields[fn].options|reverse(true) : _form.fields[fn].options) %}
				<div class="input">
					{% if loop.first and _form.fields[fn].icon %}
						<div class="prefix">
							<i class="{{ _form.fields[fn].icon }} isLight"></i>
						</div>
					{% endif %}
					<label {% if fn in _form.disabled %}class="isDisabled"{% endif %}>
						<input type="checkbox" 
							id="{{ _form.name }}_{{ fn }}_{{ value }}" 
							name="{{ _form.name }}_{{ fn }}[]" 
							value="{{ value }}" 
							{% if value|inValues(fieldCurrentValue) %}checked="checked"{% endif %} 
							{% if fn in _form.disabled %}disabled{% endif %} />
						<span class="isEllipsis">{{ text }}</span>
					</label>
					{% if loop.last and (_form.units and _form.fields[fn].unit) %}
						<div class="postfix">
							{{ ('PICO.LABEL_UNIT_'~_form.fields[fn].unit)|i18n }}
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% else %}
		<label class="empty">{{ 'PICO.LABEL_VALUE_EMPTY'|i18n }}</label>
	{% endif %}
	
{% endif %}