{% if _form.fields[fn].radio %}

	{% if _form.fields[fn].options %}
		<div class="group {% if _form.fields[fn].oneperline %}isSingle{% elseif _form.fields[fn].options|length>4 %}isList{% endif %}">
			{% for value, text in (_form.fields[fn].options_reverse ? _form.fields[fn].options|reverse(true) : _form.fields[fn].options) %}
				<div class="input">
					{% if loop.first and _form.fields[fn].icon %}
						<div class="prefix">
							<i class="{{ _form.fields[fn].icon }} isLight"></i>
						</div>
					{% endif %}
					<label>
						<input type="radio" 
							id="{{ _form.name }}_{{ fn }}_{{ value }}" 
							name="{{ _form.name }}_{{ fn }}" value="{{ value }}" 
							{% if fieldCurrentValue is not empty and (value==fieldCurrentValue) %}checked="checked"{% endif %} />
						<span class="isEllipsis">{{ text }}</span>
					</label>
					{% if loop.last and (_form.units and _form.fields[fn].unit) %}
						<div class="postfix">
							{{ ('PICO.LABEL_UNIT_'~_form.fields[fn].unit)|i18n }}
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% else %}
		<label class="empty">{{ 'PICO.LABEL_VALUE_EMPTY'|i18n }}</label>
	{% endif %}

{% else %}
	
	<div class="input">
		{% if _form.fields[fn].icon %}
			<i class="{{ _form.fields[fn].icon }} isLight"></i>
		{% endif %}
		<select id="{{ _form.name }}_{{ fn }}" name="{{ _form.name }}_{{ fn }}" {% if _form.fields[fn].placeholder %}placeholder="{{ _form.fields[fn].placeholder }}"{% endif %} {% if _form.fields[fn].autofocus %}autofocus{% endif %} {% if fn in _form.disabled %}disabled{% endif %}>
			{% for value, text in (_form.fields[fn].options_reverse ? _form.fields[fn].options|reverse(true) : _form.fields[fn].options) %}
				<option value="{{ value }}" {% if fieldCurrentValue is not empty and (value==fieldCurrentValue) %}selected{% endif %}>{{ text }}{% if (_form.units and _form.fields[fn].unit) %} {{ ('PICO.LABEL_UNIT_'~_form.fields[fn].unit)|i18n }}{% endif %}</option>
			{% endfor %}
		</select>
		<i class="dripicons-chevron-down isRight"></i>
	</div>

{% endif %}