<div class="input isMedium">
	<input type="hidden" id="{{ _form.name }}_{{ fn }}" name="{{ _form.name }}_{{ fn }}" value="{{ fieldCurrentValue }}" />
	{% if _form.fields[fn].icon %}
		<i class="{{ _form.fields[fn].icon }} isLight"></i>
	{% else %}
		<i class="dripicons-calendar isLight"></i>
	{% endif %}
	<input 
		type="text" 
		id="{{ _form.name }}_{{ fn }}_human" 
		{% if _form.fields[fn].placeholder %}placeholder="{{ _form.fields[fn].placeholder }}"{% endif %} 
		{% if _form.fields[fn].autofocus %}autofocus{% endif %} 
		{% if fn in _form.disabled %}disabled{% endif %} />
	{% if (_form.units and _form.fields[fn].unit) %}
		<div class="postfix">
			{{ ('PICO.LABEL_UNIT_'~_form.fields[fn].unit)|i18n }}
		</div>
	{% endif %}
</div>

{% if _form.fields[fn].masked %}

	{% apply defer('cleave') %}
		{{ jsLoad(['cleave.min']) }}
	{% endapply %}
	{% apply defer('date_'~_form.name~'_'~fn) %}
		<script type="text/javascript">
			var {{ _form.name }}_{{ fn }}_cleave = new Cleave('#{{ _form.name }}_{{ fn }}_human', {
				date: true,
				{% if 'future'|inValues(_form.fields[fn].checks) %}dateMin: "{{ 'now'|date('Y-m-d') }}",{% endif %}
    			{% if 'past'|inValues(_form.fields[fn].checks) %}dateMax: "{{ 'now'|date('Y-m-d') }}",{% endif %}
				delimiter: '/',
				datePattern: ['d', 'm', 'Y']
			});
			$('#{{ _form.name }}_{{ fn }}_human').change(function(e){
				var valid = {{ _form.name }}_{{ fn }}_cleave.getISOFormatDate();
				if ($('#{{ _form.name }}_{{ fn }}_human').val()) {
					if (valid) {
						$('#{{ _form.name }}_{{ fn }}_container').removeClass('error');
					} else {
						$('#{{ _form.name }}_{{ fn }}_container').addClass('error');
					}
				}
				$('#{{ _form.name }}_{{ fn }}').val(valid);
			});
		</script>
	{% endapply %}

{% else %}

	{% apply defer('airdatepicker') %}
		{{ cssLoad(['airdatepicker']) }}
		{{ jsLoad(['airdatepicker.min']) }}
	{% endapply %}

	{% apply defer('pickadate_'~_form.name~'_'~fn) %}
		{% if fn not in _form.disabled %}
			<script type="text/javascript">
				$('#{{ _form.name }}_{{ fn }}_human').prop('readonly', true);
				new AirDatepicker('#{{ _form.name }}_{{ fn }}_human', {
					altField: '#{{ _form.name }}_{{ fn }}',
					altFieldDateFormat: 'yyyy-MM-dd',
					autoClose: true,
					buttons: ['clear', 'today'],
					locale: {
						days: ['{{ "PICO.LABEL_SUNDAY"|i18n|e('js') }}','{{ "PICO.LABEL_MONDAY"|i18n|e('js') }}','{{ "PICO.LABEL_TUESDAY"|i18n|e('js') }}','{{ "PICO.LABEL_WEDNESDAY"|i18n|e('js') }}','{{ "PICO.LABEL_THURSDAY"|i18n|e('js') }}','{{ "PICO.LABEL_FRIDAY"|i18n|e('js') }}','{{ "PICO.LABEL_SATURDAY"|i18n|e('js') }}'],
						daysShort: ['{{ "PICO.LABEL_SUNDAY_SHORT"|i18n|e('js') }}','{{ "PICO.LABEL_MONDAY_SHORT"|i18n|e('js') }}','{{ "PICO.LABEL_TUESDAY_SHORT"|i18n|e('js') }}','{{ "PICO.LABEL_WEDNESDAY_SHORT"|i18n|e('js') }}','{{ "PICO.LABEL_THURSDAY_SHORT"|i18n|e('js') }}','{{ "PICO.LABEL_FRIDAY_SHORT"|i18n|e('js') }}','{{ "PICO.LABEL_SATURDAY_SHORT"|i18n|e('js') }}'],
						daysMin: ['{{ "PICO.LABEL_SUNDAY_SHORT"|i18n|e('js') }}','{{ "PICO.LABEL_MONDAY_SHORT"|i18n|e('js') }}','{{ "PICO.LABEL_TUESDAY_SHORT"|i18n|e('js') }}','{{ "PICO.LABEL_WEDNESDAY_SHORT"|i18n|e('js') }}','{{ "PICO.LABEL_THURSDAY_SHORT"|i18n|e('js') }}','{{ "PICO.LABEL_FRIDAY_SHORT"|i18n|e('js') }}','{{ "PICO.LABEL_SATURDAY_SHORT"|i18n|e('js') }}'],
						months: ['{{ "PICO.LABEL_JANUARY"|i18n }}','{{ "PICO.LABEL_FEBRUARY"|i18n }}','{{ "PICO.LABEL_MARCH"|i18n }}','{{ "PICO.LABEL_APRIL"|i18n }}','{{ "PICO.LABEL_MAY"|i18n }}','{{ "PICO.LABEL_JUNE"|i18n }}','{{ "PICO.LABEL_JULY"|i18n }}','{{ "PICO.LABEL_AUGUST"|i18n }}','{{ "PICO.LABEL_SEPTEMBER"|i18n }}','{{ "PICO.LABEL_OCTOBER"|i18n }}','{{ "PICO.LABEL_NOVEMBER"|i18n }}','{{ "PICO.LABEL_DECEMBER"|i18n }}'],
						monthsShort: ['{{ "PICO.LABEL_JANUARY_SHORT"|i18n }}','{{ "PICO.LABEL_FEBRUARY_SHORT"|i18n }}','{{ "PICO.LABEL_MARCH_SHORT"|i18n }}','{{ "PICO.LABEL_APRIL_SHORT"|i18n }}','{{ "PICO.LABEL_MAY_SHORT"|i18n }}','{{ "PICO.LABEL_JUNE_SHORT"|i18n }}','{{ "PICO.LABEL_JULY_SHORT"|i18n }}','{{ "PICO.LABEL_AUGUST_SHORT"|i18n }}','{{ "PICO.LABEL_SEPTEMBER_SHORT"|i18n }}','{{ "PICO.LABEL_OCTOBER_SHORT"|i18n }}','{{ "PICO.LABEL_NOVEMBER_SHORT"|i18n }}','{{ "PICO.LABEL_DECEMBER_SHORT"|i18n }}'],
						today: '{{ 'PICO.ACTION_TODAY'|i18n|e('js') }}',
						clear: '{{ 'PICO.ACTION_CLEAR'|i18n|e('js') }}',
						dateFormat: 'dd/MM/yyyy',
						timeFormat: 'HH:mm',
						firstDay: 1
					},
					{% if 'past'|inValues(_form.fields[fn].checks) %}maxDate: new Date({{ 'now'|date('Y') }},{{ 'now'|date('m') }}-1,{{ 'now'|date('d') }}),{% endif %}
					{% if 'future'|inValues(_form.fields[fn].checks) %}minDate: new Date({{ 'now'|date('Y') }},{{ 'now'|date('m') }}-1,{{ 'now'|date('d') }}),{% endif %}
					{% if fieldCurrentValue %}selectedDates: ['{{ fieldCurrentValue }}'],{% endif %}
				});
			</script>
		{% endif %}
	{% endapply %}

{% endif %}