<div class="input isMedium">
	{% if _form.fields[fn].icon %}
		<i class="{{ _form.fields[fn].icon }} isLight"></i>
	{% else %}
		<i class="dripicons-dots-3 isLight"></i>
	{% endif %}
	<input 
		type="text" 
		id="{{ _form.name }}_{{ fn }}" 
		name="{{ _form.name }}_{{ fn }}" 
		value="{{ fieldCurrentValue }}"
		pattern="[0-9]*" 
		class="isDigits"
		maxlength="{{ _form.fields[fn].maxlength|default(9) }}" 
		placeholder="{% for i in 0.._form.fields[fn].maxlength|default(9) %}&bull;{% endfor %}" 
		{% if _form.fields[fn].autofocus or (_form.fields|length==1) %}autofocus{% endif %} 
		autocomplete="off" />
	{% if (_form.units and _form.fields[fn].unit) %}
		<div class="postfix">
			{{ ('PICO.LABEL_UNIT_'~_form.fields[fn].unit)|i18n }}
		</div>
	{% endif %}
</div>