<div class="input">
	<textarea id="{{ _form.name }}_{{ fn }}" name="{{ _form.name }}_{{ fn }}" rows="{{ _form.fields[fn].rows|default(10) }}" {% if _form.fields[fn].placeholder %}placeholder="{{ _form.fields[fn].placeholder }}"{% endif %} {% if _form.fields[fn].autofocus %}autofocus{% endif %} {% if fn in _form.disabled %}disabled{% endif %}>{{ fieldCurrentValue }}</textarea>
</div>

{% apply defer('tinymce') %}
	{% if not _form.ajax %}
		<script type="text/javascript" src="{{ ';resources/tinymce_7.4.1/tinymce.min.js'|href }}" referrerpolicy="origin"></script>
	{% endif %}
{% endapply %}

{% if _cms.ai %}
	{% apply defer('aibot') %}
		{% if not _form.ajax %}
			{{ jsLoad(['aibot']) }}
		{% endif %}
	{% endapply %}
{% endif %}

{% apply defer('tinymce_'~_form.name~'_'~fn) %}
	<script type="text/javascript">
		tinymce.remove("textarea#{{ _form.name }}_{{ fn }}");
		tinymce.init({ 
			branding: false,
			browser_spellcheck: true,
			content_css: "{{ ';css.php'|href(true, true) }}&files={{ ['tinymce']|json_encode|url_encode }}",
			document_base_url: '{{ ";"|href }}',
			external_plugins: {
				'aibot': "{{ ';resources/tinymce/aibot.js'|href }}",
				'picocdn': "{{ ';resources/tinymce/picocdn.js'|href }}",
			},
			fix_list_elements: true,
			formats: {
				alignleft: {selector : 'blockquote,div,h1,h2,h3,h4,h5,h6,img,iframe,li,object,ol,p,table,td,th,ul', classes : 'alignLeft'},
				aligncenter: {selector : 'blockquote,div,h1,h2,h3,h4,h5,h6,img,iframe,li,object,ol,p,table,td,th,ul', classes : 'alignCenter'},
				alignright: {selector : 'blockquote,div,h1,h2,h3,h4,h5,h6,img,iframe,li,object,ol,p,table,td,th,ul', classes : 'alignRight'},
				alignjustify: {selector : 'blockquote,div,h1,h2,h3,h4,h5,h6,img,iframe,li,object,ol,p,table,td,th,ul', classes : 'alignJustify'},
			},
			invalid_elements: 'font',
			{% if _pico.lang=='fr' %}
				language: 'fr_FR',
			{% endif %}
			language_load: false,
			license_key: 'gpl', 
			menubar: false,
			{% if not _form.fields[fn].allowpaste %}
				paste_as_text: true,
			{% endif %}
			plugins: 'link anchor media code fullscreen lists table picocdn {% if _cms.ai %}aibot{% endif %}',
			promotion: false,
			relative_urls: false,
			remove_script_host: true,
			selector: "textarea#{{ _form.name }}_{{ fn }}", 
			skin: 'tinymce-5',
			style_formats: [
				{% include 'forms/_html.style_formats.twig' %}
			],
			table_advtab: false,
			table_cell_advtab: false,
			table_row_advtab: false,
			table_class_list: [
				{% include 'forms/_html.table_class_list.twig' %}
			],
			{% if fn in _form.disabled %}
				body_class: 'disabled',
				readonly: 1,
				statusbar: false,
				toolbar: [],
			{% else %}
				toolbar: [
					'styles | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist', 
					'link unlink anchor | picocdn media | table hr | removeformat code fullscreen | undo redo {% if _cms.ai %}aibot{% endif %}'
				],
			{% endif %}
			{% for fpn, fpv in _form.fields[fn] %}
				{% if fpn|slice(0, 8)=='tinymce_' %}
					{{ fpn|slice(8) }}: {{ fpv|raw }},
				{% endif %}
			{% endfor %}
		});
	</script>
{% endapply %}