<div class="input">
	<textarea id="{{ _form.name }}_{{ fn }}" name="{{ _form.name }}_{{ fn }}" rows="{{ _form.fields[fn].rows|default(3) }}" {% if _form.fields[fn].placeholder %}placeholder="{{ _form.fields[fn].placeholder }}"{% endif %} {% if _form.fields[fn].autofocus %}autofocus{% endif %} {% if fn in _form.disabled %}disabled{% endif %}>{{ fieldCurrentValue }}</textarea>
</div>

{% apply defer('tinymce') %}
	{% if not _form.ajax  %}
		<script type="text/javascript" src="{{ ';resources/tinymce_7.4.1/tinymce.min.js'|href }}" referrerpolicy="origin"></script>
	{% endif %}
{% endapply %}

{% if _cms.ai %}
	{% apply defer('aibot') %}
		{{ jsLoad(['aibot']) }}
	{% endapply %}
{% endif %}

{% apply defer('tinymce_'~_form.name~'_'~fn) %}
	<script type="text/javascript">
		tinymce.remove("textarea#{{ _form.name }}_{{ fn }}");
		tinymce.init({ 
			branding: false,
			browser_spellcheck: true,
			content_css: "{{ ';css.php'|href(true, true) }}&files={{ ['tinymce']|json_encode|url_encode }}",
			document_base_url: '{{ ";"|href }}',
			external_plugins: {
				'aibot': "{{ ';resources/tinymce/aibot.js'|href }}",
				'picocdn': "{{ ';resources/tinymce/picocdn.js'|href }}",
			},
			fix_list_elements: true,
			forced_root_block : '',
			height: 210,
			invalid_elements: 'font',
			{% if _pico.lang=='fr' %}
				language: 'fr_FR',
			{% endif %}
			language_load: false,
			license_key: 'gpl', 
			menubar: false,
			paste_as_text: true,
			plugins: 'link code paste {% if _cms.ai %}aibot{% endif %}',
			promotion: false,
			relative_urls: false,
			remove_script_host: true,
			selector: "textarea#{{ _form.name }}_{{ fn }}", 
			skin: 'tinymce-5',
			statusbar: false,
			{% if fn in _form.disabled %}
				body_class: 'disabled',
				readonly: 1,
				toolbar: [],
			{% else %}
				toolbar: [
					'bold italic | link unlink | removeformat code {% if _cms.ai %}| aibot{% endif %}'
				],
			{% endif %}
			valid_elements : 'a[href|title|target],strong/b,em/i,br',
			{% for fpn, fpv in _form.fields[fn] %}
				{% if fpn|slice(0, 8)=='tinymce_' %}
					{{ fpn|slice(8) }}: {{ fpv|raw }},
				{% endif %}
			{% endfor %}
		});
	</script>
{% endapply %}