{% apply defer('tinymce') %}
	{% if not _form.ajax  %}
		<script type="text/javascript" src="{{ ';resources/tinymce_7.4.1/tinymce.min.js'|href }}" referrerpolicy="origin"></script>
	{% endif %}
{% endapply %}

{% set fieldMaxModels = _form.fields[fn].max|default(10) %}

<div class="input">

	{% if _form.fields[fn].icon %}
		<i class="{{ _form.fields[fn].icon }} isLight"></i>
	{% endif %}

	<div class="inputElements {% if fn in _form.disabled %}isDisabled{% endif %}" id="{{ _form.name }}_{{ fn }}_input">
		<input type="hidden" id="{{ _form.name }}_{{ fn }}" name="{{ _form.name }}_{{ fn }}" value="{{ fieldCurrentValue }}" /> 

		<div id="{{ _form.name }}_{{ fn }}_items" class="inputElementsItems"></div>

		<div class="inputElementsActions">
			<a href="#" id="{{ _form.name }}_{{ fn }}_add" class="button isLight">
				<i class="dripicons-plus"></i>
				<span>
					{{ (_form.fields[fn].upload_i18n|default('PICO.ACTION_REFERENCES_CREATE'))|i18n }}
					<small>{{ 'PICO.LABEL_REFERENCES_CREATE'|i18n }}</small>
				</span>
			</a>
		</div>

		{% if (fn not in _form.disabled) %}
			<div class="inputElementsFootnote">
				{{ 'PICO.LABEL_REFERENCES_MAX_COUNT'|i18n }} {{ fieldMaxModels }}
			</div>
		{% endif %}

		{% apply defer('models_'~_form.name~'_'~fn) %}	

			<div class="modal isHidden" id="{{ _form.name }}_{{ fn }}_modelEdit">
				<div class="modalLoading">
					<i class="dripicons-hourglass"></i>
				</div>
				<div class="content">
					<div class="modalTitle">
						<h3 class="isEllipsis">{{ 'PICO.TITLE_EDIT_MODEL'|i18n }}</h3>
					</div>
					<div id="{{ _form.name }}_{{ fn }}_modelEdit_form"></div>
				</div>
			</div>

			<script type="text/javascript">

				{# Form popin logic #}
				function {{ _form.name }}_{{ jsfn }}_modelForm(index, first) {
					$('#{{ _form.name }}_{{ fn }}_modelEdit').removeClass('isHidden').addClass('isLoading');
					if (typeof index==='undefined') {
						index = false;
					}
					if (typeof first==='undefined') {
						first = true;
					}
					var loadData = '';
					if (Number.isInteger(index) && first) {
						loadData = {{ _form.name }}_{{ jsfn }}_getValue(index);
					}
					var formData = $('#{{ _form.name }}_{{ fn }}_modelForm_form').serialize();
					$.ajax({
						data: formData+'&load='+encodeURIComponent(loadData)+'&action=form&field={{ _form.name }}_{{ fn }}&model={{ _form.fields[fn].model }}&formconfig='+encodeURIComponent('{{ _form.fields[fn].form|json_encode|raw }}'),
						dataType: 'json',
						method: 'POST',
						url: "{{ '-ajax/models'|href }}",
						success: function(result) {
							$('#{{ _form.name }}_{{ fn }}_modelEdit').attr('class', 'modal');
							if (result.value) {
								$('#{{ _form.name }}_{{ fn }}_modelEdit').addClass('isLoading');
								$('#{{ _form.name }}_{{ fn }}_modelEdit_form').html('');
								if (Number.isInteger(index)) {
									{{ _form.name }}_{{ jsfn }}_replaceValue(index, result.value);
								} else {
									{{ _form.name }}_{{ jsfn }}_addValue(result.value);
								}
								$('#{{ _form.name }}_{{ fn }}_modelEdit').removeClass('isLoading').addClass('isHidden');
							} else if (result.form) {
								$('#{{ _form.name }}_{{ fn }}_modelEdit_form').html(result.form);
								$('#{{ _form.name }}_{{ fn }}_modelForm_action-cancel').click(function(e2){
									$('#{{ _form.name }}_{{ fn }}_modelEdit_form').html('');
									$('#{{ _form.name }}_{{ fn }}_modelEdit').removeClass('isLoading').addClass('isHidden');
									e2.preventDefault();
								});
								$('#{{ _form.name }}_{{ fn }}_modelForm_action-save').click(function(e2){
									tinymce.triggerSave(); // Sync all tinyMCE to textareas
									{{ _form.name }}_{{ jsfn }}_modelForm(index, (result.success ? true : false));
									e2.preventDefault();
								});
							}
						},
						error: function(jqXHR, textStatus, errorThrown) {
							$('#{{ _form.name }}_{{ fn }}_modelEdit').removeClass('isLoading');
							$('#{{ _form.name }}_{{ fn }}_modelEdit').addClass('isHidden');
							console.log(jqXHR);
							alert('{{ "PICO.MESSAGE_ERROR_NETWORK"|i18n|e("js") }}'+"\n\n"+textStatus+": "+errorThrown);
						}
					});
				}
				$('#{{ _form.name }}_{{ fn }}_add').click(function(e){
					{{ _form.name }}_{{ jsfn }}_modelForm();
					e.preventDefault();
				});

				{# Hidden field manipulation #}
				function {{ _form.name }}_{{ jsfn }}_addValue(value) {
					var current = ''+$('#{{ _form.name }}_{{ fn }}').val();
					if (current.length) {
						current = JSON.parse(current);
					} else {
						current = [];
					}
					current.push(value);
					$('#{{ _form.name }}_{{ fn }}').val(JSON.stringify(current));
					{{ _form.name }}_{{ jsfn }}_refresh();
				}
				function {{ _form.name }}_{{ jsfn }}_deleteValue(index) {
					var current = ''+$('#{{ _form.name }}_{{ fn }}').val();
					if (current.length) {
						current = JSON.parse(current);
						current.splice(index,1)
						$('#{{ _form.name }}_{{ fn }}').val(JSON.stringify(current));
						{{ _form.name }}_{{ jsfn }}_refresh();
					}
				}
				function {{ _form.name }}_{{ jsfn }}_getValue(index) {
					var current = ''+$('#{{ _form.name }}_{{ fn }}').val();
					if (current.length) {
						current = JSON.parse(current);
						return JSON.stringify(current[index]);
					}
				}
				function {{ _form.name }}_{{ jsfn }}_replaceValue(index, value) {
					var current = ''+$('#{{ _form.name }}_{{ fn }}').val();
					if (current.length) {
						current = JSON.parse(current);
						current[index] = value;
						$('#{{ _form.name }}_{{ fn }}').val(JSON.stringify(current));
						{{ _form.name }}_{{ jsfn }}_refresh();
					}
				}
				function {{ _form.name }}_{{ jsfn }}_reorder() {
					var current = ''+$('#{{ _form.name }}_{{ fn }}').val();
					if (current.length) {
						current = JSON.parse(current);
						var reordered = [];
						$('#{{ _form.name }}_{{ fn }}_items .inputElementsItem').each(function(i){
							reordered.push(current[parseInt($(this).data('index'))]);
						});
						for (var i=0; i<reordered.length; ++i) {
							reordered[i]['index'] = i;
						}
						$('#{{ _form.name }}_{{ fn }}').val(JSON.stringify(reordered));
						{{ _form.name }}_{{ jsfn }}_refresh();
					}
				}

				{# Refresh #}
				function {{ _form.name }}_{{ jsfn }}_refresh() {
					$('#{{ _form.name }}_{{ fn }}_items').height($('#{{ _form.name }}_{{ fn }}_items').outerHeight());
					$('#{{ _form.name }}_{{ fn }}_items').html('');
					var items = ''+$('#{{ _form.name }}_{{ fn }}').val();
					if (items.length) {
						$.ajax({
							data: 'action=refresh&model={{ _form.fields[fn].model }}&items='+encodeURIComponent(items),
							dataType: 'json',
							type: "POST",
							url: "{{ '-ajax/models'|href }}",
							success: function(result) {
								if (result.html) {
									$('#{{ _form.name }}_{{ fn }}_items').html(result.html);
									$('#{{ _form.name }}_{{ fn }}_items .form-action').unbind('click').bind('click', function(e){
										{{ _form.name }}_{{ jsfn }}_modelForm($(this).parents('.inputElementsItem').data('index'));
									});
									$('#{{ _form.name }}_{{ fn }}_items .delete-action').unbind('click').bind('click', function(e){
										{{ _form.name }}_{{ jsfn }}_deleteValue($(this).parents('.inputElementsItem').data('index'));
									});
									{% if (fn not in _form.disabled) %}
										sortable('#{{ _form.name }}_{{ fn }}_items', {
											forcePlaceholderSize: true
										});
										sortable('#{{ _form.name }}_{{ fn }}_items')[0].addEventListener('sortupdate', {{ _form.name }}_{{ jsfn }}_reorder);
									{% endif %}
									if (result.countModels && (result.countModels>={{ fieldMaxModels }})) {
										$('#{{ _form.name }}_{{ fn }}_add').addClass('isDisabled');
									} else {
										$('#{{ _form.name }}_{{ fn }}_add').removeClass('isDisabled');
									}
								}
								$('#{{ _form.name }}_{{ fn }}_items').height('auto');
							},
							error: function(result) {
								alert('{{ "PICO.MESSAGE_ERROR_NETWORK"|i18n|e("js") }}');
							}
						});
					} else {
						$('#{{ _form.name }}_{{ fn }}_items').height('auto');
					}
				}
				{{ _form.name }}_{{ jsfn }}_refresh();

			</script>
		{% endapply %}

	</div> 

</div>