{% set cleaveValue = false %}
{% if fieldCurrentValue is not empty %}
	{% if _form.fields[fn].type=='integer' %}
		{% set cleaveValue = fieldCurrentValue|number_format(0, _pico.locale.decimal_point, _pico.locale.thousands_sep) %}
	{% elseif _form.fields[fn].type=='money' %}
		{% set cleaveValue = fieldCurrentValue|number_format(2, _pico.locale.decimal_point, _pico.locale.thousands_sep) %}
	{% else %}
		{% set cleaveValue = fieldCurrentValue|number_format(8, _pico.locale.decimal_point, _pico.locale.thousands_sep) %}
	{% endif %}
{% endif %}

<div class="input {% if (_form.units and _form.fields[fn].unit) %}isMedium{% else %}isSmall{% endif %}">
	<input type="hidden" id="{{ _form.name }}_{{ fn }}" name="{{ _form.name }}_{{ fn }}" value="{{ fieldCurrentValue }}" />
	{% if _form.fields[fn].icon %}
		<i class="{{ _form.fields[fn].icon }} isLight"></i>
	{% endif %}
	<input 
		type="text" 
		id="{{ _form.name }}_{{ fn }}_human" 
		maxlength="{{ _form.fields[fn].type=='integer' ? 9 : 16 }}"
		class="{% if _form.fields[fn].type=='money' %}isRight{% endif %}"
		{% if cleaveValue %}value="{{ cleaveValue }}"{% endif %} 
		{% if _form.fields[fn].placeholder %}placeholder="{{ _form.fields[fn].placeholder }}"{% endif %} 
		{% if _form.fields[fn].autofocus %}autofocus{% endif %} 
		{% if fn in _form.disabled %}disabled{% endif %} />
	{% if (_form.units and _form.fields[fn].unit) %}
		<div class="postfix">
			{{ ('PICO.LABEL_UNIT_'~_form.fields[fn].unit)|i18n }}
		</div>
	{% elseif _form.fields[fn].type=='money' %}
		<div class="postfix">
			{{ ('PICO.LABEL_UNIT_EURO')|i18n }}
		</div>
	{% endif %}
</div>

{% apply defer('cleave') %}
	{{ jsLoad(['cleave.min']) }}
{% endapply %}
{% apply defer('date_'~_form.name~'_'~fn) %}
	<script type="text/javascript">
		var {{ _form.name }}_{{ fn }}_cleave = new Cleave('#{{ _form.name }}_{{ fn }}_human', {
		    numeral: true,
		    {% if 'positive'|inValues(_form.fields[fn].checks) %}numeralPositiveOnly: true,{% endif %}
			numeralThousandsGroupStyle: 'thousand',
			numeralIntegerScale: {{ _form.fields[fn].type=='integer' ? 9 : 8 }},
			numeralDecimalScale: {{ _form.fields[fn].type=='integer' ? 0 : 2 }},
			numeralDecimalMark: '{{ _pico.locale.decimal_point }}',
			delimiter: '{{ _pico.locale.thousands_sep }}'
		});
		document.querySelector('#{{ _form.name }}_{{ fn }}_human').addEventListener('keydown', function (e) {
			if (e.key === '{{ _pico.locale.decimal_point=="," ? "." : "," }}') {
				e.preventDefault();
				e.target.value += '{{ _pico.locale.decimal_point }}';
			}
		});
		$('#{{ _form.name }}_{{ fn }}_human').change(function(e){
			var valid = {{ _form.name }}_{{ fn }}_cleave.getRawValue();
			if ($('#{{ _form.name }}_{{ fn }}_human').val()) {
				if (valid) {
					$('#{{ _form.name }}_{{ fn }}_container').removeClass('error');
				} else {
					$('#{{ _form.name }}_{{ fn }}_container').addClass('error');
				}
			}
			$('#{{ _form.name }}_{{ fn }}').val(valid);
		});
	</script>
{% endapply %}