<div class="input {% if not (_form.units and _form.fields[fn].unit) %}isMedium{% endif %}">
	{% if _form.fields[fn].icon %}
		<i class="{{ _form.fields[fn].icon }} isLight"></i>
	{% else %}
		<i class="dripicons-lock isLight"></i>
	{% endif %}
	<input 
		type="password" 
		id="{{ _form.name }}_{{ fn }}" 
		name="{{ _form.name }}_{{ fn }}" 
		class="isDigits"
		{% if _form.fields[fn].placeholder %}placeholder="{{ _form.fields[fn].placeholder }}"{% endif %} 
		{% if _form.fields[fn].autofocus %}autofocus{% endif %} 
		{% if fn in _form.disabled %}disabled{% endif %} />
	{% if (_form.units and _form.fields[fn].unit) %}
		<div class="postfix">
			{{ ('PICO.LABEL_UNIT_'~_form.fields[fn].unit)|i18n }}
		</div>
	{% endif %}
</div>