<div class="input {{ _form.fields[fn].maxlength and (_form.fields[fn].maxlength<11) ? 'isSmall' }}">
	{% if _form.fields[fn].icon %}
		<i class="{{ _form.fields[fn].icon }} isLight"></i>
	{% endif %}
	{% if (_form.fields[fn].maxlength and (_form.fields[fn].maxlength<256) and not _form.fields[fn].textarea) or (_form.fields[fn].textarea is defined and not _form.fields[fn].textarea) %}
		<input 
			type="text" 
			id="{{ _form.name }}_{{ fn }}" 
			name="{{ _form.name }}_{{ fn }}" 
			value="{{ fieldCurrentValue }}" 
			{% if _form.fields[fn].placeholder %}placeholder="{{ _form.fields[fn].placeholder }}"{% endif %} 
			{% if _form.fields[fn].maxlength %}maxlength="{{ _form.fields[fn].maxlength }}"{% endif %} 
			{% if _form.fields[fn].autofocus %}autofocus{% endif %} 
			{% if fn in _form.disabled %}disabled{% endif %} />
	{% else %}
		<textarea 
			id="{{ _form.name }}_{{ fn }}" 
			name="{{ _form.name }}_{{ fn }}" 
			rows="{{ _form.fields[fn].rows|default(5) }}" 
			{% if _form.fields[fn].placeholder %}placeholder="{{ _form.fields[fn].placeholder }}"{% endif %} 
			{% if _form.fields[fn].autofocus %}autofocus{% endif %} 
			{% if fn in _form.disabled %}disabled{% endif %}>{{ fieldCurrentValue }}</textarea>
	{% endif %}
	{% if (_form.units and _form.fields[fn].unit) %}
		<div class="postfix">
			{{ ('PICO.LABEL_UNIT_'~_form.fields[fn].unit)|i18n }}
		</div>
	{% endif %}
</div>