<div class="input">
	{% if _form.fields[fn].icon %}
		<i class="{{ _form.fields[fn].icon }} isLight"></i>
	{% else %}
		<i class="dripicons-web isLight"></i>
	{% endif %}
	<input 
		type="text" 
		id="{{ _form.name }}_{{ fn }}" 
		name="{{ _form.name }}_{{ fn }}" 
		value="{{ fieldCurrentValue }}" 
		{% if _form.fields[fn].placeholder %}placeholder="{{ _form.fields[fn].placeholder }}"{% endif %} 
		{% if _form.fields[fn].maxlength %}maxlength="{{ _form.fields[fn].maxlength }}"{% endif %} 
		{% if fn in _form.disabled %}disabled{% endif %} />
	{% if (_form.units and _form.fields[fn].unit) %}
		<div class="postfix">
			{{ ('PICO.LABEL_UNIT_'~_form.fields[fn].unit)|i18n }}
		</div>
	{% endif %}
</div>

{% apply defer('tinymce_'~_form.name~'_'~fn) %}
	<script type="text/javascript">
		$('#{{ _form.name }}_{{ fn }}').change(function(e){
			var url = $(this).val().trim();
			if (url.length>0 && (url.indexOf('://')==-1) && (!url.startsWith('/'))) {
				$(this).val('https://'+url);
			}
		});	
	</script>
{% endapply %}