{% extends 'cms/_cmsplugin.twig' %}

{% block content %}

	{% if _pico.action == 'import' %}

		{% if form %}
			<div class="box">
				<div class="content">
					{{ 'CMS.MESSAGE_SUBSCRIBERS_IMPORT'|i18n }}
				</div>
				{{ form|raw }}
			</div>

		{% elseif results %}
			<div class="box isSuccess">
				<div class="title">
					<i class="dripicons-checkmark isH2 isSuccess"></i>
				</div>
				<div class="message">
					{{ 'CMS.MESSAGE_SUBSCRIBERS_SAVED'|i18n(results.saved) }}
				</div>
			</div>

		{% else %}
			<div class="box isError">
				<div class="title">
					<i class="dripicons-warning isH2 isError"></i>
				</div>
				<div class="message">
					{{ 'CMS.MESSAGE_ERROR'|i18n }}
				</div>
			</div>
		{% endif %}

	{% else %}
		{{ parent() }}
	{% endif %}

{% endblock %}