{% set css = ['_pico', 'cms/_cms', 'dripicons', 'tinymce_editor']|merge(css|default([])) %}
{% if _pico.pluginCss %}
	{% set css = [_pico.pluginCss]|merge(css|default([])) %}
{% endif %}
{% set js = ['html5sortable.min', 'cms/_cms']|merge(js|default([])) %}
{% extends '_skeleton.twig' %}

{% block body %}	


	<div class="cmsInterface">

		<section class="cmsSidebar {% if _cms.toggleCore %}toggleCore{% endif %}">
			
			<div class="brand">
				<img class="box" height="24" width="24" src="{{ ';apple-touch-icon.png'|href }}" alt="" title="{{ 'CMS.TITLE'|i18n }}" />
				<span>
					{{ _pico.basepath|urlDomain|upper }}<br>
					{% if _pico.env %}<small class="tag {{ _pico.envData.color_class|e('html_attr') }}">{{ _pico.env|upper }}</small>{% endif %}
				</span>
			</div>

			<nav class="box">
				{% for uri,item in plugins %}
					{% if item.spaced %}
						{% if not loop.first %}</div>{% endif %}
						<div class="cmsNavGroup" {% if item.group %}data-group="{{ item.group }}"{% endif %}>
					{% elseif (item.config.type!=lastType) %}
						{% if not loop.first %}</div>{% endif %}
						<div class="cmsNavGroup" data-group="{{ item.config.type }}">
							{% if _cms.toggleCore and (item.config.type=='core') %}
								<a id="cmsToggleCore" title="{{ item.config.title }}" href="#" class="cms{{ item.config.type|capitalize }}">
									<i class="dripicons-chevron-right"></i>
									<span>{{ 'CMS.ACTION_TOGGLE_CORE'|i18n }}</span>
								</a>
							{% endif %}
					{% endif %}
					{% if not item.config.parentPlugin %}
							<a title="{{ item.config.title }}" href="{{ (':cms/'~uri)|href }}" class="cms{{ item.config.type|capitalize }} {% if (_pico.url.0==uri) or (_pico.url.0 in pluginsChildren[item.name]) %}current{% endif %}">
								{% if item.config.svg %}
									<span class="svgIcon">{{ item.config.svg|raw }}</span>
								{% else %}
									<i class="dripicons-{{ item.config.icon }}"></i>
								{% endif %}
								<span {% if item.config.notification %}data-notification="{{ item.config.notification|e('html_attr') }}"{% endif %}>{{ item.config.title }}</span>
							</a>
					{% endif %}
					{% set lastType = item.config.type %}
				{% endfor %}
				</div>
			</nav>

			<nav class="box bottom">
				<div class="cmsNavGroup isHorizontal" data-group="exit">
					<p>
						<strong class="isEllipsis">{{ _logged.name }}</strong>
						<span class="isEllipsis">@{{ _logged.email|split('@')|last }}</span>
					</p>
					<a href="{{ ';'|href }}" target="_blank" class="cmsExit" data-tooltip="{{ 'CMS.ACTION_WEBSITE'|i18n|e('html_attr') }}" data-tooltip-position="left">
						<i class="dripicons-device-desktop"></i>
					</a>
					<a href="{{ ':cms/_logout'|href }}" target="_blank" class="cmsExit" data-tooltip="{{ 'CMS.ACTION_LOGOUT'|i18n|e('html_attr') }}" data-tooltip-position="left">
						<i class="dripicons-exit"></i>
					</a>
				</div>
			</nav>

		</section>
			
		<section class="cmsContent">
			<div class="cmsContentInner" id="cmsContentPlugin">
				{{ content|raw }}
			</div>
		</section>

	</div>

{% endblock %}


{% block js %}

	{{ parent() }}

	{# Mobile #}
	<script type="text/javascript">
		$('#pico-cms-sidebar-action').click(function(e){
			$('html').toggleClass('navigation');
			e.preventDefault();
		});
	</script>


	{# Config: plugins_toggle_core #}
	{% if _cms.toggleCore %}
		<script type="text/javascript">
			$('#cmsToggleCore').click(function(e){
				$(this).parent().toggleClass('open');
			});
			if ($('.cmsSidebar nav a.current').hasClass('cmsCore')) {
				$('#cmsToggleCore').parent().addClass('open');
			}
		</script>
	{% endif %}


	{# [templateItem] Thumbnail zoom #}
	<div id="templateItemZoomModal" class="modal isHidden isFullscreen isFluid">
		<div class="modalLoading"><i class="dripicons-hourglass"></i></div>
		<div class="modalOverlay"></div>
		<div class="content">
			<div class="modalTitle">
				<h3 id="templateItemZoomTitle" class="isEllipsis"></h3>
				<a href="#" data-action="modalclose" class="modalClose"></a>
			</div>
			<div id="templateItemZoom"></div>
		</div>

	</div>


{% endblock %}