{% set lastSection = false %}
{% for item in items %}

	{% if sections and (item[sections]!=lastSection) %}
		{% if not (lastSection is same as(false)) %}
			</div>
		{% endif %}
		<div class="cmsItemsSection">
			<div class="cmsItemsSectionTitle">
				{% if fields[sections]['options'][item[sections]] %}
					{{ fields[sections]['options'][item[sections]] }}
				{% else %}
					{{ item[sections] }}
				{% endif %}
			</div>
		{% set lastSection = item[sections] %}
	{% endif %}

	<div class="cmsItem {% if parentField and item[parentField] %}isChild{% endif %} {% if item.__starred %}isStarred{% endif %} {% if item.__draft %}isDraft{% endif %}" data-href="{{ ('_'~_pico.config.defaultAction~'/'~(_pico.config.actions[_pico.config.defaultAction]['item'] ? item.id))|href }}" data-item="{{ item.id }}">
		<div class="templateItem">
			{{ include(template_from_string(itemsTemplateItem)) }}
		</div>
		<div class="shortcuts">
			{% if itemsShortcutsPre %}
				{{ include(template_from_string(itemsShortcutsPre)) }}
			{% endif %}
			{% if _pico.config.actions.index.star %}
				<a href="#" class="button isLarge isLight isInvisible" data-action="star" data-tooltip="{{ 'CMS.ACTION_STAR'|i18n|e('html_attr') }}">
					<svg class="isAlone" fill="#000000" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M1915.918 737.475c-10.955-33.543-42.014-56.131-77.364-56.131h-612.029l-189.063-582.1v-.112C1026.394 65.588 995.335 43 959.984 43c-35.237 0-66.41 22.588-77.365 56.245L693.443 681.344H81.415c-35.35 0-66.41 22.588-77.365 56.131-10.955 33.544.79 70.137 29.478 91.03l495.247 359.831-189.177 582.212c-10.955 33.657 1.13 70.25 29.817 90.918 14.23 10.278 30.946 15.487 47.66 15.487 16.716 0 33.432-5.21 47.775-15.6l495.134-359.718 495.021 359.718c28.574 20.781 67.087 20.781 95.662.113 28.687-20.668 40.658-57.261 29.703-91.03l-189.176-582.1 495.36-359.83c28.574-20.894 40.433-57.487 29.364-91.03" fill-rule="evenodd"></path> </g></svg>
				</a>
			{% endif %}
			{% for shortcut in itemsShortcuts %}
				{% set shortcutAction = _pico.config.actions[shortcut] %}
				{% if shortcutAction and shortcutAction.item and shortcutAction.icon %}
					<a href="{{ ('_'~shortcut)|href }}/{{ item.id }}" class="button isLight isInvisible {{ shortcutAction.css }}" target="{{ shortcutAction.target|default('_self') }}" data-tooltip="{{ shortcutAction.text|e('html_attr') }}...">
						<i class="dripicons-{{ shortcutAction.icon }} isAlone"></i>
					</a>
				{% endif %}
			{% endfor %}
			<div class="dropdown isRight">
				<div class="dropdownAction button isLight isBrand isHover withChevron">
					<i class="dripicons-dots-3 isAlone"></i>
				</div>
				<div class="dropdownOverlay"></div>
				<div class="dropdownContainer">
					<div class="content">
						<nav>
							{% for uri,action in _pico.config.actions %}
								{% if action.item and uri!=_pico.action %}
									<a href="{{ ('_'~uri)|href }}/{{ item.id }}" class="{{ action.css }}" target="{{ action.target|default('_self') }}">
										{% if action.icon %}
											<i class="dripicons-{{ action.icon }}"></i>
										{% endif %}
										{{ action.text }}...
									</a>
								{% endif %}
							{% endfor %}
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endfor %}
{% if not (lastSection is same as(false)) %}
	</div>
{% endif %}