<header class="box is{{ _pico.config.type|capitalize }}">
	<h1>
		{% if _pico.config.parentPlugin and _pico.action=='index' %}
			<a href="{{ (':cms/'~_pico.config.parentPlugin.name)|href }}" class="parent">
				<span>{{ _pico.config.parentPlugin.config.title }}</span>
			</a>
		{% endif %}
		{% block title %}
			{{ _pico.config.title }}
			{% if _pico.config.actions[_pico.action]['title'] %}
				<em>{{ _pico.config.actions[_pico.action]['title'] }}</em>
			{% endif %}
		{% endblock %}
	</h1>
	<div class="buttons isRight {% if _pico.action!='index' %}mobileHidden{% endif %}">
		{% block topActions %}
			{% if _pico.action=='index' %}
				{% for pc,pcd in _pico.config.pluginChildren %}
					<a href="{{ (':cms/'~pc)|href }}" class="button">
						<i class="dripicons-{{ pcd.config.icon }}"></i>
						<span>{{ pcd.config.title }}</span>
					</a>
				{% endfor %}
				{% for uri,action in _pico.config.actions %}
					{% if not action.item and uri!=_pico.action %}
						<a {% if action.tooltiped and action.icon %}data-tooltip="{{ action.text|e('html_attr') }}" data-tooltip-position="bottom"{% endif %} href="{{ ('_'~uri)|href }}{% if tabs[tab].params %}?{{ tabs[tab].params }}{% endif %}" class="button {{ action.css }}" target="{{ action.target|default('_self') }}">
							{% if action.icon %}
								<i class="dripicons-{{ action.icon }} {{ (action.tooltiped and action.icon) ? 'isAlone' }}"></i>
							{% endif %}
							{% if not (action.tooltiped and action.icon) %}
								<span>{{ action.text }}</span>
							{% endif %}
						</a>
					{% endif %}
				{% endfor %}
			{% elseif _pico.config.actions.index %}
				<a href="{{ '_index'|href }}" class="button">
					<i class="dripicons-view-list"></i>
					<span>{{ 'CMS.ACTION_INDEX'|i18n }}</span>
				</a>
			{% endif %}
		{% endblock %}
	</div>
</header>


{% block content %}

	{% if _pico.action == 'index' %}

		{% block aboveTabs %}
		{% endblock %}

		<div class="cmsItems box">

			{% if tabs %}
				<div class="cmsItemsTabs">
					{% if tabs|length>5 or tabsTextLength>50 %}
						<div class="dropdown isCurrent">
							<div class="dropdownAction withChevron">
								<i class="dripicons-view-list"></i> {{ tabs[tab].text }}
							</div>
							<div class="dropdownOverlay"></div>
							<div class="dropdownContainer">
								<div class="content">
									<nav>
										{% for item in tabs %}
											<a href="{{ ('~?tab='~item.id)|href }}" {% if item.id==tab %}class="isActive"{% endif %}>
												<span>{{ item.text|raw }}</span>
											</a>
										{% endfor %}
									</nav>
								</div>
							</div>
						</div>
					{% else %}
						<nav>
							{% for item in tabs %}
								<a href="{{ ('~?tab='~item.id)|href }}" {% if item.id==tab %}class="isCurrent"{% endif %}>
									<span>{{ item.text }}</span>
								</a>
							{% endfor %}
						</nav>
					{% endif %}
					{% if _pico.search %}
						<nav class="isRight">
							<a href="#" data-action="search" data-tooltip="{{ 'CMS.LABEL_SEARCH'|i18n|e('html_attr') }}">
								<i class="dripicons-search isAlone"></i>
							</a>
						</nav>
					{% endif %}
				</div>
			{% endif %}

			{% block belowTabs %}
			{% endblock %}

			{% if _pico.search %}
				<div class="cmsItemsSearch">
					<div class="input">
						<input type="text" class="cmsItemsSearchQuery" placeholder="{{ 'CMS.LABEL_SEARCH'|i18n|e('html_attr') }}" autocomplete="off" />
						<a href="#" data-action="keyup" class="postfix button"><i class="dripicons-search"></i></a>
					</div>
				</div>
				<div class="cmsItemsSearchHelp">
					<i class="dripicons-help"></i>
					<p>{{ 'CMS.MESSAGE_SEARCH_HELP1'|i18n }}</p>
				</div>
				<div class="cmsItemsSearchResults">
				</div>
				<div class="cmsItemsSearchEmpty">
					<span>{{ 'CMS.MESSAGE_NONE'|i18n }}</span>
				</div>
			{% endif %}
			

			{% if items %}
				<div class="cmsItemsList">
					
					{% include 'cms/_cmsplugin.items.twig' %}

					<div class="cmsItemsFooter">

						<div class="count">
							<span class="cmsItemsCount">{{ items|length }}</span> {{ 'CMS.LABEL_ITEMS'|i18n }}
							{% if pagination and pagination.count>1 %}
								<span class="cmsItemsCountPage">[{{ ((pagination.current-1)*pagination.size)+1 }}-{{ ((pagination.current-1)*pagination.size)+items|length }}/{{ pagination.items }}]</span>
							{% endif %}
						</div>

						<div class="sorting">
							{% if _pico.config.actions.index.sortable and (items|length > 1)  %}
								<a href="#" data-action="sort" class="button isOutline isBrand isHover">{{ 'CMS.ACTION_SORT_START'|i18n }}</a>
								<span class="cmsItemsSortActions">
									<a href="#" data-action="sortsave" class="button isCreate">{{ 'CMS.ACTION_SORT_SAVE'|i18n }}</a>
									<a href="#" data-action="sortcancel" class="button isDelete">{{ 'CMS.ACTION_CANCEL'|i18n }}</a>
								</span>
							{% endif %}
						</div>

						{% if pagination and pagination.count>1 %}
							<div class="pagination">
								<a href="{{ pagination.current==1 ? '#' : ('~?page=1')|href }}" class="button isOutlined isHover {% if pagination.current==1 %}isDisabled{% endif %}" data-tooltip="{{ 'CMS.ACTION_PAGINATION_FIRST'|i18n|e('html_attr') }}">
									<i class="dripicons-media-previous isAlone"></i>
								</a>
								<a href="{{ pagination.prev ? ('~?page='~pagination.prev)|href : '#' }}" class="button isOutlined isHover {% if not pagination.prev %}isDisabled{% endif %}" data-tooltip="{{ 'CMS.ACTION_PAGINATION_PREV'|i18n|e('html_attr') }}">
									<i class="dripicons-chevron-left isAlone"></i>
								</a>
								<div class="dropdown isRight isUp">
									<div class="dropdownAction button isOutlined isHover withChevron">
										{{ 'CMS.ACTION_PAGINATION_PAGE'|i18n([pagination.current, pagination.count]) }}
									</div>
									<div class="dropdownOverlay"></div>
									<div class="dropdownContainer">
										<div class="content">
											<nav>
												{% for pageNo in 1..pagination.count %}
													<a href="{{ ('~?page='~pageNo)|href }}" {% if pagination.current==pageNo %}class="isActive"{% endif %}>
														<span>{{ 'CMS.ACTION_PAGINATION_PAGE'|i18n([pageNo, pagination.count]) }}</span>
													</a>
												{% endfor %}
											</nav>
										</div>
									</div>
								</div>
								<a href="{{ pagination.next ? ('~?page='~pagination.next)|href : '#' }}" class="button isOutlined isHover {% if not pagination.next %}isDisabled{% endif %}" data-tooltip="{{ 'CMS.ACTION_PAGINATION_NEXT'|i18n|e('html_attr') }}">
									<i class="dripicons-chevron-right isAlone"></i>
								</a>
								<a href="{{ pagination.current==pagination.count ? '#' : ('~?page='~pagination.count)|href }}" class="button isOutlined isHover {% if pagination.current==pagination.count %}isDisabled{% endif %}" data-tooltip="{{ 'CMS.ACTION_PAGINATION_LAST'|i18n|e('html_attr') }}">
									<i class="dripicons-media-next isAlone"></i>
								</a>
							</div>
						{% endif %}

					</div>

				</div>
			
			{% else %}
			
				<div class="cmsItemsEmpty">
					{% block cmsItemsEmpty %}
						<span>{{ 'CMS.MESSAGE_NONE'|i18n }}</span>
					{% endblock %}
				</div>
			
			{% endif %}
	
		</div>				


	{% elseif _pico.action in ['create', 'delete', 'update'] %}

		{% if _pico.action=='delete' %}
			<div class="box isDelete">
				<div class="title">
					<i class="dripicons-trash isH2 isDelete"></i> 
				</div>
				<div class="content">
					<p>{{ 'CMS.MESSAGE_DELETE'|i18n }}</p>
					<div class="cmsItem">
						<div class="templateItem">
							{{ include(template_from_string(_pico.config.templateItem)) }}
						</div>
					</div>
				</div>
				{{ form|raw }}
			</div>
		{% else %}
			<div class="box">
				{{ form|raw }}
			</div>
		{% endif %}

		

	{% elseif _pico.action == 'read' %}

		<div class="box cmsItemDetails">
			{% block cmsItemDetails %}
				{% include 'cms/_item.twig' %}
			{% endblock %}
			<div class="formActions isRight">
				{% for uri,action in _pico.config.actions %}
					{% if action.item and uri!=_pico.action %}
						<a href="{{ ('_'~uri~'/'~item.id)|href }}" data-action="{{ uri }}" class="button {{ action.css }}" target="{{ action.target|default('_self') }}">
							{% if action.icon %}
								<i class="dripicons-{{ action.icon }}"></i>
							{% endif %}
							<span>{{ action.text }}</span>
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>

	{% endif %}

	{% if form %}
		{% apply defer('pico-cms-form-lang') %}
			<script type="text/javascript">
				{# Hide lang if only one language #}
				if (document.getElementById('{{ _pico.config.model|lower }}_lang')) {
					if (document.getElementById('{{ _pico.config.model|lower }}_lang').options.length==1) {
						$('#{{ _pico.config.model|lower }}_lang_container').hide();
					}
				}
			</script>
		{% endapply %}
	{% endif %}

{% endblock %}