{% for fsname, fsfields in fieldsets %}
	
	{% if fsfields %}
		<div class="cmsItemFieldset {% if fsname == '__' %}isClosed{% endif %}">
			{% if fsname != '_' %}
				<h4>
					{% if fsname == '__' %}
						{{ ('CMS.LEGEND_TECHNICAL')|i18n }}
					{% elseif _pico.config.actions[_pico.action].legends %}
						{{ (_pico.config.model~'.LEGEND_'~fsname)|i18n }}
					{% elseif legendsModel %}
						{{ (legendsModel~'.LEGEND_'~fsname)|i18n }}
					{% endif %}
					<a href="#" data-action="open" class="button isOutlined">{{ 'CMS.ACTION_READ'|i18n }}</a>
				</h4>
			{% endif %}

			{% for field in fsfields %}
				{% if item[field] != '' %}
					<div class="cmsItemField">
						<div class="cmsItemFieldLabel">
							{{ fields[field].text }}
						</div>
						<div class="cmsItemFieldValue">
							{% if fields[field]['filter'] %}
								{{ include(template_from_string('{{ "'~item[field]|e~'"|'~fields[field]['filter']~' }}')) }}
							{% elseif fields[field].options %}
								{% if fields[field].type in ['choices'] %}
									{% for foo in item[field]|split(',') %}
										{% set optionText = fields[field].options[foo] %}
										{% if fields[field]['filter'] %}
											{{ include(template_from_string('{{ "'~optionText|e~'"|'~fields[field]['filter']~' }}')) }}
										{% else %}
											{{ optionText }}
										{% endif %}
										{%- if not loop.last %}, {% endif %}
									{% endfor %}
								{% else %}
									{% set optionText = fields[field].options[item[field]] %}
									{% if fields[field]['filter'] %}
										{{ include(template_from_string('{{ "'~optionText|e~'"|'~fields[field]['filter']~' }}')) }}
									{% else %}
										{{ optionText }}
									{% endif %}
								{% endif %}
							{% elseif fields[field].type=='blocks' %}
								<div class="wysiwyg">{{ item[field]|blocks|cleanHtml }}</div>
							{% elseif fields[field].type=='cdn' %}
								{% for cdnItem in cdnGallery(item[field]) %}
									<a href="{{ cdnItem|cdn }}" target="_blank" class="pico-cdn-item">
										<div class="pico-cdn-item-preview">
											{% if cdnItem.extension in _pico.cdnDriverExtensions %}
												<img src="{{ cdnItem.id|cdn('cms') }}" />
											{% elseif cdnItem.extension in ['svg'] %}
												<img src="{{ cdnItem.id|cdn }}" />
											{% else %}
												<i class="dripicons-document"></i>
											{% endif %}
										</div>
										<div class="pico-cdn-item-text">
											<strong>{{ cdnItem.name }}</strong>
											<small>{{ (cdnItem.size/1000)|ceil }}KB — {{ cdnItem.__timestamp|date('d/m/Y') }}</small>
										</div>
									</a>
								{% else %}
									{{ item[field] }}
								{% endfor %}
							{% elseif fields[field].type in ['code', 'json'] %}
								{% if fields[field].maxlength and (fields[field].maxlength<256) %}
									<code>{{ item[field] }}</code>
								{% else %}
									<div class="code">
										<div class="modal isHidden">
											<div class="content">
												<div class="modalTitle">
													<h3 class="isEllipsis">{{ fields[field].text }}</h3>
													<a href="#" data-action="modalclose" class="modalClose"></a>
												</div>
												{% if (fields[field].type=='json') or (fields[field].language=='json') %}
													<pre data-language="{{ fields[field].language }}">
														<script type="text/javascript">
															document.write(JSON.stringify({{ item[field]|raw }}, function(key, value) {
																if (typeof value === "string") {
																	/* Stripping HTML */
																	var div = document.createElement("div");
																	div.innerHTML = value;
																	value = div.textContent || div.innerText || "";
																	/* Cutting */
																	if (value.length>50) {
																		return value.slice(0, 47)+'...';
																	}
																}
																return value;
															}, 4).trim());
														</script>
													</pre>
												{% else %}
													<pre data-language="{{ fields[field].language }}">{{ item[field] }}</pre>
												{% endif %}
											</div>
										</div>
										<code>{{ item[field]|slice(0,20) }}{% if item[field]|length>20 %}...{% endif %}</code>
										<a href="#" data-action="modal" class="button small">{{ 'CMS.ACTION_READ'|i18n }}</a>
									</div>		
								{% endif %}	
							{% elseif fields[field].type=='color' %}
								<div class="color">
									<span class="colorPreview" style="background-color:{{ item[field] }};"></span>
									{{ item[field] }}
								</div>							
							{% elseif fields[field].type=='date' %}
								{{ item[field]|dateI18n }}
							{% elseif fields[field].type in ['datetime', 'timestamp'] %}
								{{ item[field]|dateI18n('time') }}
							{% elseif fields[field].type=='html' %}
								{% if '</html>' in item[field] %}
									<iframe srcdoc="{{ item[field]|raw|e('html_attr') }}"></iframe>
								{% else %}
									<div class="wysiwyg">{{ item[field]|cleanHtml }}</div>
								{% endif %}
							{% else %}
								{{ item[field]|summary(300, '...') }}
							{% endif %}
							{% if fields[field]['unit'] %}
								{{ ('PICO.LABEL_UNIT_'~fields[field]['unit'])|i18n }}
							{% endif %}
							{% if fields[field].type=='email' %}
								<a href="mailto:{{ item[field] }}" class="icon" rel="nofollow" target="_blank">
									<i class="dripicons-mail"></i>		
								</a>
							{% endif %}
							{% if fields[field].type=='password' %}
								<span class="icon">
									<i class="dripicons-lock"></i>		
								</span>
							{% endif %}
							{% if fields[field].type=='url' %}
								<a href="{{ item[field] }}" class="icon" rel="nofollow" target="_blank">
									<i class="dripicons-export"></i>		
								</a>
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}

{% endfor %}