{% set css = ['_pico', 'cms/_cms', 'dripicons']|merge(css|default([])) %}
{% extends '_skeleton.twig' %}

{% block body %}	

	<div class="cmsLogin">

		<div class="logo">
			<img class="box" src="{{ ';apple-touch-icon.png'|href }}" alt="{{ 'CMS.TITLE'|i18n|e('html_attr') }}" />
		</div>

		<div class="box isBrand">
			<div class="title isBrand">
				<i class="dripicons-lock"></i> {{ _pico.basepath|urlDomain }}
			</div>
			<div class="content">				
				<h2>
					{{ ('CMS.TITLE_'~restrictedControllerAction)|i18n }}
				</h2>
				{% include '_restricted._login.twig' %}
			</div>
		</div>

		<footer>
			<p>{{ 'CMS.MESSAGE_LOGIN_FOOTER'|i18n|e('html_attr') }}</p>
		</footer>

	</div>

{% endblock %}