{% if plugin %}

	{% if results %}
		<table class="cmsItems search">
			<tbody>
				{% for item in results %}
					<tr class="{% if loop.last %}last-nofoot{% endif %}">
						<td data-href="{{ (':cms/'~plugin~'/'~defaultAction~'/'~item.id)|href }}" data-item="{{ item.id }}">
							<div class="cmsItem">
								<div class="templateItem">
									{{ include(template_from_string(templateItem)) }}
								</div>
								<div class="shortcuts">
									{% if config.shortcutsPre %}
										{{ include(template_from_string(itemsShortcutsPre)) }}
									{% endif %}
									{% if config.actions.index.star %}
										<a href="#" class="shortcut star" title="{{ 'CMS.ACTION_STAR'|i18n }}...">
											<i class="dripicons-star"></i>
										</a>
									{% endif %}
									{% for shortcut in itemsShortcuts %}
										{% set shortcutAction = config.actions[shortcut] %}
										{% if shortcutAction and shortcutAction.item and shortcutAction.icon %}
											<a href="{{ ('_'~shortcut)|href }}/{{ item.id }}" class="shortcut {{ shortcutAction.css }}" target="{{ shortcutAction.target|default('_self') }}" data-tooltip="{{ shortcutAction.text|e('html_attr') }}..." data-tooltip-position="left" data-tooltip-size="auto">
												<i class="dripicons-{{ shortcutAction.icon }}"></i>
											</a>
										{% endif %}
									{% endfor %}
									<a href="#" class="contextmenu">
										<span><i class="dripicons-dots-3"></i></span>
									</a>
								</div>
							</div>
						</td>
					</tr>			
				{% endfor %}
			</tbody>
		</table>
		<div id="cmsContextMenu" style="display:none;">
			<nav>
				{% for uri,action in config.actions %}
					{% if action.item and uri!=_pico.action %}
						<a href="#" data-href="{{ (':cms/'~plugin~'/'~uri)|href }}" class="{{ action.css }}" target="{{ action.target|default('_self') }}">
							{% if action.icon %}
								<i class="dripicons-{{ action.icon }}"></i>
							{% endif %}
							{{ action.text }}...
						</a>
					{% endif %}
				{% endfor %}
			</nav>
		</div>
		<script type="text/javascript">
			$('table.cmsItems a.contextmenu').on('click', function(e){
				var item = $(this).parents('td').data('item');
				$(this).parents('td').addClass('hover');
				$('#cmsContextMenu a[data-href]').each(function(){
					$(this).attr('href', $(this).data('href')+'/'+item);
				});
				$('#cmsContextMenu').css({
					top: $(this).offset().top, 
					left: $(this).offset().left+$(this).width()-$('#cmsContextMenu').width(), 
				}).show();
				e.stopPropagation();
				e.preventDefault();
			});
			$(document).on('contextmenu click', function(e){
				$('table.cmsItems td[data-href]').removeClass('hover');
				$('#cmsContextMenu').hide();
			});

			{# Star #}
			{% if config.actions['index'].star %}
				$('table.cmsItems a.star').click(function(e){
					if (!$(this).hasClass('disabled')) {
						var item = $(this).parents('td');
						$.ajax({
							data: 'id='+item.data('item'),
							dataType: 'json',
							method: 'POST',
							url: "{{ '_/ajax/star'|href }}",
							success: function(result) {
								if (result.success) {
									item.toggleClass('starred', result.starred);
								}
							}
						});
					}
					e.stopPropagation();
					e.preventDefault();
				});
			{% endif %}

			{# Shortcuts #}
			{% if config.shortcuts or config.shortcutsPre %}
				$('table.cmsItems a.shortcut').on('click', function(e){
					e.stopPropagation();
				});
			{% endif %}
		</script>

	{% else %}
		<div class="cmsNoItems">
			<i class="dripicons-wrong"></i>
			<span>{{ 'CMS.MESSAGE_NONE'|i18n }}</span>
		</div>
	{% endif %}


{% endif %}