{% extends 'cms/_cmsplugin.twig' %}

{% block content %}


	{% if _pico.action in ['run'] %}

		<div id="aichat" class="cmsChat">
			<div class="header">
				<strong>{{ aibot.name }}</strong> <span class="tag">{{ aibot.lang|upper }}</span>
				<p>{{ 'AIBOT.FIELD_SYSTEM'|i18n }}: "{{ aibot.system|summary(100, '...') }}"</p>
			</div>
			<div class="messages"></div>
			<div class="prompt">
				<div class="promptInput">
					<textarea name="text" rows="1" id="prompt" onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
				</div>
				<a href="#" class="button" rel="send">{{ 'CMS.ACTION_SEND'|i18n }}</a>
			</div>
		</div>

		{% apply defer('aibot') %}
			{{ jsLoad(['aibot']) }}
		{% endapply %}

		{% apply defer('aibots-chat') %}
			<script type="text/javascript">
				let aibot = new AIBot('{{ aibot.key|e('js') }}', function(){
					$('#aichat a[rel="send"]').on('click', function(e){
						let action = $(this);
						let messages = $('#aichat .messages');
						if (!action.hasClass('disabled')) {
							action.addClass('disabled');
							let prompt = $('#prompt').val().trim();
							let message = $('<div class="message user"></div>').appendTo(messages);
							message.append(prompt);
							$('#prompt').val('').parent().attr('data-replicated-value', '');
							if (prompt.length>0) {
								let first = true;
								message = $('<div class="message assistant loading"></div>').appendTo(messages);
								aibot.stream(prompt, function(response){
									if (response.error) {
										message.append(pico.nl2br(response.error));
										message.removeClass('loading').addClass('error');
										action.removeClass('disabled');
										messages.scrollTop(messages.prop('scrollHeight'));
									} else {
										if (first) {
											message.removeClass('loading');
											first = false;
										}
										if (response.delta) {
											message.append(pico.nl2br(response.delta.content));
										} else if (response.message) {
											message.append(pico.nl2br(response.message.content));
										} else if (response.response) {
											message.append(response.response);
										}
										messages.scrollTop(messages.prop('scrollHeight'));
										if (response.done) {
											action.removeClass('disabled');
										}
									}
								}, function(error, errorDetails){
									console.log('ERROR', error, errorDetails);
									action.removeClass('disabled');
								});
							} else {
								action.removeClass('disabled');
							}
						}
					});
				});
			</script>
		{% endapply %}

	{% else %}

		{{ parent() }}

	{% endif %}


{% endblock %}