{% extends 'cms/_cmsplugin.twig' %}

{% block title %}

	{% if _pico.action == 'read' %}
		{{ reports.0.title }}
		<span class="tag">#{{ reports.0.id }}</span> 
		<span class="tag status_{{ status }}">{{ fields.status.options[status] }}</span>
	{% else %}
		{{ parent() }}
	{% endif %}

{% endblock %}

{% block content %}

	{% if _pico.action == 'create' %}

		{{ parent() }}

		{% apply defer('pico-cms-bugreports-create') %}
			<script type="text/javascript">
				$('#bugreport_status').val('open');
				$('#bugreport_status_container').hide();
			</script>
		{% endapply %}

	{% elseif _pico.action == 'read' %}

		{% set lastStatus = 'open' %}
		{% for item in reports %}
			{% if loop.first and item.parent %}
				<div class="bugaction">
					<a href="{{ (':cms/bugreports/read/'~item.parent)|href }}">
						<i class="dripicons-arrow-thin-up"></i>
						<span>{{ 'CMS.ACTION_BUGREPORT_PARENT'|i18n }}</span>
					</a>
				</div>
			{% endif %}
			{% if item.message or item.attachments %}
				<div class="bugreport">
					<div class="metadata">
						<strong class="author">{{ item.__user.name|default(item.__user.email) }}</strong>
						<span class="date">{{ 'CMS.LABEL_BUGREPORT_DATE'|i18n([item.__created|dateI18n('time')]) }}</span>
						<span class="id">#{{ item.id }}</span>
					</div>
					{% if item.message %}
						<div class="message">
							{{ item.message|nl2br }}
						</div>
					{% endif %}
					{% if item.attachments %}
						<div class="attachments">
							{% for cdnItem in item.attachments %}
								<a href="{{ cdnItem|cdn }}" target="_blank" class="pico-cdn-item {% if cdnItem.extension in _pico.cdnDriverExtensions %}fresco{% endif %}">
									<div class="pico-cdn-item-preview">
										{% if cdnItem.extension in _pico.cdnDriverExtensions %}
											<img src="{{ cdnItem.id|cdn('cms') }}" />
										{% elseif cdnItem.extension in ['svg'] %}
											<img src="{{ cdnItem.id|cdn }}" />
										{% else %}
											<i class="dripicons-document"></i>
										{% endif %}
									</div>
									<div class="pico-cdn-item-text">
										<strong>{{ cdnItem.name }}</strong>
										<small>{{ (cdnItem.size/1000)|ceil }}KB — {{ cdnItem.__timestamp|date('d/m/Y') }}</small>
									</div>
								</a>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			{% endif %}
			{% if item.status!=lastStatus %}
				<div class="bugstatus status_{{ item.status }}">
					<i class="dripicons-flag"></i> {{ 'CMS.LABEL_BUGREPORT_STATUS'|i18n([item.__user.name|default(item.__user.email), fields.status.options[item.status]]) }}
					{% set lastStatus = item.status %}
				</div>
			{% endif %}
		{% endfor %}

		{% if (status=='open') and form %}
			<div class="bugreport new">
				<div class="metadata">
					{{ 'CMS.LABEL_BUGREPORT_NEW'|i18n(['<strong>'~_cms.logged.name|default(_cms.logged.name)~'</strong>']) }}
				</div>
				{{ form|raw }}
			</div>
		{% endif %}

	{% else %}
		{{ parent() }}
	{% endif %}

{% endblock %}