{% set plugin = 'cdn' %}
{% if results %}
	<div class="cmsItems">
		{% for item in results %}
			<div class="cmsItem" data-item="{{ item.id }}" data-json="{{ item|json_encode|e('html_attr') }}">
				<div class="templateItem">
					{{ include(template_from_string(templateItem)) }}
				</div>
			</div>	
		{% endfor %}
	</table>
	<script type="text/javascript">
		$('.cdnBrowser .cmsItem[data-json]').unbind('click').click(function(e){
			var fn = $(this).parents('.cdnBrowserSearchResults').data('fn');
			var jsfn = $(this).parents('.cdnBrowserSearchResults').data('jsfn');
			$('#'+fn+'_browser_results').html('').addClass('isLoading');
			var item = $(this).data('json');
			window[jsfn+'_insert'](item);
			window[jsfn+'_refresh']();
			$('#'+fn+'_browser').addClass('isHidden');
		});
	</script>

{% elseif help %}
	<div class="cmsItemsSearchHelp">
		<i class="dripicons-help"></i>
		<p>{{ 'CMS.MESSAGE_SEARCH_HELP1'|i18n }}</p>
	</div>

{% else %}
	<div class="cmsItemsSearchEmpty">
		<span>{{ 'CMS.MESSAGE_NONE'|i18n }}</span>
	</div>
	
{% endif %}
