{% extends 'cms/_cmsplugin.twig' %}

{% block content %}

	{% if _pico.action == 'thumbnails' %}
		<div class="box isSuccess">
			<div class="title">
				<i class="dripicons-checkmark isH2 isSuccess"></i>
			</div>
			<div class="content">
				<p>{{ 'CMS.MESSAGE_CDN_THUMBNAILS'|i18n(count) }}</p>
			</div>
		</div>

	{% elseif _pico.action == 'upload' %}
		<div class="box">
			{{ form|raw }}
		</div>
		{% apply defer('pico-cms-cdn-upload') %}
			<script type="text/javascript">
				$('#dummy_file').change(function(e){
					if ($(this).val()) {
						$('#dummy_action-insert').removeClass('isDisabled');
						pico.url("{{ ':cms/cdn/update/'|href }}"+$(this).val(), false);
					}
				});
				$('#dummy_action-insert').click(function(e){
					if (!$(this).hasClass("isDisabled") && ($('#dummy_file').val())) {
						pico.url("{{ ':cms/cdn/update/'|href }}"+$('#dummy_file').val(), false);
					}
					e.preventDefault();
				});
			</script>
		{% endapply %}
	
	{% else %}

		{{ parent() }}

		{% apply defer('pico-cms-cdn-items') %}

			{% if items %}
				<div id="cdn-link-modal" class="modal isHidden">
					<div class="content">
						<div class="modalTitle">
							<h3 class="isEllipsis">{{ 'CMS.ACTION_LINK'|i18n }}</h3>
							<a href="#" data-action="modalclose" class="modalClose"></a>
						</div>
						<a href="" id="cdn-link-modal-item" target="_blank"></a>
					</div>
				</div>
				<script type="text/javascript">
					$('.cmsItem[data-item]').each(function(index, el){
						var linkAction = $('<a href="#" class="button isLight isInvisible" data-tooltip="{{ "CMS.ACTION_LINK"|i18n|e("html_attr") }}..."><i class="dripicons-link"></i></a>');
						linkAction.bind('click', function(e){
							$.ajax({
								data: 'item='+$(el).data('item'),
								dataType: 'json',
								method: 'POST',
								url: "{{ ':cms/cdn/ajax/link'|href }}",
								success: function(result) {
									if (result.url) {
										$('#cdn-link-modal-item').attr('href', result.url).html(result.url);
										$('#cdn-link-modal').removeClass('isHidden');
									} else {
										$('#cdn-link-modal-item').attr('href', '#').html('');
										$('#cdn-link-modal').addClass('isHidden');
									}
								}
							});
							e.preventDefault();
							e.stopPropagation();
						});
						$(this).find('.shortcuts').prepend(linkAction);
					});
				</script>
			{% endif %}

		{% endapply %}

	{% endif %}

{% endblock %}


{% block cmsItemDetails %}

	<div class="cmsItemPreview">
		{% if item.width %}
			{{ item.id|cdnImg('cmsZoom') }}
		{% elseif item.extension=='pdf' %}
			<iframe src="{{ item|cdn }}" class="pdf"></iframe>
		{% endif %}
	</div>

	{{ parent() }}

{% endblock %}