{% extends 'cms/_cmsplugin.twig' %}

{% block content %}

	{% if _pico.action == 'reset' %}

		<div class="box isWarning">
			<div class="title">
				<i class="dripicons-help isH2 isWarning"></i> 
			</div>
			<div class="message">
				{{ 'CMSUSER.MESSAGE_RESET'|i18n }}
			</div>
		</div>

		{{ form|raw }}
		
	{% else %}

		{{ parent() }}

	{% endif %}

	{% if form %}
		{% apply defer('pico-cms-users') %}
			<script type="text/javascript">
				$('#cmsuser_restricted').change(function(e){
					if ($(this).val()>0) {
						$('#cmsuser_plugins_container').show();
					} else {
						$('#cmsuser_plugins_container').hide();
					}
				}).trigger('change');
			</script>
		{% endapply %}
	{% endif %}

{% endblock %}