{% extends 'cms/_cmsplugin.twig' %}

{% block content %}


	{% if _pico.action in ['run'] %}

		<div class="box isWarning">
			<div class="title">
				<i class="dripicons-warning isH2 isWarning"></i> 
			</div>
			<div class="content">
				<p>{{ 'CMS.MESSAGE_SCRIPTS_WARNING'|i18n }}</p>
			</div>
		</div>
		
		<div class="box">
			{{ form|raw }}
		</div>

	{% elseif _pico.action in ['script'] %}

		{% if item.ok %}
			<div class="box isSuccess">
				<div class="title">
					<i class="dripicons-checkmark isH2 isSuccess"></i> 
				</div>
				<div class="content">
					<p>{{ 'CMS.MESSAGE_SCRIPTS_SUCCESS'|i18n }}</p>
				</div>
			</div>
		{% else %}
			<div class="box isError">
				<div class="title">
					<i class="dripicons-warning isH2 isError"></i> 
				</div>
				<div class="content">
					<p>{{ 'CMS.MESSAGE_SCRIPTS_ERROR'|i18n }}</p>
				</div>
			</div>
		{% endif %}

		<div class="box">
			<div class="cmsItemDetails">
				{% include 'cms/_item.twig' %}
			</div>
		</div>

	{% else %}

		<div class="box isWarning">
			<div class="title">
				<i class="dripicons-warning isH2 isWarning"></i>
			</div>
			<div class="content">
				<p>{{ 'CMS.MESSAGE_DEV_WARNING'|i18n }}</p>
			</div>
		</div>

		<div class="box">
			<div class="title">
				<h3>{{ 'CMS.TITLE_DEV_TOOLS'|i18n }}</h3>
			</div>
			<div class="content">
				<p>{{ 'CMS.MESSAGE_DEV_TOOLS'|i18n }}</p>
				<form id="launcher" action="{{ ':cms/dev/picodminer'|href }}" method="post">
					<input type="hidden" name="auth[driver]" value="server">
					<input type="hidden" name="auth[server]" value="{{ config.server }}">
					<input type="hidden" name="auth[username]" value="{{ config.user }}">
					<input type="hidden" name="auth[password]" value="{{ config.password }}">
					<input type="hidden" name="auth[db]" value="{{ config.name }}">
					<input type="hidden" name="auth[permanent]" value="1">
					<div class="buttons isCenter">
						<a href="#" id="launcherSubmit" class="button">
							<i class="dripicons-stack"></i>
							<span>Adminer</span>
						</a>
						{% apply defer('pico-cms-adminer') %}
							<script type="text/javascript">
								$('#launcherSubmit').click(function(e){
									$('#launcher').submit();
									e.preventDefault();
								});
							</script>
						{% endapply %}
						<a href="{{ ':cms/dev/php'|href }}" class="button" target="_blank">
							<i class="dripicons-information"></i>
							<span>PHPinfo</span>
						</a>
						<a href="{{ ':cms/dev/filemanager'|href }}" class="button" target="_blank">
							<i class="dripicons-folder"></i>
							<span>PHP File Manager</span>
						</a>
						<a href="{{ ':cms/dev/p0wnyshell'|href }}" class="button" target="_blank">
							<i class="dripicons-monitor"></i>
							<span>p0wny@shell</span>
						</a>
					</div>
				</form>
			</div>
		</div>


		<div class="box">
			<div class="title">
				<h3>{{ 'CMS.TITLE_SCRIPTS'|i18n }}</h3>
			</div>
			<div class="content">
				<p>{{ 'CMS.MESSAGE_SCRIPTS'|i18n }}</p>
			</div>
			<div class="cmsItems">
				<div class="cmsItemsList">
					{% for item in scripts %}
						<div class="cmsItem">
							<div class="templateItem">
								<div class="thumbnail">
									<i class="dripicons-{{ item.type=='sql' ? 'stack' : 'code' }}"></i>
								</div>
								<strong>{{ item.name }}</strong>.{{ item.type }}
								<br />
								<small>{{ item.size|bytesize }} — {{ 'SCRIPTRUN.FIELD_MTIME'|i18n }}: {{ item.mtime|date("d/m/Y") }}</small>
							</div>
							<div class="shortcuts">
								<a href="{{ (':cms/dev/run/'~item.type~'/'~item.name)|href }}" class="button isLight">
									<i class="dripicons-media-play"></i>
									<span>{{ 'CMS.ACTION_RUN'|i18n }}</span>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="cmsItemsFooter">
					<span class="count">{{ scripts|length }} {{ 'CMS.LABEL_ITEMS'|i18n }}</span>
				</div>
			</div>
		</div>

		{% if scriptruns %}
			<div class="box">
				<div class="title">
					<h3>{{ 'CMS.TITLE_SCRIPTRUNS'|i18n }}</h3>
				</div>
				<div class="cmsItems">
					<div class="cmsItemsList">
						{% for item in scriptruns %}
							<div class="cmsItem" data-item="{{ item.id }}">
								<div class="templateItem">
									{{ include(template_from_string(scriptRunTemplate)) }}
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="cmsItemsFooter">
						<span class="count">{{ scriptruns|length }} {{ 'CMS.LABEL_ITEMS'|i18n }}</span>
					</div>
				</div>
			</div>
		{% endif %}


	{% endif %}


{% endblock %}