{% extends 'cms/_cmsplugin.twig' %}

{% block content %}

	{% if _pico.action == 'config' %}

		<div class="box isWarning">
			<aside>
				<i class="dripicons-warning isH2 isWarning"></i> 
			</aside>
			<div class="content">
				<p>{{ 'EMAILS.MESSAGE_CONFIG'|i18n }}</p>
			</div>
		</div>

		<div class="box">
			{{ form|raw }}
		</div>
		
		{% apply defer('pico-cms-emailconfig') %}
			<div id="emailConfigTestModal" class="modal isHidden">
				<div class="modalLoading"><i class="dripicons-hourglass"></i></div>
				<div class="content">
					<div class="modalTitle">
						<h3>{{ 'CMS.ACTION_EMAIL_TEST'|i18n }}</h3>
						<a href="#" data-action="modalclose" class="modalClose"></a>
					</div>
					<p>{{ 'CMS.MESSAGE_EMAIL_TEST'|i18n }}</p>
					<div class="form">
						<div id="emailconfig_testemail_container" class="formField">
							<div class="formFieldLabel">
								<label for="emailconfig_testemail">{{ 'NEWSLETTERTEST.FIELD_EMAIL'|i18n }}</label>
							</div>
							<div class="formFieldValue">
								<div class="input">
									<i class="dripicons-mail isLight"></i>
									<input type="text" id="emailconfig_testemail" value="{{ forceTestEMail }}" maxlength="255" {% if forceTestEMail %}disabled{% endif %}/>
								</div>
							</div>
						</div>
						<div class="formActions">
							<a href="#" id="emailConfigTestAction" class="button isCreate isPrimary">{{ 'CMS.ACTION_EMAIL_TEST_START'|i18n }}</a>
						</div>
					</div>
				</div>
			</div>
			<div id="emailConfigTestErrorModal" class="modal isHidden">
				<div class="modalLoading"><i class="dripicons-hourglass"></i></div>
				<div class="content">
					<div class="modalTitle isError">
						<h3>{{ 'CMS.TITLE_EMAIL_TEST_ERROR'|i18n }}</h3>
						<a href="#" data-action="modalclose" class="modalClose"></a>
					</div>
					<p></p>
					<br>
					<code></code>
					<br>
				</div>
			</div>
			<div id="emailConfigTestSuccessModal" class="modal isHidden">
				<div class="modalLoading"><i class="dripicons-hourglass"></i></div>
				<div class="content">
					<div class="modalTitle isSuccess">
						<h3>{{ 'CMS.TITLE_EMAIL_TEST_SUCCESS'|i18n }}</h3>
						<a href="#" data-action="modalclose" class="modalClose"></a>
					</div>
					<p class="isCenter"><i class="dripicons-checkmark isH1 isSuccess"></i></p>
					<p>{{ 'CMS.MESSAGE_EMAIL_TEST_SUCCESS'|i18n }}</p>
				</div>
			</div>
			<script type="text/javascript">
				$('#emailconfig_action-test').on('click', function(e){
					{% if not forceTestEMail %}
						$('#emailconfig_testemail').val($('#emailconfig_toEmail').val());
					{% endif %}
					$('#emailConfigTestModal').removeClass('isLoading isHidden');
					e.preventDefault();
				});
				$('#emailConfigTestAction').on('click', function(e){
					$('#emailConfigTestModal').addClass('isLoading');
					{% if forceTestEMail %}
						let testEmail = "{{ forceTestEMail }}";
					{% else %}
						let testEmail = $('#emailconfig_testemail').val();
					{% endif %}
					if (!$(this).hasClass('isDisabled')) {
						$(this).addClass('isDisabled');
						if (pico.isEmail(testEmail)) {
							let formData = $('#emailconfig_form').serialize();
							$.ajax({
								data: formData+'&test_email='+testEmail,	
								dataType: 'json',
								method: 'POST',
								url: "{{ ':cms/emails/ajax/test'|href }}",
								success: function(result) {
									$('#emailConfigTestModal').removeClass('isLoading');
									$('#emailConfigTestModal').addClass('isHidden');
									if (result.error) {
										if (result.error=='invalid' && result.errorFields) {
											for (const fieldName of result.errorFields) {
												$('#emailconfig_'+fieldName+'_container').addClass('isError');
											}
										} else {
											$('#emailConfigTestErrorModal p').html(result.errormsg);
											$('#emailConfigTestErrorModal code').html(result.error);
											$('#emailConfigTestErrorModal').removeClass('isHidden');
										}
									} else if (result.sent) {
										$('#emailConfigTestSuccessModal').removeClass('isHidden');
									} else {
										$('#emailConfigTestErrorModal p').html("{{ 'CMS.MESSAGE_EMAIl_TEST_ERROR'|i18n|e('js') }}");
										$('#emailConfigTestErrorModal code').html('<strong>'+result.errorMessage+'</strong>'+"\n\n"+result.debugLog);
										$('#emailConfigTestErrorModal').removeClass('isHidden');
									}
									$('#emailConfigTestAction').removeClass('isDisabled');
								},
								error: function() {
									$('#emailConfigTestModal').removeClass('isLoading');
									$('#emailConfigTestModal').addClass('isHidden');
									alert('{{ "PICO.MESSAGE_ERROR_NETWORK"|i18n|e("js") }}');
									$('#emailConfigTestAction').removeClass('isDisabled');
								}
							});
						} else {
							$('#emailConfigTestModal').removeClass('isLoading');
							$('#emailconfig_testemail_container').addClass('isError');
							$('#emailConfigTestAction').removeClass('isDisabled');
						}
					}
					e.preventDefault();
				});
			</script>
		{% endapply %}

	{% else %}

		{% if _pico.action == 'index' %}

			{% if emailconfig %}
				<div class="box isTooltip">
					<aside>
						<i class="dripicons-information isH2"></i> 
					</aside>
					<div class="content">
						{{ 'EMAILS.MESSAGE_CURRENT_CONFIG'|i18n(emailconfig.__created|dateI18n('time')) }}<br>
						<strong>
							{% if emailconfig.method=='smtp' %}
								{{ 'EMAILCONFIG.FIELD_METHOD_SMTP'|i18n }}
								[{{ emailconfig.smtpUsername }}@{{ emailconfig.smtpServer }}:{{ emailconfig.smtpPort }}]
							{% else %}
								{{ 'EMAILCONFIG.FIELD_METHOD_MAIL'|i18n }}
							{% endif %}
							— #{{ emailconfig.id }}
						</strong>
					</div>
				</div>
			{% else %}
				<div class="box isWarning">
					<aside>
						<i class="dripicons-warning"></i> 
					</aside>
					<div class="content">
						<p>{{ 'EMAILS.MESSAGE_NO_CONFIG'|i18n }}</p>
					</div>
				</div>
			{% endif %}

		{% endif %}

		{{ parent() }}

	{% endif %}

{% endblock %}