{% extends 'cms/_cmsplugin.twig' %}

{% block content %}


	{% if _pico.action in ['index'] %}
		<div class="box isTooltip">
			<aside>
				<i class="dripicons-information isH2"></i> 
			</aside>
			<div class="content">
				{{ 'CMS.MESSAGE_EMAILRULES_INDEX'|i18n }}
			</div>
		</div>
	{% endif %}


	{% if _pico.action in ['apply'] %}

		{% if success %} 
			<div class="box isSuccess">
				<div class="title">
					<i class="dripicons-checkmark isH2 isSuccess"></i>
				</div>
				<div class="content">
					{{ 'CMS.MESSAGE_EMAILRULES_SUCCESS'|i18n }}
				</div>
			</div>

		{% elseif count %}
			<div class="box">
				<div class="title">
					<i class="dripicons-media-play isH2"></i>
				</div>
				<div class="message">
					{{ 'CMS.MESSAGE_EMAILRULES_APPLY'|i18n([title, count]) }}
				</div>
				{{ form|raw }}
			</div>

		{% else %}
			<div class="box">
				<div class="title">
					<i class="dripicons-information isH2"></i>
				</div>
				<div class="content">
					{{ 'CMS.MESSAGE_EMAILRULES_APPLY_NONE'|i18n }}
				</div>
			</div>

		{% endif %}


	{% else %}

		{{ parent() }}

	{% endif %}


	{% if form %}

		{% apply defer('pico-cms-emailrule-target') %}
			{# Fields visibility based on target #}
			<script type="text/javascript">

				$("input[name='emailrule_target[]']").change(function(e){
					if ($(this).is(':checked')) {
						$("#emailrule_"+$(this).val()+"_container").show();
					} else {
						$("#emailrule_"+$(this).val()).val('');
						$("#emailrule_"+$(this).val()+"_container").hide();
					}
				}).trigger('change');

			</script>
		{% endapply %}

	{% endif %}


{% endblock %}