{% extends 'cms/_cmsplugin.twig' %}

{% block content %}

	{% if _pico.action == 'auto' %}

		<div class="box isSuccess">
			<div class="title">
				<i class="dripicons-checkmark isH2 isSuccess"></i>
			</div>
			<div class="content">
				{{ 'CMS.MESSAGE_I18N_AUTO'|i18n }}
			</div>
		</div>
		<div class="box">
			<div class="content">
				<p>
					{% for lang in _pico.langs %}
						<strong>{{ ('CONFIG.FIELD_LANG_'~lang)|i18n }} [{{ lang }}]</strong><br />
						{{ 'CMS.LABEL_I18N_AUTO_LANG_DETAILS'|i18n([missing.before[lang]-missing.after[lang], missing.after[lang]]) }}<br />
						{% if not loop.last %}<br />{% endif %}
					{% endfor %}
					{% if missing.cms %}
						<br />
						<strong>CMS</strong><br />
						{{ 'CMS.LABEL_I18N_AUTO_CMS_DETAILS'|i18n([missing.cms_before-missing.cms_after]) }}<br />
					{% endif %}
				</p>
			</div>
		</div>

	{% elseif _pico.action == 'import' %}

		{% if form %}
			<div class="box">
				<div class="content">
					<p>{{ 'CMS.MESSAGE_I18N_IMPORT'|i18n }}</p>
				</div>
				{{ form|raw }}
			</div>

		{% elseif results %}
			<div class="box isSuccess">
				<div class="title">
					<i class="dripicons-checkmark isH2 isSuccess"></i>
				</div>
				<div class="content">
					{{ 'CMS.MESSAGE_I18N_SAVED'|i18n(results.saved) }}
				</div>
			</div>

		{% else %}
			<div class="box isError">
				<div class="title">
					<i class="dripicons-warning isH2 isError"></i>
				</div>
				<div class="content">
					{{ 'CMS.MESSAGE_ERROR'|i18n }}
				</div>
			</div>
		{% endif %}

	{% else %}

		{{ parent() }}

		{% apply defer('pico-cms-i18n') %}

			{% if items %}
				<div id="i18n-edit-modal" class="modal isHidden">
					<div class="modalLoading">
						<i class="dripicons-hourglass"></i>
					</div>
					<div class="content">
						<div class="modalTitle">
							<h3 class="isEllipsis"></h3>
							<a href="#" data-action="modalclose" class="modalClose"></a>
						</div>
						<div id="i18n-edit-modal-form"></div>
					</div>
				</div>
				<script type="text/javascript">
					$('.cmsItem[data-item]').each(function(index, el){
						var qeAction = $('<a href="#" class="button isInvisible" data-tooltip="{{ "CMS.ACTION_QUICKEDIT"|i18n|e("html_attr") }}..."><i class="dripicons-document-edit isAlone"></i></a>');
						qeAction.bind('click', function(e){
							$('#i18n-edit-modal').removeClass('isHidden').addClass('isLoading');
							$.ajax({
								data: 'item='+$(el).attr('data-item'),
								dataType: 'json',
								method: 'POST',
								url: "{{ ':cms/i18n/ajax/edit'|href }}",
								success: function(result) {
									if (result.form) {
										$('#i18n-edit-modal h3').html($(el).data('item'));
										$('#i18n-edit-modal-form').html(result.form);
										$('#i18n-edit-modal form').bind('submit', function(e2){
											var formData = $(this).serialize();
											var summaryTexts = {};
											$('#i18n-edit-modal textarea').each(function(index, summaryTextElement){
												var summaryText = $(summaryTextElement).val();
												if (summaryText.length>100) {
													summaryText = summaryText.substr(0,100)+'...';
												}
												summaryTexts[$(summaryTextElement).attr('name').substr(5,2)] = summaryText;
											});
											$.ajax({
												data: formData+'&item='+$(el).data('item'),
												dataType: 'json',
												method: 'POST',
												url: "{{ ':cms/i18n/ajax/edit'|href }}",
												success: function(result) {
													$(el).find('small').each(function(index, smallElement){
														var lang = $(this).data('lang');
														if (lang && (typeof summaryTexts[lang] !== 'undefined')) {
															if (summaryTexts[lang].trim()=='') {
																$(smallElement)
																	.html('')
																	.removeClass('isUpdate')
																	.addClass('isWarning');
															} else {
																$(smallElement)
																	.html(summaryTexts[lang])
																	.removeClass('isWarning')
																	.addClass('isUpdate');
															}
														}
													});
													$('#i18n-edit-modal h3').html('');
													$('#i18n-edit-modal-form').html('');
													$('#i18n-edit-modal').addClass('isHidden');
												}
											});
											e2.preventDefault();
										});
										$('#i18n-edit-modal').removeClass('isLoading isHidden');
										$('#i18n-edit-modal textarea').first().focus();
									} else {
										$('#i18n-edit-modal h3').html('');
										$('#i18n-edit-modal-form').html('');
										$('#i18n-edit-modal').addClass('isHidden');
									}
								}
							});
							e.preventDefault();
							e.stopPropagation();
						});
						$(this).find('.shortcuts').prepend(qeAction);
					});
				</script>
			
			{% elseif form %}

				<script type="text/javascript">
					var cmsSections = {{ i18nCmsSections|json_encode|raw }};
					if (pico.inArray($('#i18n_section').val(), cmsSections)) {
						{% for lang in _pico.langsAll %}
							{% if lang not in  _pico.cmsLangs %}
								$('#i18n_{{ lang }}-text_container').hide();
							{% endif %}
						{% endfor %}
					}
				</script>

			{% endif %}

		{% endapply %}
		
		
	{% endif %}

{% endblock %}