{% extends 'cms/_cmsplugin.twig' %}

{% block content %}

	{% if errorCantUpdateOrDelete %}

		<div class="box isError">
			<div class="title">
				<i class="dripicons-warning isH2 isError"></i>
			</div>
			<div class="content">
				<strong>{{ 'CMS.TITLE_NEWSLETTERS_CANT_UPDATE_DELETE'|i18n(subscribers_count) }}</strong><br>
				{{ 'CMS.MESSAGE_NEWSLETTERS_CANT_UPDATE_DELETE'|i18n }}
			</div>
		</div>

	{% elseif _pico.action == 'send' %}

		{% if sending %}

			<div class="box">
				<div class="content">
					{{ 'CMS.MESSAGE_NEWSLETTERS_SENDING'|i18n }}
				</div>
			</div>

			<div class="box">
				<aside><i class="dripicons-hourglass isH2"></i></aside>
				<div class="content" id="ajax-output"></div>
			</div>

			{% apply defer('pico-cms-sending') %}
				<script type="text/javascript">
					var requests = [];
					function sendNext(result, first) {
						if (result.present || first) {
							if (result.done) {
								$('#ajax-output')
									.html('<strong>'+result.percent+'%</strong>&nbsp;{{ "CMS.LABEL_NEWSLETTER_SENDING"|i18n|e("js") }}')
									.parents('.box')
									.removeClass('isError isWarning')
									.addClass('isSuccess');
							} else if (!first) {
								$('#ajax-output')
									.html('<strong>'+result.percent+'%</strong>&nbsp;{{ "CMS.LABEL_NEWSLETTER_SENDING"|i18n|e("js") }}')
									.parents('.box')
									.removeClass('isError isSuccess')
									.addClass('isWarning');
							}
							if (!result.done) {
								requests.push($.ajax({
									dataType: 'json',
									method: 'POST',
									url: "{{ '_/ajax/sendnext'|href }}/{{ newsletter.id }}",
									success: function(result) {
										setTimeout(function(){ sendNext(result, false); }, 250);
									},
									error: function(jqXHR, textStatus, errorThrown) {
										$('#ajax-output')
											.html(textStatus+' ('+errorThrown+')')
											.parents('.box')
											.removeClass('isWarning isSuccess')
											.addClass('isError');
										setTimeout(function(){ sendNext({}, false); }, 10000);
									}
								}));
							}
						} else {
							$('#ajax-output')
								.html('CMS.MESSAGE_ERROR'|i18n|e('js'))
								.parents('.box')
								.removeClass('isWarning isSuccess')
								.addClass('isError');
						}
					}
					sendNext({}, true);
				</script>
			{% endapply %}

		{% elseif sent %}

			<div class="box isSuccess">
				<div class="title">
					<i class="dripicons-checkmark isH2 isSuccess"></i>
				</div>
				<div class="content"> 
					{{ 'CMS.MESSAGE_NEWSLETTERS_SENT'|i18n([sent|dateI18n]) }}
				</div>
			</div>
			
		{% else %}

			{% if subscribers_count %}
				<div class="box isWarning">
					<div class="title">
						<i class="dripicons-warning isH2 isWarning"></i>
					</div>
					<div class="content">
						<strong>{{ 'CMS.MESSAGE_NEWSLETTERS_SEND_CONFIRM'|i18n(subscribers_count) }}</strong><br>
						{{ 'CMS.MESSAGE_NEWSLETTERS_SEND_WARNING'|i18n }}
					</div>
					<div class="form {{ _form.css }}">
						<form id="newsletter_confirm_form" name="newsletter_confirm_form" method="post" action="{{ '#'|href }}">
							<input type="hidden" name="newsletter_confirm_present" value="{{ token('form') }}" />
							<div class="formActions">
								<a href="{{ '-newsletters'|href }}" class="action-cancel button" id="newsletter_confirm_action-cancel">{{ 'CMS.ACTION_CANCEL'|i18n }}</a>
								<input type="submit" value="{{ 'CMS.ACTION_SEND'|i18n }}" class="action-submit isWarning isPrimary" id="newsletter_confirm_action-submit" />	
							</div>
						</form>
					</div>
				</div>
				
			{% else %}
				<div class="box isWarning">
					<div class="title">
						<i class="dripicons-warning isH2 isWarning"></i>
					</div>
					<div class="content">
						{{ 'CMS.MESSAGE_NEWSLETTERS_SEND_NO_SUBSCRIBERS'|i18n }}
					</div>
				</div>
			{% endif %}
		{% endif %}

	{% elseif _pico.action == 'test' %}

		{% if form %}
			<h3>{{ 'CMS.TITLE_NEWSLETTERS_TEST_FORM'|i18n }}</h3>
			<p>{{ 'CMS.MESSAGE_NEWSLETTERS_TEST_FORM'|i18n }}</p>
			{{ form|raw }}
		{% elseif success %}
			<div class="box isSuccess">
				<div class="title">
					<i class="dripicons-checkmark isH2 isSuccess"></i>
				</div>
				<div class="content">
					{{ 'CMS.MESSAGE_NEWSLETTERS_TEST_SUCCESS'|i18n }}
				</div>
			</div>
		{% else %}
			<div class="box isError">
				<div class="title">
					<i class="dripicons-warning isH2 isError"></i>
				</div>
				<div class="content">
					{{ 'CMS.MESSAGE_ERROR'|i18n }}
				</div>
			</div>
		{% endif %}

		{% if previous_tests %}
			<h3>{{ 'CMS.TITLE_NEWSLETTERS_TESTS'|i18n }}</h3>
			<p>{{ 'CMS.MESSAGE_NEWSLETTERS_TESTS'|i18n }}</p>
			<table class="cmsItems">
				<tfoot>
					<tr>
						<td>
							<span class="cmsItemsCount">{{ previous_tests|length }}</span> {{ 'CMS.LABEL_ITEMS'|i18n }}
						</td>
					</tr>
				</tfoot>
				<tbody>
					{% for item in previous_tests %}
						<tr>
							<td>
								<div class="cmsItem">
									<div class="templateItem">
										<div class="thumbnail">
											<i class="dripicons-mail"></i>
										</div>
										<strong>{{ item.email }}</strong>
										<br />
										<small>{{ item.__created|date('d/m/Y, H:i:s') }}</small>
									</div>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

	{% else %}

		{{ parent() }}

	{% endif %}

{% endblock %}