{% extends 'cms/_cmsplugin.twig' %}


{% block content %}
	
	
	{{ parent() }}


	{% if form %}
		{% apply defer('pico-cms-pages') %}
			<script type="text/javascript">
				{# Page parents based on navigation choice #}
				$('#page_navigation, #page_lang').change(function(e){
					$.ajax({
						data: 'lang='+$('#page_lang').val()+'&navigation='+$('#page_navigation').val()+'&exclude={{ _id }}',
						dataType: 'json',
						method: 'POST',
						url: "{{ '_/ajax/parents'|href }}",
						success: function(result) {
							$('#page_parent').html('<option value="">{{ "PAGE.FIELD_PARENT_NULL"|i18n }}</option>');
							for (key in result.parents) {
								$('#page_parent').append(
									'<option value="'+key.substr(1)+'"'+(key.substr(1)==$('#page_parent_loaded').val() ?' selected':'')+'>'+
									result.parents[key]+
									'</option>'
								);
							}
						}
					});
				});
				$('#page_navigation').trigger('change');
			</script>
		{% endapply %}
	{% endif %}

{% endblock %}