<header>
	<h1 class="cmsCore">
		{{ 'CMS.LABEL_PLUGIN_PLAUSIBLE'|i18n }}
	</h1>
	<div class="cmsTopActions {% if _pico.action!='index' %}mobileHidden{% endif %}">
		<a href="https://plausible.micromegas.me/share/{{ _pico.plausible.domain }}?auth={{ _pico.plausible.auth }}" target="plausible" class="button">
			<i class="dripicons-browser-upload"></i>
			<span>{{ 'CMS.ACTION_PLAUSIBLE'|i18n }}</span>
		</a>
	</div>

</header>

<iframe plausible-embed src="https://plausible.micromegas.me/share/{{ _pico.plausible.domain }}?auth={{ _pico.plausible.auth }}&embed=true&theme=light&background=transparent" scrolling="no" frameborder="0" loading="lazy" style="width: 1px; min-width: 100%; height: 1600px;"></iframe>
<script async src="https://plausible.micromegas.me/js/embed.host.js"></script>