/**
 * Chosen v1.6.2 styles has been updated to look like pico inputs and work without images.
 * (c) 2011-2016 by Harvest | MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
 * 
 * UPDATED FOR PICO
 */
.chosen-container {
	display: inline-block;
	font-size: 1em;
	position: relative;
	user-select: none;
	vertical-align: middle;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.chosen-container * {
	box-sizing: border-box;
}
.chosen-container .chosen-drop {
	background: var(--colorLight);
	border: 1px solid var(--colorFocus);
	border-top-color: var(--colorLight);
	border-radius: 0 0 var(--radius) var(--radius);
	left: -9999px;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1010;
}
.chosen-container.chosen-with-drop .chosen-drop {
	left: 0;
}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
	color: var(--colorTextLight);
	font-weight: normal;
	margin-right: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
	content: ":";
	padding-left: 2px;
	vertical-align: top;
}
.chosen-container-single .chosen-single {
	background-color: var(--colorBackground);
	border: 1px solid var(--colorBorder);
	box-shadow: inset 0px 0px 1px rgba(0,0,0,.1); 
	color: var(--colorText);
	display: block;
	height: 32px;
	line-height: 31px;
	overflow: hidden;
	padding: 0 0 0 .5em;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
}
.chosen-container-single .chosen-default {
	color: var(--colorTextLight);
}
.chosen-container-single .chosen-single span {
	display: block;
	overflow: hidden;
	margin-right: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
	margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
	display: none;
}
.chosen-container-single .chosen-single div {
	display: none;
}
.chosen-container-single .chosen-single div b {
	display: none;
}
.chosen-container-single .chosen-search {
	margin: 0;
	padding: 3px 4px;
	position: relative;
	white-space: nowrap;
	z-index: 1010;
}
.chosen-container-single .chosen-search input[type="text"] {
	border-color: var(--colorBorder);
	border-radius: var(--radius);
	color: var(--colorTextLight);
	display: block;
	font-size: .85em;
	min-width: 100px;
	margin: .2em auto;
	padding: .3em 1em;
	text-align: center;
	width: 50%;
}
.chosen-container-single .chosen-drop {
	border-radius: 0 0 var(--radius) var(--radius);
	margin-top: -1px;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
	left: -9999px;
	position: absolute;
}
.chosen-container .chosen-results {
	border-radius: 0px 0px var(--radius) var(--radius);
	color: var(--colorText);
	margin: 0;
	max-height: 240px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: relative;
	-webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
	border-radius: var(--radius);
	display: none;
	line-height: 15px;
	list-style: none;
	margin: 0;
	padding: .5em;
	word-wrap: break-word;
	-webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
	display: list-item;
}
.chosen-container .chosen-results li.disabled-result {
	color: var(--colorTextLight);
	display: list-item;
}
.chosen-container .chosen-results li.highlighted {
	background-color: var(--colorFocus);
	color: var(--colorBackground);
}
.chosen-container .chosen-results li.no-results {
	color: var(--colorTextLight);
	display: list-item;
}
.chosen-container .chosen-results li.group-result {
	cursor: default;
	display: list-item;
	font-weight: bold;
}
.chosen-container .chosen-results li.group-option {
	padding-left: 1em;
}
.chosen-container .chosen-results li em {
	font-style: normal;
	text-decoration: underline;
}
.chosen-container-multi .chosen-choices {
	background-color: var(--colorBackground);
	border: 1px solid var(--colorBorder);
	border-radius: var(--radius);
	box-shadow: var(--shadowInset);
	cursor: text;
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: .2em .5em .2em .5em;
	position: relative;
	width: 100%;
	.input:has(.prefix) & {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
.chosen-with-drop.chosen-container-multi .chosen-choices {
	border-radius: var(--radius) var(--radius) 0 0;
}
.chosen-container-multi .chosen-choices li {
	float: left;
	list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	background: transparent !important;
	border-radius: 0;
	border: 0 !important;
	box-shadow: none;
	color: var(--colorTextLight);
	font-family: sans-serif;
	font-size: 100%;
	height: 25px;
	line-height: normal;
	margin: 1px 0;
	outline: 0;
	padding: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
	background-color:  var(--colorLight);
	border: 1px solid var(--colorBorder);
	border-radius: var(--radius);
	color: var(--colorText);
	cursor: default;
	margin: .2em .2em .2em 0;
	max-width: 100%;
	position: relative;
	span {
		padding: 0 .5rem;
	}
}
.chosen-container-multi .chosen-choices li.search-choice span {
	word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	border-bottom: 0;
	border-left: 1px solid var(--colorBorder);
	border-radius: 0 var(--radius) var(--radius) 0;
	color: var(--colorText);
	display: inline-block;
	&::before {
		display: inline-block;
		content: '⨯';
		padding: 0 .25rem;
	}
	&:hover {
		background-color: var(--colorError);
		color: var(--colorBackground);
	}
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
	background-color: var(--colorLight);
	border: 1px solid var(--colorBorder);
	color: var(--colorTextLight);
	padding-right: .5em;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
	background: var(--colorLight);
}
.chosen-container-multi .chosen-results {
	margin: 0;
	padding: .25rem;
}
.chosen-container-multi .chosen-drop .result-selected {
	display: list-item;
	color: var(--colorTextLight);
	cursor: default;
}
.chosen-container-active .chosen-single {
	border: 1px solid var(--colorFocus);
}
.chosen-container-active.chosen-with-drop .chosen-single {
	border-bottom: 0;
	border-radius: var(--radius) var(--radius) 0px 0px
}
.chosen-container-active .chosen-choices {
	border: 1px solid var(--colorFocus);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
	color: var(--colorText) !important;
}
.chosen-disabled {
	opacity: 0.5 !important;
	cursor: default;
}
.chosen-disabled .chosen-single {
	cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
	cursor: default;
}
.chosen-rtl {
	text-align: right;
}
.chosen-rtl .chosen-single {
	overflow: visible;
	padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
	margin-right: 0;
	margin-left: 26px;
	direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
	margin-left: 38px;
}
.chosen-rtl .chosen-single div {
	right: auto;
	left: 3px;
}
.chosen-rtl .chosen-single abbr {
	right: auto;
	left: 26px;
}
.chosen-rtl .chosen-choices li {
	float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
	direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
	margin: .2em;
	padding: .2em;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
	right: auto;
	left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
	left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
	margin: 0 0 4px 4px;
	padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
	padding-right: 15px;
	padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
	border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
	padding: 4px 5px 4px 20px;
	direction: rtl;
}