/**
 * Base styles supposed to provide a simple starting point for any project.
 * Please note that :
 *  - These are not supposed to be altered but redefined in app.scss.
 *  - This is not a "reset"-stylesheet : it's not 2010 anymore.
 */


:root {
	--colorBackground: #ffffff;
	--colorBorder: #DEDDDA;
	--colorBrand: #00afe8;
	--colorError: #ED333B;
	--colorFocus: #00afe8;
	--colorLight: #F6F5F4;
	--colorSuccess: #33D17A;
	--colorText: #241F31;
	--colorTextButton: #ffffff;
	--colorTextLight: #9A9996;
	--colorUpdated: #1C71D8;
	--colorWarning: #FFA348;
	--fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Roboto, Helvetica, Arial, sans-serif;
	--fontSize: 16px;
	--fontSizeH1: 2.5rem;
	--fontSizeH2: 2rem;
	--fontSizeH3: 1.5rem;
	--fontSizeSmall: .85em;		
	--fontWeight: 400;
	--fontWeightBold: 700;
	--lineHeight: 1.5;
	--lineHeightEm: 1.5em;
	--radius: 2px;
	--transitionParams: .2s ease-in-out;
}


/**
 * Change the opacity of a css color variable.
 * @param multiplier 1=No change, <1 = Darker, >1 = Lighter
 */
@function color-opacity($color, $opacity) {
	$colorR: var(#{$color+'_R'});
	$colorG: var(#{$color+'_G'});
	$colorB: var(#{$color+'_B'});
		@return rgba($colorR, $colorG, $colorB, $opacity);
}
@function cop($color, $opacity) {
	@return color-opacity($color, $opacity);
}


html {
	box-sizing: border-box;
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	font-weight: var(--fontWeight);
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body { 
	background: var(--colorBackground);
	color: var(--colorText);
	line-height: var(--lineHeight);
	margin: 0;
}

a {
	color: var(--colorBrand);
	outline: 0;
	text-decoration: underline;
	&:visited, &:hover, &:active {
		color: var(--colorBrand);
	}
}

em {
	font-style: italic;
}	

h1, h2, h3 {
	margin: 1em 0 .5em;
	padding: 0;
}
	h1 {
		font-size: var(--fontSizeH1);
		line-height: 1.2;
	}
	h2 {
		font-size: var(--fontSizeH2);
		line-height: 1.3;
	}
	h3 {
		font-size: var(--fontSizeH3);
		line-height: 1.4;
	}

hr {
	background: var(--colorText);
	border: 0;
	height: 1px;
	margin: 1rem 0;
}

i {
	&.color-brand {
		color: var(--colorBrand);
	}
	&.color-error {
		color: var(--colorError);
	}
	&.color-light {
		color: var(--colorTextLight);
	}
	&.color-success {
		color: var(--colorSuccess);
	}
	&.color-updated {
		color: var(--colorUpdated);
	}
	&.color-warning {
		color: var(--colorWarning);
	}
}

img {
	max-width: 100%;
	height: auto;
	&[data-lazyload]:not(.loaded) {
		background-color: var(--colorImg, var(--colorLight));
	}
}

p {
	margin: .5em 0;
	padding: 0;
}

small {
	font-size: var(--fontSizeSmall);
}

strong {
	font-weight: var(--fontWeightBold);
}

table { 
	border-collapse: collapse; 
	border-spacing: 0; 
	table-layout: fixed;
	width: 100%;
	th, td {
		border: 1px solid var(--colorBorder);
		color: var(--colorText);
		font-weight: var(--fontWeight);
		padding: .4em;
	}
	thead {
		background-color: var(--colorLight);
	}
	&.invisible {
		margin: 0;
		thead, tbody, tfoot {
			background-color: transparent;
			border-style: none;
			margin: 0;
			padding: 0;
			tr, th, td {
				background-color: transparent;
				border-style: none;
				color: var(--colorText);
				font-weight: var(--fontWeight);
				margin: 0;
				padding: 0;
			}
		}
	}
}

/* Tooltips */
[data-tooltip] {
	overflow: visible !important;
	position: relative;
	&::after {
		background-color: var(--colorText);
		border-radius: var(--radius);
		bottom: calc(100% + .5rem);
		box-shadow: 0 0 1rem color-opacity(--colorText, .2);
		color: color-opacity(--colorBackground, .8);
		content: attr(data-tooltip);
		display: block;
		font-size: var(--fontSize);
		font-style: normal;
		font-weight: var(--fontWeight);
		left: 50%;
		max-width: 60em;
		opacity: 0;
		overflow: hidden;
		padding: .5rem;
		pointer-events: none;
		position: absolute;
		transform: translate3d(-50%, 0, 0);
		transition: opacity var(--transitionParams);
		width: 120%;
		z-index: 500;
	}
	&:hover {
		&::after {
			opacity: 1;
		}
	}
	/* Sizes */
	&[data-tooltip-size="auto"]::after {
		max-width: 50vw;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: auto;
		z-index: 100000;
	}
	&[data-tooltip-size="small"]::after {
		text-align: left;
		max-width: 50vw;
		width: 10rem;
	}
	&[data-tooltip-size="medium"]::after {
		text-align: left;
		max-width: 50vw;
		width: 20rem;
	}
	&[data-tooltip-size="big"]::after {
		text-align: left;
		max-width: 50vw;
		width: 30rem;
	}
	/* Positions (default is top) */
	&[data-tooltip-position="bottom"]::after {
		bottom: auto;
		top: calc(100% + .5rem);
	}
	&[data-tooltip-position="left"]::after {
		bottom: auto;
		left: auto;
		right: calc(100% + .5rem);
		top: 50%;
		transform: translate3d(0, -50%, 0);
	}
	&[data-tooltip-position="right"]::after {
		bottom: auto;
		left: calc(100% + .5rem);
		top: 50%;
		transform: translate3d(0, -50%, 0);
	}
}

/* Buttons */
.button, button, input[type='button'], input[type='submit'] {
	--marginH: .2em;
	--marginV: .1em;
	--paddingH: 1em;
	--paddingV: .5em;
	align-items: center;
	background-color: var(--colorBrand);
	border-radius: var(--radius);
	border: 1px solid var(--colorBrand);
	color: var(--colorTextButton);	
	cursor: pointer;
	display: inline-flex;
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	font-weight: var(--fontWeightBold);
	justify-content: flex-start;
	line-height: calc(var(--lineHeightEm) - .2em - 2px);
	height: calc(var(--lineHeightEm) + (var(--paddingV) * 2));
	margin: var(--marginV) var(--marginH);
	max-width: 100%;
	outline: 0;
	overflow: hidden;
	padding: 0 var(--paddingH);
	text-decoration: none;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	word-spacing: 0;
	&:visited, &:hover, &:active {
		color: var(--colorTextButton);	
	}	
	&:hover, &.hover {
		background-color: color-mix(in srgb, var(--colorBrand) 90%, transparent);
		color: var(--colorTextButton);
		text-decoration: none;	
	}
	/* Colors */
	&.add, &.success {
		background-color: var(--colorSuccess);
		border-color: var(--colorSuccess);
		&:hover, &.hover {
			background-color: color-mix(in srgb, var(--colorSuccess) 90%, transparent);
			border-color: var(--colorSuccess);
		}
	}
	&.dark {
		background-color: var(--colorText);
		border-color: var(--colorText);
		&:hover, &.hover {
			background-color: color-mix(in srgb, var(--colorText) 90%, transparent);
			border-color: var(--colorText);
		}
	}
	&.delete, &.error {
		background-color: var(--colorError);
		border-color: var(--colorError);
		&:hover, &.hover {
			background-color: color-mix(in srgb, var(--colorError) 90%, transparent);
			border-color: var(--colorError);
		}
	}
	&.light, &.secondary {
		background-color: var(--colorLight);
		border-color: var(--colorLight);
		color: var(--colorTextLight);
		&:hover, &.hover {
			background-color: color-mix(in srgb, var(--colorLight) 90%, transparent);
			border-color: var(--colorLight);
			color: var(--colorText);
		}
	}
	&.update, &.updated {
		background-color: var(--colorUpdated);
		border-color: var(--colorUpdated);
		&:hover, &.hover {
			background-color: color-mix(in srgb, var(--colorUpdated) 90%, transparent);
			border-color: var(--colorUpdated);
		}
	}
	&.warn, &.warning {
		background-color: var(--colorWarning);
		border-color: var(--colorWarning);
		&:hover, &.hover {
			background-color: color-mix(in srgb, var(--colorWarning) 90%, transparent);
			border-color: var(--colorWarning);
		}
	}
	/* Invisible */
	&.invisible {
		background-color: transparent;
		border-color: transparent;
		color: var(--colorBrand);
		&:visited, &:hover, &:active {
			color: var(--colorBrand);	
		}	
		&:hover, &.hover {
			background-color: var(--colorBrand);
			color: var(--colorTextButton);	
			border-color: inherit;
		}
		&.add, &.success {
			color: var(--colorSuccess);
			&:hover, &.hover {
				background-color: color-mix(in srgb, var(--colorSuccess) 90%, transparent);
				border-color: var(--colorSuccess);
			}
			&:not(.outline):hover {
				color: var(--colorTextButton);	
			}
		}
		&.dark {
			color: var(--colorText);
			&:hover, &.hover {
				background-color: color-mix(in srgb, var(--colorText) 90%, transparent);
				border-color: var(--colorText);
			}
			&:not(.outline):hover {
				color: var(--colorTextButton);	
			}
		}
		&.delete, &.error {
			color: var(--colorError);
			&:hover, &.hover {
				background-color: color-mix(in srgb, var(--colorError) 90%, transparent);
				border-color: var(--colorError);
			}
			&:not(.outline):hover {
				color: var(--colorTextButton);	
			}
		}
		&.light, &.secondary {
			color: var(--colorTextLight);
			&:hover, &.hover {
				background-color: var(--colorLight);
				border-color: var(--colorLight);
				color: var(--colorText);
			}
		}
		&.update, &.updated {
			color: var(--colorUpdated);
			&:hover, &.hover {
				background-color: color-mix(in srgb, var(--colorUpdated) 90%, transparent);
				border-color: var(--colorUpdated);
			}
			&:not(.outline):hover {
				color: var(--colorTextButton);	
			}
		}
		&.warn, &.warning {
			color: var(--colorWarning);
			&:hover, &.hover {
				background-color: color-mix(in srgb, var(--colorWarning) 90%, transparent);
				border-color: var(--colorWarning);
			}
			&:not(.outline):hover {
				color: var(--colorTextButton);	
			}
		}
	}
	/* Outline */
	&.outline {
		background-color: var(--colorBackground);
		color: var(--colorBrand);
		&:visited, &:hover, &:active {
			color: var(--colorBrand);	
		}	
		&:hover, &.hover {
			background-color: color-mix(in srgb, var(--colorBrand) 10%, var(--colorBackground));
			color: var(--colorBrand);
		}
		&.add, &.success {
			color: var(--colorSuccess);
			&:hover, &.hover {
				background-color: color-mix(in srgb, var(--colorSuccess) 10%, var(--colorBackground));
			}
		}
		&.dark {
			color: var(--colorText);
			&:hover, &.hover {
				background-color: color-mix(in srgb, var(--colorText) 10%, var(--colorBackground));
			}
		}
		&.delete, &.error {
			color: var(--colorError);
			&:hover, &.hover {
				background-color: color-mix(in srgb, var(--colorError) 10%, var(--colorBackground));
			}
		}
		&.light, &.secondary {
			color: var(--colorTextLight);
			&:not(.invisible) {
				border-color: var(--colorBorder);
			}
			&:hover, &.hover {
				background-color: var(--colorLight);
				border-color: var(--colorBorder);
				color: var(--colorText);
			}
		}
		&.update, &.updated {
			color: var(--colorUpdated);
			&:hover, &.hover {
				background-color: color-mix(in srgb, var(--colorUpdated) 10%, var(--colorBackground));
			}
		}
		&.warn, &.warning {
			color: var(--colorWarning);
			&:hover, &.hover {
				background-color: color-mix(in srgb, var(--colorWarning) 10%, var(--colorBackground));
			}
		}
	}
	/* Disabled */
	&.disabled, &[disabled] {
		background-color: var(--colorLight) !important;
		border-color: var(--colorLight) !important;
		box-shadow: none;
		color: var(--colorTextLight) !important;
		cursor: not-allowed !important;
		opacity: .5 !important;
		&:hover, &.hover {
			background-color: var(--colorLight) !important;
			border-color: var(--colorLight) !important;
			box-shadow: none;
			color: var(--colorTextLight) !important;
			cursor: not-allowed !important;
		}
	}
	/* Sizes */
	&.small {
		font-size: var(--fontSizeSmall);
	}
	&.big {
		font-size: var(--fontSizeH3);
	}
	&.huge {
		font-size: var(--fontSizeH2);
	}
	/* Children */
	i, img {
		margin: 0 calc(var(--paddingH) / 2);
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

/* MessageBox */
.messageBox {
	align-items: flex-start;
	background-color: var(--colorBackground);
	border-radius: var(--radius);
	display: flex;
	margin: 1rem 0;
	padding: .5rem;
	&.add, &.success {
		background-color: color-opacity(--colorSuccess, .1);
		i {
			color: var(--colorSuccess);
		}
	}
	&.error, &.delete {
		background-color: color-opacity(--colorError, .1);
		i {
			color: var(--colorError);
		}
	}
	&.light {
		background-color: var(--colorLight);
	}
	&.update, &.updated {
		background-color: color-opacity(--colorUpdated, .1);
		i {
			color: var(--colorUpdated);
		}
	}
	&.warn, &.warning {
		background-color: color-opacity(--colorWarning, .05);
		i {
			color: var(--colorWarning);
		}
	}
	i {
		flex-grow: 0;
		flex-shrink: 0;
		margin: 0 .5rem;
		text-align: center;
		& + p {
			margin-top: 0;
		}
	}
	p {
		margin: 0 .5rem;
	}
	.image {
		background-color: var(--colorBackground);
		padding: 1rem;
		margin-left: auto;
		&.qrcode {
			border: 1px solid var(--colorBorder);
			min-width: 15rem;
		}
		img {
			display: block;
		}
	}
}

/* Forms */
input[type="password"], 
input[type='text'], 
select,
textarea,
.pico-input-elements,
.pico-input-file {
	appearance: none;
	background-color: var(--colorBackground);
	border-radius: var(--radius);
	border: 1px solid var(--colorBorder);
	box-shadow: inset 0px 0px 1px rgba(0,0,0,.1); 
	color: var(--colorText);
	display: block;
	font-family: var(--fontFamily);
	font-size: 1em;
	line-height: calc(var(--lineHeightEm) - .2em);
	margin: .1em 0em;
	outline: 0;
	padding: .5em;
	resize: vertical;
	vertical-align: middle;
	width: 100%;
	&:focus {
		border-color: var(--colorFocus);
		box-shadow: inset 0px 0px 1px var(--colorFocus); 
		color: var(--colorText);
	}
	&:disabled, &[disabled] {
		background-color: var(--colorLight);
		color: var(--colorTextLight);
	}
	&.short {
		max-width: 10rem;
	}
}	
label {
	color: var(--colorText);
	display: inline-block;
	margin: .2em 1em 0 0;
	&.disabled {
		color: var(--colorTextLight);
	}
	&.none {
		color: var(--colorTextLight);
	}
}
.pico-form {
	margin: 1em 0;
	.pico-form-fieldset, fieldset {
		border: 0;
		margin: 1em 0 2em 0;
		padding: 0;
		legend {
			background-color: var(--colorLight);
			border-radius: var(--radius);
			display: inline-block;
			font-size: 1rem;
			margin: 0 0 1rem 0;
			padding: .5em;
		}
		&.closed {
			legend {
				cursor: pointer;
				&:after {
					align-items: center;
					content: ' ▾';
					display: inline-flex;
					height: 100%;
					justify-content: center;
				}
				&:hover {
					color: var(--colorFocus);
				}
			}
			.pico-form-field {
				display: none;
			}
		}
	}
	.pico-form-field {
		display: flex;
		flex-direction: column;
		margin: .5rem 0;
		.pico-form-field-label {
			position: relative;
		}
		.pico-form-field-value {
			position: relative;
			select {
				appearance: listbox;
			}
		}
		&.error {
			.pico-form-field-label label { 
				color: var(--colorError);
				font-weight: var(--fontWeightBold);
			}
		}
	}
	.pico-form-actions {
		margin: 1rem .5rem 2rem .5rem;
		text-align: center;
	}
	/* Option: labels to the left, fields to the right */
	&.labels-left {
		.pico-form-field {
			flex-direction: row;
			.pico-form-field-label {
				flex-grow: 0;
				flex-shrink: 0;
				width: 30%;
				padding: .5em 0;
			}
			.pico-form-field-value {
				width: 70%;
				label.none {
					padding: .5em 0;
				}
			}
		}
	}
}
textarea.pico-input-code {
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}
input.pico-input-digits {
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	margin: 0;
	letter-spacing: .25em;
	text-align: center;
}
.pico-input-address {
	display: grid;
	grid-gap: .5rem;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: 
		'street street street'
		'zipcode city city'
		'country country country'
		'options options options';
	[id$='_street'] {
		grid-area: street;
	}
	[id$='_zipcode'] {
		grid-area: zipcode;
	}
	[id$='_city'] {
		grid-area: city;
	}
	[id$='_country'] {
		grid-area: country;
	}
	label {
		accent-color: var(--colorTextLight);
		display: block;
		font-size: var(--fontSizeSmall);
		color: var(--colorTextLight);
		grid-area: options;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		&.error {
			accent-color: var(--colorError);
			color: var(--colorError);
		}
	}
}
.pico-input-file {
	position: relative;
	width: 100%;
	input[type='file'] {
		opacity: 0;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;	
	}
	label {
		color: var(--colorTextLight);
		display: block;
		overflow: hidden;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
.pico-input-elements {
	.pico-input-elements-items {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.pico-input-elements-actions {
		display: flex;
		justify-content: space-between;
		a {
			overflow: hidden;
			margin: 0 .25em;
			width: 100%;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				border-color: var(--colorFocus);
				color: var(--colorText);
			}
			&.disabled {
				background-color: color-opacity(--colorLight, .5);
				border-color: var(--colorBorder);
				color: var(--colorTextLight);
				cursor: not-allowed;
				.pico-input-elements-item-text {
					color: var(--colorTextLight);
				}
				&:hover {
					border-color: var(--colorBorder);
					color: var(--colorTextLight);
				}
			}
		}
	}
	.pico-input-elements-item {
		border-radius: var(--radius);
		border: 1px solid var(--colorBorder);
		color: var(--colorText);
		display: flex;
		margin-bottom: .25em;
		text-decoration: none;
		&[draggable] {
			.pico-input-elements-item-icon {
				cursor: grab;
			}
		}
		&.noIcon {
			.pico-input-elements-item-text {
				border-left: .5em solid var(--colorLight); 	
				max-width: calc(100% - 8rem);
				width: 100%;
			}
			&.noActions {
				.pico-input-elements-item-text {
					max-width: calc(100% - 1rem);
				}
			}
		}
		&.noActions {
			.pico-input-elements-item-text {
				max-width: calc(100% - 3rem);
			}
			&.noIcon {
				.pico-input-elements-item-text {
					max-width: calc(100% - 1rem);
				}
			}
		}
		&.unchecked {
			background-color: color-opacity(--colorLight, .5);
			.pico-input-elements-item-icon {
				opacity: 0.6;
			}
			.pico-input-elements-item-text {
				color: var(--colorTextLight);
				small {
					color: var(--colorWarning);
					&.text-info {
						display: none;
					}
					&.text-cancel {
						display: block;
					}
				}
			}
			.pico-input-elements-item-actions {
				span.button {
					&:hover {
						background-color: var(--colorUpdated);
						color: #ffffff;
					}
					&.toggle-action {
						i.dripicons-cross {
							display: none;
						}
						span.text-action-cancel {
							display: block;
						}
					}
					&.form-action {
						display: none;
					}
				}
			}
		}
		.pico-input-elements-item-icon {
			align-items: center;
			background-color: var(--colorLight);
			border-radius: var(--radius) 0 0 var(--radius);
			display: flex;
			flex-grow: 0;
			flex-shrink: 0;
			justify-content: center;
			opacity: 1;
			overflow: hidden;
			width: 3rem;
			i {
				font-size: 1.2em;
			}
			img {
				display: block;
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
		.pico-input-elements-item-text {
			max-width: calc(100% - 11rem);
			padding: .4em .5rem;
			> small {
				color: var(--colorTextLight);
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				&.text-info {
					display: block;
				}
				&.text-cancel {
					display: none;
				}
			}
			strong {
				font-weight: var(--fontWeight);
				&.ellipsis {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				&.title {
					font-weight: var(--fontWeightBold);
				}
			}
		}
		.pico-input-elements-item-actions {
			display: flex;
			align-items: center;
			padding: .5em;
			margin-left: auto;
			span.button {
				&.delete-action {
					&:hover {
						background-color: var(--colorError);
						color: #ffffff;
					}
				}
				&.form-action {
					&:hover {
						background-color: var(--colorUpdated);
						color: #ffffff;
					}
				}
				&.toggle-action {
					i.dripicons-cross {
						display: block;
						margin: 0;
					}
					span.text-action-cancel {
						display: none;
					}
					&:hover {
						background-color: var(--colorError);
						color: #ffffff;
					}
				}
			}
		}
	}
	.pico-input-elements-footnote {
		color: var(--colorTextLight);
		font-size: var(--fontSizeSmall);
		text-align: center;
		margin-top: .25rem;
	}
}

.pico-modal.blocks {
	align-items: center;
	display: flex;
	.blockDescription {
		align-items: center;
		color: var(--colorTextLight);
		display: flex;
		padding: .5rem 0;
		i {
			flex-grow: 0;
			font-size: var(--fontSizeH2);
			margin: 0 1rem 0 0;
			text-align: center;
		}
	}
	h1 + .blockDescription {
		margin-top: -1.5rem;
	}
	.pico-form {
		margin-top: 1rem;
	}
}

.pico-modal.pico-input-elements-browser {
	.pico-input-elements-browser-searchbox {
		display: flex;
		align-items: center;
		justify-content: stretch;
		a {
			text-decoration: none;
			i {
				align-items: center;
				color: var(--colorBrand);
				display: inline-flex;
				font-size: 1.2em;
				height: 1.8em;
				justify-content: center;
				margin-right: .5em;
				width: 1.8em;
			}
		}
		input:not(:focus) {
			background-color: var(--colorSidebar);
			border-color: var(--colorSidebar);
			box-shadow: none;
		}
	}
	.pico-input-elements-browser-results {
		height: 40rem;
		max-height: 50vh;
		overflow-x: hidden;
		overflow-y: auto;
		&.loading {
			align-items: center;
			display: flex;
			justify-content: center;

			&::before {
				font-family: "dripicons-v2" !important;
				font-style: normal !important;
				font-variant: normal !important;
				font-weight: normal !important;
				line-height: 1em;
				speak: none;
				text-transform: none !important;
				vertical-align: -.15em;
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;

				animation: rotate 1.2s linear infinite both;
				content: "\e007";
				display: block;
			}
		}
	}
}


/* WYSIWYG styles */
.wysiwyg {
	* {
		max-width: 100%;
	}
	blockquote, h1, h2, h3, h4, h5, h6, li, ol, p, td, th, ul {
		&.alignLeft { text-align: left; }
		&.alignCenter { text-align: center; }
		&.alignRight { text-align: right; }
		&.alignJustify { text-align: justify; }
	}
	div, object, iframe, table, img {
		&.alignLeft { 
			display: block; 
			float: left; 
			margin: 1rem 1rem 1rem 0; 
			max-width: 100%;
		}
		&.alignCenter { 
			display: block; 
			float: none; 
			margin: 1rem auto; 
			max-width: 100%;
		}
		&.alignRight { 
			display: block; 
			float: right; 
			margin: 1rem 0 1rem 1rem; 
			max-width: 100%;
		}
		&.alignJustify { 
			display: block; 
			float: none; 
			margin: 1rem 0;
			max-width: 100%;
			width: 100%; 
		}
	}
	table {
		&.invisible {
			background-color: transparent;
			border-style: none;
			padding: 0px;
			margin: 0px;
			tbody, thead, tfoot, tr, th, td {
				background-color: transparent;
				border-style: none;
				color: inherit;
				margin: 0px;
				padding: 0px;
			}
		}
	}
}


/* Modals */
.pico-modal {
	align-items: center;
	background-color: rgba(0,0,0,.3);
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: fixed;
	top: 0;
	transition: background-color var(--transitionParams);	
	width: 100%;
	z-index: 1000;
	.pico-modal-loading, .content {
		background-color: var(--colorBackground);
		border-radius: var(--radius);
		box-shadow: 0 0 1rem rgba(0,0,0,.3);
		margin: 1rem;
		max-width: 40rem;
		opacity: 1;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
		padding: 1rem;
		transition: opacity var(--transitionParams) .2s;
		z-index: 1100;
	}
	.pico-modal-loading {
		display: none;
		width: auto;
		i {
			animation: rotate 1.2s linear infinite both;
			display: block;
		}
	}
	.content {
		max-height: 90%;
		max-width: 40rem;
		min-width: 200px;
		width: 100%;
		h1, h2, h3 {
			font-size: var(--fontSizeH3);
			line-height: 1.4;
			&:first-child {
				margin-top: 0;
			}
			small {
				font-size: inherit;
				font-weight: normal;
			}
		}
		* {
			max-width: 100%;
		}
		.pico-form:last-child,
		:last-child .pico-form {
				margin-bottom: 0;
		}
		.actions, 
		.pico-form .pico-form-actions {
			margin: .5rem 0;
			padding: .5rem 0;
			text-align: center;
			&:last-child {
				margin-bottom: 0;
			}
			a:not(.button) {
				display: inline-block;
				margin: .5rem;
			}
		}
		.pico-modal-close {
			border: none;
			color: var(--colorError);
			position: absolute;
			right: 1rem;
			text-decoration: none;
			top: 1rem;
		}
	}
	&.tiny .content, .content.tiny { 
		max-width: 20rem; 
	}
	&.small .content, .content.small { 
		max-width: 30rem; 
	}
	&.big .content, .content.big { 
		max-width: 60rem; 
	}
	&.tall .content, .content.tall { 
		min-height: 30rem; 
	}
	&.full .content, .content.full { 
		max-width: calc(100vw - 2rem); 
	}
	&.hidden {
		background-color: color-opacity(--colorText, 0);
		height: 0;
		width: 0;
		.content {
			opacity: 0;
		}
	}
	.iframe & {
		.content {
			margin: 0;
			height: 100%;
			width: 100%;
		}
	}
	&.loading {
		.pico-modal-loading {
			display: block;
		}
		.content {
			display: none;
			opacity: 0;
		}
	}
}


/* Hacks */
.clearfix { 
	&:after, &:before {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/* Animations */
@keyframes rotate {
	0% {
		transform: rotateZ(0);
	}
	25% {
		transform: rotateZ(180deg);
	}
	50% {
		transform: rotateZ(360deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
