/**
 * TinyMCE Pico customiation of 'tinymce-5' skin.
 */
.formFieldValue {
	.tox-tinymce {
		border-radius: var(--radius);
		border: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
		width: 100%;
		.tox-tbtn {
			background-color: var(--colorLight);
			border-radius: var(--radius) !important;
			&:hover, &:active, &:focus {
				background-color: var(--colorLight);
				cursor: pointer;
			}
			.tox-tbtn__select-label {
				line-height: 1.4;
			}
			svg {
				zoom: .8;
			}
		}
		.tox-collection__item--active:not(.tox-collection__item--state-disabled) {
			background-color: var(--colorFocus) !important;
		}
		.tox-editor-header {
			background-color: var(--colorLight) !important;
			border-bottom: 1px solid var(--colorBorder) !important;
			box-shadow: var(--shadowIn);
			padding: 0 !important;
			.tox-toolbar-overlord {
				background-color: transparent;
				.tox-toolbar, .tox-toolbar__primary {
					background: transparent !important;
					border-top: 1px solid var(--colorBorder);
					&:first-child {
						border-top: none;
					}
					.tox-toolbar__group {
						border-color: var(--colorBorder);
					}
				}
			}
		}
		.tox-edit-area::before {
			border: 1px solid var(--colorFocus);
			box-shadow: inset 0px 0px 1px var(--colorFocus); 
			color: var(--colorText);
			border-radius: 0;
		}
		.tox-statusbar {
			background-color: var(--colorLight);
			height: auto;
			padding: 4px 8px;
		}
	}
}
.tox-tinymce-aux {
	.tox-menu {
		border-radius: var(--radius) !important;
	}
	.tox-collection__item {
		&--active:not(.tox-collection__item--state-disabled) {
			background-color: var(--colorFocus) !important;
		}
	}
}
.tox {
	.tox-dialog-wrap {
		.tox-dialog-wrap__backdrop {
			backdrop-filter: blur(3px);
			background-color: color-mix(in srgb, var(--colorBackgroundModal) 30%, transparent);
		}
		.tox-dialog {
			background-color: var(--colorBackground);
			border-radius: var(--radius);
			box-shadow: var(--shadowModal);
			padding: var(--paddingModal);
			@media (max-width: 499px) {
				& {
					margin: calc(1 * var(--paddingModal)) !important;
				}
			}
			.tox-dialog__header {
				align-items: center;
				background-color: var(--colorLight);
				border-radius: var(--radius) var(--radius) 0 0;	
				border-bottom: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
				display: flex;
				justify-content: flex-end;
				margin: calc(-1 * var(--paddingModal)) 0 var(--paddingModal) calc(-1 * var(--paddingModal)); 
				max-width: calc(100% + (2 * var(--paddingModal)));
				padding: var(--paddingModal);
				position: sticky;
				top: calc(-1 * var(--paddingModal));
				width: 100%;
				z-index: calc(var(--zIndex) + 100);
				h1.tox-dialog__title {
					font-family: var(--fontFamily);
					font-size: var(--fontSizeH3);
					font-weight: var(--fontWeightMedium);
					margin: 0;
					padding-right: var(--paddingModal);
					width: 100%;
				}
				button.tox-button.tox-button--icon.tox-button--naked {
					align-items: center;	
					border-style: none;
					border-radius: 2rem;	
					color: var(--colorText);
					display: flex;
					flex-grow: 0;
					flex-shrink: 0;
					height: 2rem;
					justify-content: center;
					margin: calc(-.5 * var(--paddingButton)) 0 calc(-.5 * var(--paddingButton)) var(--paddingButton);
					overflow: hidden;
					text-decoration: none;
					width: 2rem;
					&[data-mce-name="close"] {
						background-color: var(--colorError);
						color: var(--colorTextOnDark);
						@media(hover: hover) and (pointer: fine) {
							background-color: color-mix(in srgb, currentColor 5%, transparent);
							color: var(--colorText);
							&:hover {
								background-color: var(--colorError);
								color: var(--colorTextOnDark);
							}
						}
					}
				}
			}
			.tox-dialog__body {
				flex-direction: column;
				.tox-dialog__body-nav {
					flex-direction: row;
					max-width: 100%;
					padding: 0;
					.tox-tab {
						margin-right: calc(2 * var(--paddingButton));
					}
				}
				.tox-dialog__body-content {
					padding: 0;
				}
			}
			.tox-dialog__footer {
				background-color: var(--colorLight);
				border-top: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
				border-radius: 0 0 var(--radius) var(--radius);
				bottom: calc(-1 * var(--paddingModal));
				display: flex;
				margin: calc(2 * var(--paddingModal)) 0 calc(-1 * var(--paddingModal)) calc(-1 * var(--paddingModal)); 
				max-width: calc(100% + (2 * var(--paddingModal)));
				padding: var(--paddingModal);
				width: 100%;
			}
			.tox-button, .tox-button--secondary, .tox-tab {
				align-items: center;
				appearance: none;
				background-color: color-mix(in srgb, currentColor 5%, var(--colorBackground));
				border-radius: var(--radius);
				border: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
				box-shadow: var(--shadow);
				color: var(--colorText);
				cursor: pointer;
				display: inline-flex;
				font-family: var(--fontFamily);
				font-size: var(--fontSize);
				font-weight: var(--fontWeightMedium);
				justify-content: center;
				line-height: var(--lineHeight);
				outline: 0;
				padding: var(--paddingButton) calc(2 * var(--paddingButton));
				text-decoration: none;
				user-select: none;
				&[data-mce-name="Save"] {
					background-color: var(--colorUpdated);
					border-color: var(--colorUpdated);
					color: var(--colorTextOnDark);
				}
				&.tox-dialog__body-nav-item--active {
					color: var(--colorFocus);
				}
			}
			@media(hover: hover) and (pointer: fine) {
				.tox-button:hover {
					border-color: color-mix(in srgb, var(--colorText) 50%, var(--colorUpdated));
				}
				.tox-button--secondary:hover {
					background-color: color-mix(in srgb, currentColor 5%, var(--colorBackground));
					border-color: color-mix(in srgb, currentColor 40%, var(--colorBackground));
				}
			}
			.tox-form__group {
				margin: 0 0 var(--paddingButton) 0;
				.tox-label {
					display: block;
					color: var(--colorText);
					font-family: var(--fontFamily);
					font-weight: var(--fontWeightMedium);
					padding: calc(var(--paddingButton) + 1px) 0;
					text-align: left;
				}
			}
			.tox-textfield, .tox-listbox.tox-listbox--select {
				align-items: center;
				appearance: none;
				background-color: var(--colorBackground);
				border-radius: var(--radius);
				border: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
				box-shadow: var(--shadowIn);
				color: var(--colorText);
				display: inline-flex;
				font-family: var(--fontFamily);
				font-size: var(--fontSize);
				font-weight: var(--fontWeight);
				justify-content: flex-start;
				line-height: var(--lineHeight);
				margin: 0;
				max-width: 100%;
				outline: 0;
				padding: var(--paddingButton) calc(2 * var(--paddingButton));
				vertical-align: top;
				width: 100%;
			}
			.tox-dialog__body-iframe {
				margin: 0 calc(-1 * var(--paddingModal)) calc(-1 * var(--paddingModal)) calc(-1 * var(--paddingModal)); 
			}
		}
	}	
}
