body#tinymce {
	font-family: Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0 auto;
	padding: 0 .8rem;
	max-width: 800px;
	&.disabled {
		background-color: #f6f6f6;
		color: #999999;
	}
	blockquote {
		border-left: 2px solid #cccccc;
		margin-left: 1em;
		padding-left: 1em;
	}
	h1, h2, h3 {
		font-weight: 400;
		line-height: 1.2;
		margin: 1em 0 .5em 0;
		strong {
			font-weight: 700;
		}
	}
	h1 {
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.4em;
	}
	h3 {
		font-size: 1.2em;
	}
	hr {
		background: #666666;
		border: 0;
		height: 1px;
		margin: 1em 0;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	ol {
		margin: .5em 0 .5em 2em;
		list-style: decimal outside;
	}
	p {
		margin: .5em 0;
	}
	ul {
		margin: .5em 0 .5em 2em;
		list-style: disc outside;
	}
	table {
		border-style: none;
		margin: .5em 0;
		tr {
			border-style: none;
		}
		th, td {
			border: 1px solid #cccccc;
			font-size: 16px;
			padding: .2em;
		}
		th {
			background-color: #eeeeee;
			font-weight: normal;
		}
		&.invisible {
			th, td {
				background-color: transparent;
				border: 1px dashed #cccccc;
			}
		}
	}
	.button, .button:active, .button:visited, button, input[type='button'], input[type='submit'] {
		max-width: 100%;
	}
	blockquote, h1, h2, h3, h4, h5, h6, li, ol, p, td, th, ul {
		&.alignLeft { text-align: left; }
		&.alignCenter { text-align: center; }
		&.alignRight { text-align: right; }
		&.alignJustify { text-align: justify; }
	}
	div, object, iframe, table, img {
		&.alignLeft { 
			display: block; 
			float: left; 
			margin: 1rem 1rem 1rem 0; 
			max-width: 100%;		}
		&.alignCenter { 
			display: block; 
			float: none; 
			margin: 1rem auto; 
			max-width: 100%;
		}
		&.alignRight { 
			display: block; 
			float: right; 
			margin: 1rem 0 1rem 1rem; 
			max-width: 100%;
		}
		&.alignJustify { 
			display: block; 
			float: none; 
			margin: 1rem 0;
			max-width: 100%;
			width: 100%; 
		}
	}
}
@media (max-width: 700px) {
	body#tinymce {
		font-size: 14px;
		max-width: none;
		p {
			font-size: 14px;
		}
		table {
			th, td {
				font-size: 14px;
			}
		}
	}
}