{% set css = ['_pico', 'cms/_cms', 'dripicons', 'tinymce_editor']|merge(css|default([])) %}
{% set js = ['html5sortable.min', 'cms/_cms']|merge(js|default([])) %}
{% extends '_skeleton.twig' %}

{% block body %}
	{{ form|raw }}
	<style type="text/css">
		:root {
			--fontSize: 14px;
		}
		html, body, .form, #dummy_form {
			height: 100%;
		}
		body {
			padding: 0 var(--paddingModal);
		}
		#dummy_file_uploader {
			box-shadow: none;
			margin-left: 0px;
		}
		#dummy_file_container {
			margin-top: 0;
		}
		#dummy_file_browser, #cdn-legend-modal {
			> .content {
				border-radius: 0;
				max-height: 100%;
				> .modalTitle {
					display: none;
				}
			}
		}
		#dummy_form {
			display: flex;
			flex-direction: column;
		}
		.formActions {
			background-color: var(--colorLight);
			border-top: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
			bottom: calc(-1 * var(--paddingModal));
			display: flex;
			margin: auto 0 0 calc(-1 * var(--paddingModal)); 
			max-width: calc(100% + (2 * var(--paddingModal)));
			padding: var(--paddingModal);
			width: calc(100% + (2 * var(--paddingModal)));
		}
	</style>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('html').addClass('iframe');
		/* Detect emptyness of hidden field */
		setInterval(function(){
			$('#dummy_action-insert').toggleClass('isDisabled', ($('#dummy_file').val().length<1));
		}, 100);
		/* Insert action */
		$('#dummy_action-insert').click(function(e) {
			if ($('#dummy_file').val().length>0) {
				$.ajax({
					data: 'id='+$('#dummy_file').val()+'&lang={{ lang }}&thumb={{ thumb }}',
					dataType: 'json',
					method: 'POST',
					url: "{{ ';resources/tinymce/picocdn.php'|href }}",
					success: function(result) {
						if (result.type=='image') {
							top.tinymce.activeEditor.insertContent('<img width="'+result.width+'" height="'+result.height+'" data-ratio="'+result.ratio+'" src="'+result.url+'" data-lazyload="'+result.url+'" alt="'+result.alt+'" />');
						} else if (result.type=='vector') {
							top.tinymce.activeEditor.insertContent('<img src="'+result.url+'" alt="'+result.alt+'" />');
						} else {
							top.tinymce.activeEditor.insertContent('<a href="'+result.url+'" target="_blank">'+result.name+'</a>');
						}
    					top.tinymce.activeEditor.windowManager.close();
					}
				});
			}
    		e.preventDefault();
 		});
	</script>
{% endblock %}