{% extends 'emails/_email.twig' %}

{% block body %}

	{{ _self.title(subject, _styles) }}
	{{ _self.separator('small', _styles) }}
	{{ _self.p('APP.MESSAGE_EMAIL_CONTACT_ADMIN'|i18n, _styles) }}
	{{ _self.separator('small', _styles) }}
	{{ _self.model(fields, contact, true, _styles) }}
	{{ _self.separator('medium', _styles) }}
	{{ _self.button('mailto:'~contact.email, 'APP.ACTION_EMAIL_REPLY'|i18n, _styles) }}

{% endblock %}