/**
 * Variables
 */
:root {
	--colorCmsCore: #1abc9c;
	--colorCmsExit: #FFA348;
	--colorCmsPlugin: #9141AC;
	--colorStar: #f1c40f;
	--fontSize: 14px;
	--fontSizeH1: 1.8em;
	--fontSizeH2: 1.5em;
	--fontSizeH3: 1.15em;
	--interfaceWidth: 1200px;
}


/**
 * Base
 */
html, body {
	height: 100%;
}
h1, h2, h3 {
	font-weight: var(--fontWeightMedium);
	strong {
		font-weight: var(--fontWeightBold);
	}
}


/**
 * Login form
 */
.cmsLogin {
	align-items: center;
	background-color: var(--colorLight);
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;
	.logo {
		max-width: 100%;
		width: 30rem;
		img {
			border-radius: var(--radius);
			display: block;
			display: block;
			height: 4rem;
			width: 4rem;
		}
	}
	.box {
		max-width: 100%;
		width: 30rem;
	}
	.input {
		&.isSmall, &.isMedium, &.isLarge {
			max-width: 100%;
		}
	}
	.form {
		.formActions {
			align-items: flex-start;
			justify-content: flex-start;
			position: static;
			&:not(:has(.button.isRight)) {
				flex-direction: column;
			}
			.button {
				margin-bottom: var(--paddingButton);
				&.isRight {
					margin-left: auto;
				}
				&.action-back::before {
					@extend .dripicons;
					content: "\6c";
					margin-right: var(--paddingButton);
				}
			}
		}
	}
	footer {
		color: var(--colorTextLight);
		font-size: var(--fontSizeSmall);
		margin: 1rem 0;
		max-width: 100%;
		width: 30rem;
	}
}


/**
 * Interface
 */
.cmsInterface {
	background-color: var(--colorLight);
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
	height: 100%;
	.cmsSidebar {
		container-type: inline-size;
		display: flex;
		flex-direction: column;
		height: 100%;
		margin: 0 0 0 auto;
		max-height: 100%;
		max-width: calc(var(--interfaceWidth) / 4);
		overflow: hidden;
		overflow-y: auto;
		padding: 0 calc(2 * var(--paddingButton));
		position: relative;
		width: 100%;
		&.toggleCore {
			.cmsNavGroup {
				&[data-group='core'] {
					max-height: calc(8 * var(--paddingButton));
					overflow: hidden;
					transition: max-height var(--transitionParams);
					&.open {
						max-height: calc(80 * var(--paddingButton));
						#cmsToggleCore {
							i {
								transform: rotate(90deg);
							}
						}
					}
				}
				#cmsToggleCore {
					display: flex;
					i {
						transition: rotate var(--transitionParams);
					}
				}
			}
		}
		.brand {
			align-items: center;
			display: flex;
			justify-content: flex-start;
			max-width: 100%;
			padding: calc(4 * var(--paddingButton)) 0 0 0;
			img {
				border-radius: var(--radius);
				display: block;
				height: 4rem;
				width: 4rem;
				&.box {
					margin: 0;
				}
			}
			span {
				font-weight: var(--fontWeightMedium);
				padding: 0 0 0 calc(2 * var(--paddingButton));
				small {
					font-size: var(--fontSize);
					font-weight: var(--fontWeight);
					margin: calc(.5 * var(--paddingButton)) 0 0 0;
				}
			}
		}
		nav {
			border-color: color-mix(in srgb, currentColor 30%, transparent);
			&.bottom {
				border-bottom: 0;
				border-radius: var(--radius) var(--radius) 0 0;
				margin: auto 0 0 0;
				.cmsNavGroup {
					&:last-child {
						border-radius: 0;
						a:last-child {
							border-radius: 0;
						}
					}
				}
			}
			.cmsNavGroup {
				border-bottom: 1px solid var(--colorBorder);
				margin: 0;
				list-style: none;
				&:first-child {
					border-radius: var(--radius) var(--radius) 0 0;
					a:first-child {
						border-radius: var(--radius) var(--radius) 0 0;
					}
				}
				&:last-child {
					border-radius: 0 0 var(--radius) var(--radius);
					border-bottom: 0;
					a:last-child {
						border-radius: 0 0 var(--radius) var(--radius);
					}
				}
				&.isHorizontal {
					display: flex;
					justify-content: stretch;
					a {
						border-bottom: 3px solid color-mix(in srgb, var(--colorText) 20%, transparent);
						border-left: 1px solid color-mix(in srgb, var(--colorBorder) 30%, var(--colorBackground));
						border-top: none;
						flex-direction: column;
						flex-grow: 1;
						justify-content: center;
						width: 4rem;
						&:first-child {
							border-left: none;
						}
						span {
							font-size: var(--fontSizeSmall);
						}
						i {
							margin: 0;
						}
					}
					p {
						display: flex;
						flex-direction: column;
						justify-content: center;
					}
					&:has(a:nth-child(2)) {
						p {
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
							width: calc(100% - 4rem);
						}
					}
					&:has(a:nth-child(3)) {
						p {
							width: calc(100% - 8rem);
						}
					}
					&:has(a:nth-child(4)) {
						p {
							width: calc(100% - 12rem);
						}
					}
				}
				#cmsToggleCore {
					display: none;
				}
			}
			a {
				align-items: center;
				border-bottom: 1px solid color-mix(in srgb, var(--colorBorder) 30%, var(--colorBackground));
				border-left: 3px solid color-mix(in srgb, var(--colorText) 20%, transparent);
				color: var(--colorText);
				display: flex;
				font-size: var(--fontSizeH3);
				margin: 0;
				padding: var(--paddingButton) calc(2 * var(--paddingButton));
				text-decoration: none;
				&:last-child {
					border-bottom: 0;
				}
				i, .svgIcon {
					align-items: center;
					color: var(--colorCmsPlugin);
					display: inline-flex;
					flex-grow: 0;
					flex-shrink: 0;
					font-size: 1.2em;
					height: calc(6 * var(--paddingButton));
					justify-content: center;
					margin-right: var(--paddingButton);
					width: calc(6 * var(--paddingButton));
				}
				.svgIcon {
					.colorFill {
						fill: var(--colorCmsPlugin);
					}
					svg path {
						stroke: #ffffff;
						stroke-width: 1px;
					}
				}
				span {
					font-size: var(--fontSize);
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					position: relative;
					&[data-notification] {
						&:after {
							@extend .tag;
							background-color: color-mix(in srgb, var(--colorError) 80%, var(--colorBackground));
							border-color: var(--colorError);
							color: var(--colorBackground);
							content: attr(data-notification);
							margin-left: calc(2 * var(--paddingButton));
						}
					}
				}
				&.current {
					background-color: color-mix(in srgb, var(--colorFocus) 5%, transparent);
					border-left-color: var(--colorFocus);
					color: var(--colorText);
					font-weight: var(--fontWeightMedium);
				}
				@media(hover: hover) and (pointer: fine) {
					&:hover, &:active {
						color: var(--colorCmsPlugin);
					}
				}
				&.cmsCore {
					i {
						color: var(--colorCmsCore);
					}
					.svgIcon {
						.colorFill {
							fill: var(--colorCmsCore);
						}
					}
					@media(hover: hover) and (pointer: fine) {
						&:hover, &:active {
							color: var(--colorCmsCore);
						}
					}
				}
				&.cmsExit {
					i {
						color: var(--colorCmsExit);
					}
					.svgIcon {
						.colorFill {
							fill: var(--colorCmsExit);
						}
					}
					@media(hover: hover) and (pointer: fine) {
						&:hover, &:active {
							color: var(--colorCmsExit);
						}
					}
				}
			}
			p {
				background-color: color-mix(in srgb, currentColor 4%, transparent);
				flex-grow: 0;
				flex-shrink: 3;
				font-size: var(--fontSizeSmall);
				font-weight: var(--fontWeightLight);
				line-height: 1.2;
				margin: 0;
				max-width: 100%;
				padding: var(--paddingButton) calc(2 * var(--paddingButton));
				&:first-child {
					border-top-left-radius: var(--radius);
					border-top-right-radius: var(--radius);
				}
				&:last-child {
					border-bottom-left-radius: var(--radius);
					border-bottom-right-radius: var(--radius);
				}
				.isEllipsis {
					display: block;
				}
				& + a {
					border-top: 1px solid color-mix(in srgb, var(--colorBorder) 30%, var(--colorBackground));
				}
				strong {
					font-weight: var(--fontWeightMedium);
				}
			}
		}
		@container (max-width: 15rem) {
			& {
				nav {
					.cmsNavGroup {
						&.isHorizontal {
							p {
								display: none;
							}
						}
					}
				}
			}
		}
		@container (max-width: 10rem) {
			& {
				.brand {
					padding-top: calc(2 * var(--paddingButton));
					span {
						display: none;
					}
				}
				nav {
					margin: calc(2 * var(--paddingButton)) 0;
					width: 4rem;
					.cmsNavGroup {
						&.isHorizontal {
							display: block;
							a {
								border-bottom: 1px solid color-mix(in srgb, var(--colorBorder) 30%, var(--colorBackground));
								border-left: none;
							}
						}
					}
				}
			}
		}
	}
	.cmsContent {
		container-type: inline-size;
		padding: 0 calc(2 * var(--paddingButton));
		overflow: auto;
		.cmsContentInner {
			max-width: calc((var(--interfaceWidth) / 4) * 3);
		}
		#cmsContentSearch {
			display: none;
			.searching & {
				display: block;
			}
		}
		#cmsContentPlugin {
			display: block;
			.searching & {
				display: none;
			}
		}
		header {
			align-items: center;
			background: var(--colorBackground);
			border-radius: 0 0 var(--radius) var(--radius);
			border-top: none;
			display: flex;
			justify-content: space-between;
			margin-top: 0;
			padding: calc(2 * var(--paddingButton)) calc(3 * var(--paddingButton));
			width: 100%;
			&.isCore {
				border-color: color-mix(in srgb, var(--colorCmsCore) 60%, transparent);
				color: var(--colorCmsCore);
			}
			&.isPlugin {
				border-color: color-mix(in srgb, var(--colorCmsPlugin) 60%, transparent);
				color: var(--colorCmsPlugin);
			}
			h1 {
				font-weight: var(--fontWeightMedium);
				letter-spacing: -.02em;
				margin: 0 calc(3 * var(--paddingButton)) 0 0;
				a.parent {
					color: inherit;
					display: inline-block;
					margin: 0;
					font-weight: var(--fontWeightLight);
					text-decoration: none;
					@media(hover: hover) and (pointer: fine) {
						&:hover {
							span {
								text-decoration: underline;
							}
						}
					}
					&:after {
						@extend .dripicons;
						content: '\56';
						margin-left: .1rem;
					}
				}
				em {
					font-weight: var(--fontWeightLight);
					font-style: normal;
					&::before {
						content: '— ';
					}
				}
			}
			.buttons {
				margin: 0;
				.button.isPrimary {
					order: 99;
				}
			}
		}
		@container (max-width: 30rem) {
			& {
				header {
					h1 {
						@extend .isEllipsis;
						font-size: var(--fontSizeH2);
					}
					.buttons {
						.button:has(span) {
							i {
								margin: 0;
							}
							span {
								display: none;
							}
						}
					}
				}
			}
		}
	}
	@media (max-width: 499px) {
		& {
			grid-template-columns: calc(4rem + (2 * var(--paddingButton))) minmax(0, 3fr);
			.cmsSidebar {
				padding-right: 0;
			}
		}
	}
}


/**
 * Items
 */
.cmsItemsSection {
	.cmsItemsSectionTitle {
		background-color: color-mix(in srgb, var(--colorTooltip) 6%, transparent);
		box-shadow: inset 0 -.0625em .125em color-mix(in srgb, var(--colorTooltip) 40%, transparent);
		color: var(--colorText);
		padding: calc(2 * var(--paddingButton)) calc(3 * var(--paddingButton));
	}
}

.cmsItem {
	align-items: stretch;
	background-color: var(--colorBackground);
	border: 1px solid color-mix(in srgb, currentColor 20%, transparent);
	border-radius: var(--radius);
	display: flex;
	padding: calc(2 * var(--paddingButton)) calc(3 * var(--paddingButton));
	position: relative;
	&[data-href] {
		cursor: pointer;
	}
	&:has(.dropdown.isActive) {
		z-index: 1;
		.dropdownOverlay {
			opacity: .5;
			z-index: -1;
		}
	}
	.shortcuts {
		align-items: center;
		display: flex;
		flex: 0 0 auto;
		justify-content: flex-end;
		margin-left: auto;
		padding-left: calc(2 * var(--paddingButton));
		> a, > .dropdown {
			margin-left: var(--paddingButton);
		}
		nav {
			.isBrand i { color: var(--colorBrand); }
			.isError i, .isDelete i { color: var(--colorError); }
			.isLight i { color: var(--colorTextLight); }
			.isSuccess i, .isCreate i { color: var(--colorSuccess); }
			.isUpdated i, .isUpdate i { color: var(--colorUpdated); }
			.isWarning i, .isWarn i { color: var(--colorWarning); }
		}
	}
	[data-action="star"] {
		svg {
			fill: var(--colorTextLight);
		}
	}
	&.isChild {
		&::before {
			@extend .dripicons;
			align-items: center;
			background-color: color-mix(in srgb, currentColor 4%, var(--colorBackground));
			border-right: 1px solid color-mix(in srgb, currentColor 20%, transparent);
			color: var(--colorTextLight);
			content: "\e043";
			display: flex;
			justify-content: center;
			left: 0px;
			overflow: hidden;
			top: 0px;
			width: 4rem;
			align-self: stretch;
			margin: calc(-2 * var(--paddingButton)) calc(3 * var(--paddingButton)) calc(-2 * var(--paddingButton)) calc(-3 * var(--paddingButton));
		}
	}
	&.isDraft {
		background: repeating-linear-gradient(45deg, color-mix(in srgb, var(--colorLight) 80%, var(--colorBackground)), color-mix(in srgb, var(--colorLight) 80%, var(--colorBackground)) 1rem, var(--colorBackground) 1rem, var(--colorBackground) 2rem);
	}
	&.isStarred {
		[data-action="star"] {
			svg {
				fill: var(--colorTooltip);
			}
		}
	}
}

.cmsItems {
	border-color: color-mix(in srgb, currentColor 30%, transparent);

	.cmsItemsTabs {
		align-items: center;
		background-color: color-mix(in srgb, currentColor 4%, transparent);
		border-bottom: 3px solid color-mix(in srgb, currentColor 10%, transparent);
		color: var(--colorText);
		display: flex;
		justify-content: flex-start;
		user-select: none;
		.dropdown {
			--dropdownMinWidth: 20rem;
			.dropdownAction {
				border-bottom: 3px solid color-mix(in srgb, currentColor 20%, transparent);
				border-right: 1px solid color-mix(in srgb, currentColor 20%, transparent);
				font-weight: var(--fontWeightMedium);
				margin-bottom: -3px;
				padding: calc(2 * var(--paddingButton));
				i {
					margin-right: var(--paddingButton);
				}
			}
			.dropdownOverlay {
				opacity: .5;
			}
			&.isCurrent {
				.dropdownAction {
					background-color: color-mix(in srgb, var(--colorFocus) 5%, transparent);
					border-bottom-color: var(--colorFocus);
				}
			}
		}
		> nav {
			align-items: center;
			display: flex;
			justify-content: flex-start;
			a {
				align-items: center;
				border-bottom: 3px solid color-mix(in srgb, currentColor 20%, transparent);
				border-right: 1px solid color-mix(in srgb, currentColor 20%, transparent);
				color: var(--colorText);
				display: flex;
				justify-content: center;
				margin-bottom: -3px;
				padding: calc(2 * var(--paddingButton)) calc(3 * var(--paddingButton));
				text-decoration: none;
				&.isCurrent {
					font-weight: var(--fontWeightMedium);
					background-color: color-mix(in srgb, var(--colorFocus) 5%, transparent);
					border-bottom: 3px solid var(--colorFocus);
					
				}
			}
			&.isRight {
				margin-left: auto;
				a {
					border-left: 1px solid color-mix(in srgb, currentColor 20%, transparent);
					border-right: none;
				}
			}
		}
		& + .cmsItems {
			border-top: none;
		}
	}

	.cmsItemsSearch {
		align-items: center;
		background-color: color-mix(in srgb, var(--colorFocus) 6%, transparent);
		border-bottom: 1px solid color-mix(in srgb, var(--colorFocus) 20%, transparent);
		display: none;
		justify-content: center;
		padding: calc(2 * var(--paddingButton)) calc(3 * var(--paddingButton));
		.input {
			max-width: 100%;
			width: 30rem;
		}
	}
	.cmsItemsSearchHelp {
		display: none;
	}
	.cmsItemsSearchEmpty,
	.cmsItemsSearchResults {
		display: none;
	}
	&.isSearching {
		.cmsItemsEmpty,
		.cmsItemsList {
			display: none;
		}
		.cmsItemsSearch, 
		.cmsItemsSearchHelp:not(.isHidden) {
			display: flex;
		}
		.cmsItemsSearchEmpty:not(.isHidden) {
			display: block;
		}
		.cmsItemsSearchResults {
			display: block;
			.cmsItem:last-child {
				border-bottom: none;
				border-radius: 0 0 var(--radius) var(--radius);
			}
		}
	}

	.cmsItem {
		border: none;
		border-bottom: 1px solid color-mix(in srgb, currentColor 20%, transparent);
		border-radius: 0;
	}

	.cmsItemsFooter {
		align-items: center;
		background-color: color-mix(in srgb, currentColor 4%, transparent);
		display: flex;
		justify-content: flex-start;
		padding: var(--paddingButton) calc(2 * var(--paddingButton));
		.count {
			color: var(--colorTextLight);
			padding: var(--paddingButton) calc(2 * var(--paddingButton));
		}
		.sorting {
			color: var(--colorTextLight);
			padding: var(--paddingButton) calc(2 * var(--paddingButton));
			.cmsItemsSortActions {
				display: none;
			}
			@media (pointer:coarse) {
				& {
					display: none;
				}
			}
		}
		.pagination {
			margin-left: auto;
		}
	}
	&.isSorting {
		.cmsItem {
			&.sortable-dragging {
				border: 1px solid color-mix(in srgb, currentColor 20%, transparent);
				box-shadow: var(--shadow);
			}
			.shortcuts {
				display: none;
			}
		}
		.sortable-placeholder {
			background-color: color-mix(in srgb, currentColor 4%, var(--colorBackground));
			border-bottom: 1px solid color-mix(in srgb, currentColor 20%, transparent);
		}
		.cmsItemsFooter {
			.sorting {
				[data-action="sort"] {
					display: none;
				}
				.cmsItemsSortActions {
					display: block;
				}
			}
		}
	}
	@container (max-width: 40rem) {
		& {
			.cmsItem {
				.shortcuts {
					display: none;
				}
			}
			.cmsItemsFooter {
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}
}

.cmsItemsSearchHelp {
	align-items: center;
	color: var(--colorTextLight);
	display: flex;
	flex-direction: column;
	font-size: var(--fontSizeH3);
	font-weight: var(--fontWeightLight);
	justify-content: center;
	padding: 4rem calc(4 * var(--paddingButton));
	text-align: center;
	i {
		font-size: var(--fontSizeH2);
	}
	p {
		max-width: 45rem;
	}
}

.cmsItemsEmpty,
.cmsItemsSearchEmpty {
	color: var(--colorTextLight);
	font-size: var(--fontSizeH3);
	font-weight: var(--fontWeightLight);
	padding: 4rem calc(4 * var(--paddingButton));
	text-align: center;
}


/**
 * Item details (sheet)
 */
.cmsItemDetails {
	.cmsItemPreview {
		border-radius: var(--radius) var(--radius) 0 0;
		background-color: var(--colorLight);
		overflow: hidden;
		&:has(img) {
			background-color: var(--colorBackground);
			background-image: linear-gradient(45deg, var(--colorLight) 25%, transparent 25%, transparent 75%, var(--colorLight) 75%, var(--colorLight)), linear-gradient(45deg, var(--colorLight) 25%, transparent 25%, transparent 75%, var(--colorLight) 75%, var(--colorLight));
			background-size: 20px 20px;
			background-position: 0 0, 10px 10px;
		}
		img {
			display: block;
			height: auto;
			margin: 0 auto;
			max-height: 40rem;
			max-width: 100%;
			width: auto;
		}
		iframe {
			border: 0;
			display: block;
			height: 40rem;
			padding: 1px;
			width: 100%;
		}
		& + .cmsItemFieldset {
			margin-top: 0;
		}
	}
	.cmsItemFieldset {
		container-type: inline-size;
		margin: calc(var(--paddingButton) * 2) 0 calc(var(--paddingButton) * 4) 0;
		h4 {
			background-color: color-mix(in srgb, var(--colorTooltip) 6%, transparent);
			border-top: 1px solid var(--colorBorder);
			box-shadow: inset 0 -.0625em .125em color-mix(in srgb, var(--colorTooltip) 40%, transparent);
			color: var(--colorText);
			padding: calc(2 * var(--paddingButton)) calc(3 * var(--paddingButton));
			margin: 0 0 calc(2 * var(--paddingButton)) 0;
			.button, .dropdown {
				margin: calc(-1 * var(--paddingButton)) calc(2 * var(--paddingButton));
			}
			[data-action="open"] {
				display: none;
			}
		}
		&:first-child {
			margin-top: 0;
			h4 {
				border-radius: var(--radius) var(--radius) 0 0;
				border-top: none;
				margin-top: 0;
			}
		}
		&.isClosed {
			margin-bottom: 0;
			h4 {
				border-bottom: 1px solid var(--colorBorder);
				box-shadow: none;
				margin-bottom: 0;
				background: repeating-linear-gradient(45deg, color-mix(in srgb, var(--colorTooltip) 6%, var(--colorBackground)), color-mix(in srgb, var(--colorTooltip) 6%, var(--colorBackground)) 1rem, var(--colorBackground) 1rem, var(--colorBackground) 2rem);
				[data-action="open"] {
					display: inline-flex;
				}
			}
			.cmsItemField {
				display: none;
			}
			+ .formActions {
				border-top: none;
				margin-top: 0;
				&::before {
					display: none;
				}
			}
		}
		@container (max-width: 40rem) {
			& {
				.cmsItemField {
					display: block;
					.cmsItemFieldLabel {
						padding-bottom: .1rem;
						text-align: left;
					}
					.cmsItemFieldValue {
						padding-right: 0;
						width: 100%;
					}
				}
			}
		}
	}
	.cmsItemField {
		border-bottom: 1px solid color-mix(in srgb, currentColor 6%, var(--colorBackground));
		display: flex;
		gap: calc(var(--paddingButton) * 4);
		margin: 0;
		padding: var(--paddingButton) calc(3 * var(--paddingButton));
		&:last-child, &.isLast {
			border-bottom: none;
		}
		.cmsItemFieldLabel {
			flex-grow: 0;
			flex-shrink: 0;
			font-weight: var(--fontWeightMedium);
			max-width: 100%;
			text-align: right;
			width: clamp(16rem, 25%, 32rem);
		}
		.cmsItemFieldValue {
			flex-grow: 0;
			flex-shrink: 0;
			max-width: 100%;
			padding-right: calc(6 * var(--paddingButton));
			width: calc(100% - (var(--paddingButton) * 2) - clamp(16rem, 25%, 32rem));
			small {
				color: var(--colorTextLight);
				font-size: var(--fontSize);
			}
			iframe, .wysiwyg {
				background-color: color-mix(in srgb, currentColor 4%, var(--colorBackground));
				border-radius: var(--radius);
				border: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
				max-height: 300px;
				max-width: 100%;
				overflow-x: hidden;
				overflow-y: auto;
				overflow: hidden;
				padding: calc(2 * var(--paddingButton));
				* {
					max-width: 100%;
				}
				h1, h2, h3 {
					&:first-child {
						margin-top: 0;
					}
				}
			}
			iframe {
				height: 300px;
				width: 100%;
			}
			.code {
				display: flex;
				gap: calc(2 * var(--paddingButton));
				code, pre {
					background-color: color-mix(in srgb, currentColor 4%, var(--colorBackground));
					border-radius: var(--radius);
					border: 1px solid color-mix(in srgb, currentColor 20%, var(--colorBackground));
					max-height: 60vh;
					overflow: auto;
					padding: calc(2 * var(--paddingButton));
				}
				code {
					display: block;
					padding: var(--paddingButton) calc(2 * var(--paddingButton));
				}
			}
			.color {
				display: flex; 
				.colorPreview {
					box-shadow: 0 0 .25em var(--colorBorder);
					border-radius: var(--radius);
					margin-right: .5em;
					width: 2em;
				}
			}
			.icon {
				border-style: none;
				color: var(--colorTextLight);
				display: inline-block;
				margin: 0 .25em;
				padding: 0 .15em;
				text-decoration: none;
				&[href] {
					color: var(--colorBrand);
					@media(hover: hover) and (pointer: fine) {
						&:hover {
							color: var(--colorBrand);
						}
					}
				}
			}
			a.pico-cdn-item {
				border-radius: var(--radius);
				border: 1px solid var(--colorBorder);
				color: var(--colorText);
				display: flex;
				margin-bottom: .25em;
				text-decoration: none;
				@media(hover: hover) and (pointer: fine) {
					&:hover {
						background-color: color-opacity(--colorFocus, .1);
						border-color: var(--colorFocus);
						color: var(--colorText);
					}
				}
				.pico-cdn-item-preview {
					align-items: center;
					background-color: var(--colorLight);
					border-radius: var(--radius) 0 0 var(--radius);
					display: flex;
					flex-grow: 0;
					flex-shrink: 0;
					justify-content: center;
					overflow: hidden;
					width: 3rem;
					i {
						font-size: 1.2em;
					}
					img {
						display: block;
						height: 100%;
						width: 100%;
					}
				}
				.pico-cdn-item-text {
					max-width: calc(100% - 3rem);
					padding: .4em .5rem;
					small, strong {
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					strong {
						font-weight: var(--fontWeight);
					}
					small {
						color: var(--colorTextLight);
					}
				}
			}
		}
	}
}


/**
 * Model template display
 */
.templateItem {
	flex: 0 1 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	.thumbnail {
		align-items: center;
		background-color: var(--colorBackground);
		border-radius: var(--radius);
		border: 1px solid color-mix(in srgb, currentColor 4%, transparent);
		display: inline-flex;
		float: left;
		height: 3em;
		justify-content: center;
		margin-right: 0.5em;
		overflow: hidden;
		text-align: center;
		width: 3em;
		img {
			display: block;
			height: 100%;
			margin: 0 auto;
			&.icon {
				height: var(--fontSizeH2);
			}
		}
		i {
			font-size: var(--fontSizeH2);
		}
	}
	small {
		font-size: var(--fontSize);
		&:not(.isBrand, .isError, .isDelete, .isLight, .isSuccess, .isCreate, .isUpdated, .isUpdate, .isWarning, .isWarn) {
			color: var(--colorTextLight);
		}
	}
	.inputElementsItem & {
		small:first-child {
			display: block;
		}
	}
}


/**
 * CDN Browser
 */
.cdnBrowser {
	.cdnBrowserSearchResults {
		&.isLoading {
			align-items: center;
			display: flex;
			height: 4rem;
			justify-content: center;
			&::before {
				@extend .dripicons;
				animation: rotate 1.2s linear infinite both;
				content: "\e007";
				display: block;
			}
			.cmsItems {
				display: none;
			}
		}
	}
	.cmsItems {
		.modal & {
			margin: var(--paddingModal) calc(-1 * var(--paddingModal));
		}	
	}
}


/**
 * Forms
 */
.formField {
	.formFieldLabel {
		label {
			text-align: left;
		}
	}
}


/**
 * Tooltips
 */
[data-tooltip]:not(.isDisabled) {
	&::after {
		display: none;
		opacity: 1;
	}
	&:hover {
		&::after {
			display: block;
		}
	}
}


/**
 * Modals
 */
#templateItemZoom {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: calc(-1 * var(--paddingModal));
	border-radius: 0 0 var(--radius) var(--radius);
	img {
		display: bock;
		max-height: 100%;
		max-width: 100%;
	}
}