.tag.status_open {
	background-color: var(--colorSuccess);
	color: var(--colorTextButton);
}
.tag.status_closed {
	background-color: var(--colorWarning);
	color: var(--colorTextButton);
}
.bugaction {
	margin: 1rem 0 2rem 0;
	a {
		text-decoration: none;
		span {
			border-bottom: 1px solid cop(--colorBrand, .3);
		}
		&:hover {
			span {
				border-color: cop(--colorBrand, 1);
			}
		}
	}
}
.bugreport {
	border-radius: var(--radius);
	border: 1px solid var(--colorBorder);
	margin: 1rem 0;
	overflow: hidden;
	.metadata {
		background-color: var(--colorLight);
		color: var(--colorTextLight);
		display: flex;
		padding: .5rem 1rem;
		strong {
			color: var(--colorText);
			padding-right: .4rem;
		}
		span.id {
			color: var(--colorLight);
			margin-left: auto;
		}
		&:hover {
			span.id {
				color: var(--colorTextLight);
			}
		}
	}
	.message {
		min-height: calc(var(--lineHeightEm) * 3 + 1rem);
		padding: .5rem 1rem;
	}
	.attachments {
		display: flex;
		flex-wrap: wrap;
		padding: .5rem 1rem;
		a.pico-cdn-item {
			border-radius: var(--radius);
			border: 1px solid var(--colorBorder);
			color: var(--colorText);
			display: flex;
			margin: .25em 1rem .25em 0;
			text-decoration: none;
			&:hover {
				background-color: color-opacity(--colorFocus, .1);
				border-color: var(--colorFocus);
				color: var(--colorText);
			}
			.pico-cdn-item-preview {
				align-items: center;
				background-color: var(--colorLight);
				border-radius: var(--radius) 0 0 var(--radius);
				display: flex;
				flex-grow: 0;
				flex-shrink: 0;
				justify-content: center;
				overflow: hidden;
				width: 3rem;
				i {
					font-size: 1.2em;
				}
				img {
					display: block;
					height: 100%;
					width: 100%;
				}
			}
			.pico-cdn-item-text {
				max-width: calc(100% - 3rem);
				padding: .4em .5rem;
				small, strong {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				strong {
					font-weight: var(--fontWeight);
				}
				small {
					color: var(--colorTextLight);
				}
			}
		}
	}
	.pico-form {
		margin: 0;
		padding: .5rem 1rem;
		.pico-form-actions {
			box-shadow: none;
			border-bottom: none;
			bottom: auto;
			position: relative;
			margin: 1rem -1rem -.5rem -1rem;
		}
	}
	&.new {
		border-color: cop(--colorSuccess, .6);
		margin-top: 3em;
		.metadata {
			background-color: cop(--colorSuccess, .1);
			strong {
				padding-left: .4rem;
			}
		}
		.pico-form .pico-form-actions {
			background-color: cop(--colorSuccess, .1);
			border-color: cop(--colorSuccess, .6);
		}
	}
}
.bugstatus {
	margin: 1rem;
	border-left: 2px solid var(--colorLight);
	color: var(--colorTextLight);
	padding-left: 1rem;
	i {
		margin-right: .5rem;
	}
	&.status_closed {
		border-color: var(--colorWarning);
		color: var(--colorWarning);
	}
	&.status_open {
		border-color: var(--colorSuccess);
		color: var(--colorSuccess);
	}
}