/* Plugin: cdn */
#cdn-legend-modal {
	#cdn-legend-modal-close {
		display: block;
		float: right;
	}
	h3 {
		font-size: 1.2em;
		margin-top: 0;
	}
	textarea {
		max-height: 4.5em;
	}
	.pico-form-actions {
		margin-bottom: 0em;
	}
}
#cdn-link-modal {
	.content {
		padding-bottom: 2rem;
		#cdn-link-modal-item {
			display: block;
			font-family: var(--fontFamilyMonospace);
			margin: calc(2 * var(--paddingButton)) 0;
			text-decoration: none;
			&:before {
				@extend .dripicons;
				content: "\5b";
				padding-right: .5rem;
			}
		}
	}
}
