:root {
	--colorBackground: #ffffff;
	--colorBorder: #DEDDDA;
	--colorBrand: #00afe8;
	--colorCmsCore: #1abc9c;
	--colorCmsExit: #FFA348;
	--colorCmsPlugin: #9141AC;
	--colorError: #ED333B;
	--colorFocus: #00afe8;
	--colorLight: #F6F5F4;
	--colorSidebar: #F6F5F4;
	--colorStar: #f1c40f;
	--colorSuccess: #33D17A;
	--colorText: #241F31;
	--colorTextButton: #ffffff;
	--colorTextLight: #9A9996;
	--colorUpdated: #1C71D8;
	--colorWarning: #FFA348;
	--fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Roboto, Helvetica, Arial, sans-serif;
	--fontSize: 14px;
	--fontSizeH1: 1.8rem;
	--fontSizeH2: 1.5rem;
	--fontSizeH3: 1.15rem;
	--fontSizeSmall: .85em;		
	--fontWeight: 400;
	--fontWeightBold: 700;
	--fontWeightLight: 300;
	--interfaceWidth: 1200px;
	--lineHeight: 1.5;
	--lineHeightEm: 1.5em;
	--radius: 2px;
	--transitionParams: .2s ease-in-out;

	/* docsify aliases */
	--theme-color: var(--colorBrand);
}
html {
	font-size: var(--fontSize);
}
body {
	font-family: var(--fontFamily);
}
.markdown-section h1 {
	font-size: var(--fontSizeH1);
}
.markdown-section h2 {
	font-size: var(--fontSizeH2);
}
.markdown-section h3 {
	font-size: var(--fontSizeH3);
}
.markdown-section hr {
	margin: 4rem 0;
}
.sidebar {
	background-color: var(--colorSidebar);
	border: 0;
	color: var(--colorText);
	font-size: var(--fontSizeH3);
	padding: 1rem;
	width: 25rem;
}
	body.close .sidebar {
		transform: translateX(-25rem);
	}
	@media screen and (max-width: 768px) {
		.sidebar {
			left: -25rem;
		}
		body.close .sidebar-toggle {
			background-color: transparent;
		}
		body.close .content {
			transform: translateX(25rem);
		}
	}
	.sidebar .search {
		background-color: var(--colorSidebar);
		border-bottom: 1px solid var(--colorBorder);
		box-shadow: 0px -1rem 2rem var(--colorSidebar);
		font-size: var(--fontSizeH3);
		margin: 0 -1rem 2rem -1rem;
		padding: 1rem;
	}
		.sidebar .search input {
			background-color: var(--colorSidebar);
			border-color: var(--colorSidebar);
			box-shadow: none;
			font-family: var(--fontFamily);
			font-size: 1em;
			line-height: calc(var(--lineHeightEm) - .2em);
			margin: 0 .5em;
			padding: .5em;
		}
			.sidebar .search input:focus {
				background-color: var(--colorBackground);
				border-color: var(--colorFocus);
				box-shadow: inset 0px 0px 1px var(--colorFocus); 
				color: var(--colorText);
			}
			.sidebar .search input::placeholder {
				color: var(--colorTextLight);
				opacity: 1;
			}
		.sidebar .search .clear-button svg {
			transform: scale(1);
		}
		.sidebar .search .results-panel {
			margin: .5rem;
		}
			.sidebar .search .results-panel .matching-post {
				border-bottom: 1px solid var(--colorBorder);
				padding: 1rem .5rem;
			}
				.sidebar .search .results-panel .matching-post:last-child {
					border-bottom: none;
				} 
				.sidebar .search .results-panel .matching-post h2 {
					font-size: 1rem;
					margin: 0;
				}
				.sidebar .search .results-panel .matching-post p {
					font-size: var(--fontSizeSmall);
					margin: 0;
				}
	.sidebar > h1 {
	}
		.sidebar > h1 a {
		}
		.sidebar > h1 img {
			border-radius: var(--radius);
			display: block;
			font-size: 1.2em;
			height: 1.8em;
			margin: 1rem 1rem 2rem 1rem;
			width: 1.8em;
		}
	.sidebar ul {
		margin: 0;
		padding: 0 1rem;
	}
		.sidebar ul li {
			color: var(--colorTextLight);
			font-size: var(--fontSizeSmall);
			margin: 0 0 2rem 0;
		}
			.sidebar ul li a {
				color: var(--colorText);
				font-size: var(--fontSizeH3);
			}
				.sidebar ul li a:hover {
					color: var(--colorBrand);
					text-decoration: none;
				}
				.sidebar ul li.active > a {
					border-right: 0;
					color: var(--colorBrand);
				}
			.sidebar ul li ul {
			}
				.sidebar ul li ul li {
					margin: 0;
				}
		.sidebar ul.app-sub-sidebar {
			margin-left: 1rem;
		}	
			.sidebar ul.app-sub-sidebar li::before {
				display: none;
			}
			.sidebar ul.app-sub-sidebar li a {
				color: var(--colorTextLight);
				/*font-size: 1rem;*/
			}
			.sidebar ul.app-sub-sidebar li.active a {
				color: var(--colorBrand);
			}
.sidebar-toggle {
	background-color: transparent;
	width: 25rem;
}
	.sidebar-toggle .sidebar-toggle-button {
		margin: 0 .5rem 0 auto;
		width: 1rem;
	}
.content {
	padding-top: 2rem;
	left: 25rem;
}
	.content .markdown-section {
		padding: 2rem 4rem;
		max-width: 900px;
		margin: 0;
		width: auto;
	}


/* Footnote plugin */
sup.footnote-symbol {
	padding-right: .3em;
}
img[src="https://github.githubassets.com/images/icons/emoji/leftwards_arrow_with_hook.png"] {
	display: none;
}