{# 
	Tracking stuff conditional to prealable cookies approval, 
	must be set here:
	* scripts with type "text/plain" and data-gdpr attribute
	* iframes with "data-src" instead of "src" and data-gdpr attribute

	Examples :

	<script type="text/{{ _pico.gdprConsent>1 ? 'javascript' : 'plain' }}" data-gdpr="1">
		// Tracking code
	</script>

	<iframe {{ _pico.gdprConsent>1 ? 'src' : 'data-src' }}="https://micromegas.me" data-gdpr="1"></iframe>


	Pico views reference:
	_pico.gdpr = 0* = no GDPR consent given (* = or anything interpreted as false)
	_pico.gdpr = 1  = cookies refused
	_pico.gdpr = 2  = cookies accepted
#}
