{% set css = ['pico', 'dripicons', 'app', 'responsive', 'fonts']|merge(css|default([])) %}
{% set js = ['superembed.min']|merge(js|default([])) %}
{% extends '_skeleton.twig' %}

{% block body %}


	<header>
		<a href="{{ ':'|href }}" class="brand">{{ 'APP.TITLE'|i18n }}</a>
		<nav>
			{% for item in _pages.main %}
				{% if item.type=="redirect" %}
					<a href="{{ item.redirect }}" {% if item.redirect is external %}target="blank"{% endif %} title="{{ item.metaTitle }}">
				{% else %}
					<a href="{{ (':'~item.uri)|href }}" title="{{ item.metaTitle }}" class="{% if item.id==_page.id or item.id==_page.parent %}current{% endif %}">
				{% endif %}
					{{ item.name }}
				</a>
			{% endfor %}
		</nav>
	</header>
	

	<section class="content">

		{% block pageChildren %}
			{% set pageChildren = _pages.main[_page.parent|default(_page.id)]['_children'] %}
			{% if pageChildren %}
				<nav>
					{% for child in pageChildren %}
						<a href="{{ (':'~child.uri)|href }}" class="{% if child.id==_page.id %}current{% endif %}">
							{{ child.name }}
						</a>
					{% endfor %}
				</nav>
			{% endif %}
		{% endblock %}

		{% block pageContent %}
			{% if _page.type=='blocks' %}
				{{ _page.blocks|blocks }}
			{% elseif _page.type=='content' %}
				{{ _page.content|wysiwyg }}
			{% endif %}
		{% endblock %}

		{% if _widgets.contactForm %}
			{% include 'page.contactForm.twig' %}
		{% endif %}

		{% if _widgets.gdpr and _pico.gdpr %}
			<a href="#" class="button" rel="gdprBox">{{ 'APP.ACTION_GDPR_BOX'|i18n }}</a>
		{% endif %}
		
	</section>


	<footer>
		<div class="copyright">&copy; {{ _pico.now|date('Y') }}</div>
		<nav>
			{% for item in _pages.footer %}
				<a {% if item.type=="redirect" %}href="{{ item.redirect }}" target="blank"{% else %}href="{{ (':'~item.uri)|href }}"{% endif %} title="{{ item.metaTitle }}" class="{% if item.id==_page.id or item.id==_page.parent %}current{% endif %}">
					{{ item.name }}
				</a>
			{% endfor %}
		</nav>
	</footer>
	

{% endblock %}