{% extends 'page.twig' %}


{% block pageChildren %}
	{% if tags %}
		<nav>
			{% for item in tags %}
				<a href="{{ ('-tag/'~item.uri)|href }}" class="{% if _tag.id==item.id %}current{% endif %}">
					#{{ item.name }}
				</a><br>
			{% endfor %}
		</nav>
	{% endif %}
{% endblock %}


{% block pageContent %}

	{% if post %}

		<h1>Single post page</h1>
		{{ post|debug }}

	{% else %}

		<h1>All posts listing</h1>
		{{ posts|debug }}

		{% if pagination and pagination.pcount>1 %}
			<div class="pagination">
				{% if pagination.pnumber>1 %}
					<a class="prev" href="{{ ('#page='~(pagination.pnumber-1))|href }}">
						<i class="dripicons-arrow-thin-left"></i>
						Previous page
					</a>
				{% endif %}
				{% if pagination.pnumber<pagination.pcount %}
					<a class="next" href="{{ ('#page='~(pagination.pnumber+1))|href }}">
						<i class="dripicons-arrow-thin-right"></i>
						Next page
					</a>
				{% endif %}
			</div>
		{% endif %}

	{% endif %}

{% endblock %}