<div class="contactForm {% if _widgets.contactForm.form %}form{% elseif _widgets.contactForm.formSuccess %}success{% else %}error{% endif %}">
	{% if _widgets.contactForm.form %}
		<h2>
			{{ 'APP.TITLE_CONTACTFORM'|i18n }}
		</h2>
		{{ _widgets.contactForm.form|raw }}
	{% elseif _widgets.contactForm.formSuccess %}
		<h3>
			{{ 'APP.MESSAGE_CONTACTFORM_SUCCESS'|i18n }}
		</h3>
	{% else %}
		<h3>
			{{ 'APP.MESSAGE_ERROR'|i18n }}
		</h3>
	{% endif %}
</div>	