{% extends 'page.twig' %}

{% block pageContent %}
	

	<h1>{{ 'APP.TITLE_SUBSCRIPTION'|i18n }}</h1>

	{% if unsubscribed is defined %}

		{% if unsubscribed %}
			<p class="colSuccess">
				<i class="dripicons-checkmark"></i> 
				{{ 'APP.MESSAGE_SUBSCRIPTION_UNSUBSCRIBED'|i18n }}
			</p>
			<br />
		{% else %}
			<p class="colError">
				<i class="dripicons-warning"></i> 
				{{ 'APP.MESSAGE_SUBSCRIPTION_ERROR'|i18n }}
			</p>
			<br />
		{% endif %}

		<a href="{{ ':'|href }}" class="button small">{{ 'PICO.ACTION_HOME'|i18n }}</a>

	{% else %}

		{% if form %}
			<p>{{ 'APP.MESSAGE_SUBSCRIPTION_FORM'|i18n }}</p>
			{{ form|raw }}

		{% elseif subscription %}
			<p class="colSuccess">
				<i class="dripicons-checkmark"></i> 
				{{ 'APP.MESSAGE_SUBSCRIPTION_SUCCESS'|i18n }}
			</p>
			<br />

		{% elseif unsubscription %}
			<p class="colUpdate">
				<i class="dripicons-info"></i> 
				{{ 'APP.MESSAGE_SUBSCRIPTION_UNSUBSCRIPTION'|i18n }}
			</p>
			<br />

		{% elseif not_subscribed %}
			<p class="colError">
				<i class="dripicons-warning"></i> 
				{{ 'APP.MESSAGE_SUBSCRIPTION_NOT_SUBSCRIBED'|i18n(not_subscribed) }}
			</p>
			<br />

		{% else %}
			<p class="colError">
				<i class="dripicons-warning"></i> 
				{{ 'APP.MESSAGE_SUBSCRIPTION_ERROR'|i18n }}
			</p>
			<br />

		{% endif %}

	{% endif %}


{% endblock %}