<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% set _styles = {
	'alignButton':		'center',
	'alignText':		'left',
	'alignTitle':		'left',
	'colorBackground': 	'#F6F5F4',
	'colorBorder':		'#DEDDDA',
	'colorBrand': 		'#00afe8',
	'colorBrandText': 	'#ffffff',
	'colorLink': 		'#00afe8',
	'colorText': 		'#241F31',
	'colorTextLight':	'#718096',
	'fontFamily': 		'-apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Roboto, Helvetica, Arial, sans-serif',
	'fontSize': 		'16px',
	'fontSizeTitle': 	'28px',
	'radius':			'4px',
	'radiusIcon':		'16px',
}|merge(_styles|default({})) %}

{% macro button(href, text = '',  _styles = {}) %}
	<table class="btn" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: {{ _styles.radius }}; border-collapse: separate !important; font-weight: 700 !important; {% if _styles.alignButton=='center' %}margin: 0 auto;{% elseif _styles.alignButton=='right' %}margin-left: auto;{% endif %}">
		<tbody>
			<tr>
				<td style="line-height: {{ _styles.fontSize|number_format * 1.5 }}px; font-size: {{ _styles.fontSize }}; border-radius: {{ _styles.radius }}; font-weight: 700 !important; margin: 0;" align="center" bgcolor="{{ _styles.colorBrand }}">
					<a href="{{ href|href }}" style="color: {{ _styles.colorBrandText }}; font-size: {{ _styles.fontSize }}; font-family: {{ _styles.fontFamily }}; text-decoration: none; border-radius: {{ _styles.radius }}; line-height: {{ _styles.fontSize|number_format * 1.2 }}px; display: block; font-weight: 700 !important; white-space: nowrap; background-color: {{ _styles.colorBrand }}; padding: 8px 12px; border: 1px solid {{ _styles.colorBrand }};">
						{{ text|raw ?: href|href|urlDomain }}
					</a>
				</td>
			</tr>
		</tbody>
	</table>
{% endmacro %}

{% macro footer(text, _styles = {}) %}
	<div class="" style="color: {{ _styles.colorTextLight }};" align="center">
		{{ text|raw }}
	</div>
{% endmacro %}

{% macro model(fields, values, displayFields = true, _styles = {}) %}
	{% if displayFields is not iterable %}
		{% set displayFields = fields|keys %}
	{% endif %}
	<table class="w-full" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
		<tbody>
			{% for fn in displayFields %}
				{% set fdata = fields[fn] %}
				{% if values[fn]!='' %}
					<tr style="border-bottom: 1px solid {{ _styles.colorBorder }};">
						<td style="color: {{ _styles.colorTextLight }}; line-height: {{ _styles.fontSize|number_format * 1.5 }}px; font-size: {{ _styles.fontSize }}; width: 40%; margin: 0; padding: 8px 8px 8px 0px;" align="left" width="50%">
							{{ fdata.text }}
						</td>
						<td style="line-height: {{ _styles.fontSize|number_format * 1.5 }}px; font-size: {{ _styles.fontSize }}; width: 100%; margin: 0; padding: 8px 0px 8px 8px;" align="left" width="100%">
							{% if fdata.options %}
								{% if fdata.multiple %}
									{% for foo in values[fn]|split(',') %}
										{{ fdata.options[foo] }}{% if not loop.last %}, {% endif %}
									{% endfor %}
								{% else %}
									{{ fdata.options[values[fn]] }}
								{% endif %}
							{% elseif fdata.type=='cdn' %}
								{% for item in values[fn]|cdnJoin %}
									<a href="{{ item|cdn }}" target="_blank">{{ item.name }}</a>{% if not loop.last %}, {% endif %}
								{% endfor %}
							{% elseif fdata.type=='code' %}
								<code>{{ values[fn]|slice(0,100) }}{% if values[fn]|length>100 %}...{% endif %}</code>
							{% elseif fdata.type=='color' %}
								<span style="border: 1px solid {{ _styles.colorBorder }}; border-radius: {{ _styles.radius }};  background-color:{{ item[field] }}; display:inline-block; line-height:{{ _styles.fontSize }}; height:{{ _styles.fontSize }}; font-size:{{ _styles.fontSize }};"></span>
								{{ values[fn] }}
							{% elseif fdata.type=='date' %}
								{{ values[fn]|dateI18n }}
							{% elseif fdata.type in ['datetime', 'timestamp'] %}
								{{ values[fn]|dateI18n('time') }}
							{% elseif fdata.type=='html' %}
								{{ values[fn]|striptags }}
							{% else %}
								{{ values[fn]|nl2br }}
							{% endif %}
							{% if fdata['unit'] %}
								{{ ('PICO.LABEL_UNIT_'~fdata['unit'])|i18n }}
							{% endif %}
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}

{% macro link(href, text = '', color = 'colorLink', _styles = {}) %}
	<a href="{{ href|href }}" style="color: {{ _styles[color] }}; font-size: {{ _styles.fontSize }}; font-family: {{ _styles.fontFamily }}; text-decoration: underline;">
		{{ text|raw ?: href|href|urlDomain }}
	</a>
{% endmacro %}

{% macro p(text, _styles = {}) %}
	<p class="" style="line-height: {{ _styles.fontSize|number_format * 1.5 }}px; font-size: {{ _styles.fontSize }}; width: 100%; margin: 0; text-align: {{ _styles.alignText }};" align="{{ _styles.alignText }}">
		{{ text|raw }}
	</p>
{% endmacro %}

{% macro separator(size='big', _styles = {}) %}
	{% set separatorSizes = {
		'small': _styles.fontSize,
		'medium': '24px',
		'large': '40px'
	} %}
	<table class="separator-{{ size }} w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
		<tbody>
			<tr>
				<td style="line-height: {{ separatorSizes[size] }}; font-size: {{ separatorSizes[size] }}; width: 100%; height: {{ separatorSizes[size] }}; margin: 0;" align="left" width="100%" height="40">
					&#160;
				</td>
			</tr>
		</tbody>
	</table>
{% endmacro %}

{% macro small(text, _styles = {}) %}
	<p class="" style="color: {{ _styles.colorTextLight }}; line-height: {{ _styles.fontSize|number_format * 1.2 }}px; font-size: {{ _styles.fontSize|number_format * 0.9 }}px; width: 100%; margin: 0; text-align: {{ _styles.alignText }};" align="{{ _styles.alignText }}">
		{{ text|raw }}
	</p>
{% endmacro %}

{% macro title(text, _styles = {}) %}
	<h1 class="" style="padding-top: 0; padding-bottom: 0; font-weight: 700 !important; vertical-align: baseline; font-size: {{ _styles.fontSizeTitle }}; line-height: {{ _styles.fontSizeTitle|number_format * 1.5 }}px; margin: 0; text-align: {{ _styles.alignTitle }};" align="{{ _styles.alignTitle }}">
		{{ text|raw }}
	</h1>
{% endmacro %}

<html>
	<head>
		<title>{{ subject }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="x-apple-disable-message-reformatting">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
		<style type="text/css">
			body,table,td { 
				font-family: {{ _styles.fontFamily }} !important 
			}
			.ExternalClass {
				width:100%
			}
			.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { 
				line-height: 150%; 
			}
			a { 
				text-decoration:none; 
			}
			* { 
				color:inherit; 
			}
			a[x-apple-data-detectors], u+#body a, #MessageViewBody a {
				color:inherit;text-decoration:none;font-size:inherit;font-family:inherit;font-weight:inherit;line-height:inherit;
			}
			h1, h2, h3 {
				font-size: {{ _styles.fontSizeTitle }}; 
				font-weight: 700 !important; 
				line-height: {{ _styles.fontSizeTitle|number_format * 1.5 }}px; 
				margin: 0; 
				padding-bottom: 0; 
				padding-top: 0; 
				text-align: {{ _styles.alignTitle }};
				vertical-align: baseline; 
			}
			h2 {
				font-size: calc({{ _styles.fontSizeTitle }} * .85); 
			}
			h3 {
				font-size: calc({{ _styles.fontSizeTitle }} * .75); 
			}
			img { 
				-ms-interpolation-mode:bicubic; 
			}
			p {
				font-size: {{ _styles.fontSize }}; 
				line-height: {{ _styles.fontSize|number_format * 1.5 }}px; 
				margin: 1rem 0; 
				text-align: {{ _styles.alignText }};
				width: 100%; 
			}
			table:not([class^=s-]) { 
				font-family:{{ _styles.fontFamily }};
				mso-table-lspace:0pt;
				mso-table-rspace:0pt;
				border-spacing:0px;
				border-collapse:collapse
			} 
			table:not([class^=s-]) td { 
				border-spacing:0px;
				border-collapse:collapse;
			}
			@media screen and (max-width: 600px){
				.w-full, .w-full>tbody>tr>td { 
					width:100% !important;
				} 
				.w-24, .w-24>tbody>tr>td { 
					width:96px !important;
				} 
				.w-40, .w-40>tbody>tr>td { 
					width:160px !important;
				}
				.p-lg-10:not(table), .p-lg-10:not(.btn)>tbody>tr>td, .p-lg-10.btn td a {
					padding:0 !important;
				}
				.p-3:not(table), .p-3:not(.btn)>tbody>tr>td, .p-3.btn td a {
					padding:12px !important;
				}
				.p-6:not(table), .p-6:not(.btn)>tbody>tr>td,.p-6.btn td a { 
					padding:24px !important;
				}
				*[class*=s-lg-]>tbody>tr>td { 
					font-size:0 !important;
					line-height:0 !important;
					height:0 !important; 
				} 
				.separator-small>tbody>tr>td { 
					font-size:{{ _styles.fontSize }} !important;
					line-height:{{ _styles.fontSize }} !important;
					height:{{ _styles.fontSize }} !important;
				}
				.separator-medium>tbody>tr>td { 
					font-size:24px !important;
					line-height:24px !important;
					height:24px !important;
				}
				.separator-big>tbody>tr>td { 
					font-size:40px !important;
					line-height:40px !important;
					height:40px !important;
				}
			}
		</style>
	</head>
	<body class="" style="outline: 0; width: 100%; min-width: 100%; height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: {{ _styles.fontFamily }}; line-height: {{ _styles.fontSize|number_format * 1.5 }}px; font-weight: normal; font-size: {{ _styles.fontSize }}; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: {{ _styles.colorText }}; margin: 0; padding: 0; border-width: 0;" bgcolor="{{ _styles.colorBackground }}">
		{% block top %}{% endblock %}
		<table class="" valign="top" role="presentation" border="0" cellpadding="0" cellspacing="0" style="outline: 0; width: 100%; min-width: 100%; height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: {{ _styles.fontFamily }}; line-height: {{ _styles.fontSize|number_format * 1.5 }}px; font-weight: normal; font-size: {{ _styles.fontSize }}; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: {{ _styles.colorText }}; margin: 0; padding: 0; border-width: 0;" bgcolor="{{ _styles.colorBackground }}">
			<tbody>
				<tr>
					<td valign="top" style="line-height: {{ _styles.fontSize|number_format * 1.5 }}px; font-size: {{ _styles.fontSize }}; margin: 0;" align="left" bgcolor="{{ _styles.colorBackground }}">
						<table class="" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td align="center" style="line-height: {{ _styles.fontSize|number_format * 1.5 }}px; font-size: {{ _styles.fontSize }}; margin: 0; padding: 0 {{ _styles.fontSize }};">
										<!--[if (gte mso 9)|(IE)]>
											<table align="center" role="presentation">
												<tbody>
													<tr>
														<td width="600">
										<![endif]-->
										<table align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; margin: 0 auto;">
											<tbody>
												<tr>
													<td style="line-height: {{ _styles.fontSize|number_format * 1.5 }}px; font-size: {{ _styles.fontSize }}; margin: 0;" align="left">
														{{ _self.separator('big', _styles) }}
														{% block logo %}
															<table class="" role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
																<tbody>
																	<tr>
																		<td style="line-height: {{ _styles.fontSize|number_format * 1.5 }}px; font-size: {{ _styles.fontSize }}; margin: 0;" align="left">
																			<a href="{{ ':'|href }}" style="font-size: {{ _styles.fontSize }}; font-family: {{ _styles.fontFamily }}; text-decoration: none; border-radius: {{ _styles.radius }}; line-height: {{ _styles.fontSize|number_format * 1.2 }}px; display: block; white-space: nowrap; border: 0;">
																				<img class="w-24" src="{{ ';apple-touch-icon.png'|href }}" style="border-radius: {{ _styles.radiusIcon }}; height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; width: 96px; border-style: none; border-width: 0;" width="96" alt="logo">
																			</a>
																		</td>
																	</tr>
																</tbody>
															</table>
														{% endblock %}
														{{ _self.separator('big', _styles) }}
														<table class="p-6 p-lg-10" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: {{ _styles.radius }}; border-collapse: separate !important; width: 100%; overflow: hidden; border: 1px solid {{ _styles.colorBorder }};" bgcolor="#ffffff">
															<tbody>
																<tr>
																	<td style="line-height: {{ _styles.fontSizeTitle|number_format * 1.5 }}px; font-size: {{ _styles.fontSizeTitle }}; width: 100%; margin: 0; padding: 40px;" align="left" bgcolor="#ffffff">
																		{% block body %}	
																			{{ _self.title(subject, _styles) }}
																			{{ _self.separator('small', _styles) }}
																			{{ _self.p(content, _styles) }}
																			{% if signature %}
																				{{ _self.separator('small', _styles) }}
																				{{ _self.p(signature, _styles) }}
																			{% endif %}
																			{{ _self.separator('small', _styles) }}
																			{% if actionUrl %}
																				{{ _self.button(actionUrl, actionText ?: false, _styles) }}
																			{% endif %}
																		{% endblock %}
																	</td>
																</tr>
															</tbody>
														</table>
														{% block footer %}
															{{ _self.separator('big', _styles) }}
															{% if unsubscribe %}
																{{ _self.footer('APP.MESSAGE_EMAIL_UNSUBSCRIBE'|i18n(['APP.TITLE'|i18n|default(_pico.basepath|urlDomain)]), _styles) }}
																{{ _self.footer(_self.link(unsubscribe, 'APP.ACTION_EMAIL_UNSUBSCRIBE'|i18n, 'colorTextLight', _styles), _styles) }}
															{% endif %}
															{{ _self.separator('big', _styles) }}
															{% if footer %}
																{{ _self.footer(footer, _styles) }}
															{% else %}
																{{ _self.footer('APP.MESSAGE_EMAIL_FOOTER'|i18n, _styles) }}
															{% endif %}
														{% endblock %}
														{{ _self.separator('medium', _styles) }}
													</td>
												</tr>
											</tbody>
										</table>
										<!--[if (gte mso 9)|(IE)]>
										</td>
									</tr>
								</tbody>
							</table>
										<![endif]-->
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		{% block bottom %}{% endblock %}
	</body>
</html>