{% extends 'emails/_email.twig' %}

{% block body %}

	{{ _self.title(subject, _styles) }}
	{{ _self.separator('small', _styles) }}
	{{ _self.p('CMS.MESSAGE_EMAIL_TEST_SENT'|i18n([_pico.basepath|urlDomain]), _styles) }}
	{{ _self.separator('small', _styles) }}
	{{ _self.model(fields, config, true, _styles) }}

{% endblock %}